{% import "utils/menu.html.twig" as menu %}

{% set collections_menu = scheduleCollections(app.user, app.request.attributes) %}

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-body">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!-- account -->
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li class="nav-item mt-1">
                    <div class="d-flex flex-row align-items-center mb-3">
                        <div class="align-self-center pe-3 offmenu-item-icon">
                            <a href="{{ path('user_page') }}">
                                <i class="bi bi-person-circle progradio-connected"></i>
                            </a>
                        </div>
                        <div class="align-self-center flex-fill">
                            <a href="{{ path('user_page') }}">{{ 'menu.account'|trans }}</a>
                        </div>
                        <div class="align-self-right">
                            <a title="{{ 'menu.logout'|trans }}" href="{{ path('app_logout') }}"><i class="bi bi-box-arrow-right"></i></a>
                        </div>
                    </div>
                </li>
            {% else %}
                <li class="nav-item mt-1">
                    <div class="d-flex flex-row align-items-center mb-3">
                        <div class="align-self-center pe-3 offmenu-item-icon">
                            <a href="{{ path('app_login') }}">
                                <i class="bi bi-person-circle"></i>
                            </a>
                        </div>
                        <div class="align-self-center flex-fill">
                            <a href="{{ path('app_login') }}">{{ 'menu.signon'|trans }}</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="d-flex flex-row align-items-center mb-3">
                        <div class="align-self-center pe-3 offmenu-item-icon">

                        </div>
                        <div class="align-self-center flex-fill text-right">
                            <a href="{{ path('app_register') }}">{{ 'menu.signup'|trans }}</a>
                        </div>
                    </div>
                </li>
            {% endif %}

            <li class="nav-item offcanvas-divider mt-1 mb-0"></li>

            <!-- dark mode -->
            <li class="nav-item">
                <div class="d-flex flex-row align-items-center">
                    <div class="align-self-center pe-3 offmenu-item-icon">
                        <a title="{{ 'menu.mode.light'|trans }}" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" class="nav-link nav-link-lightmode{% if isDarkModeTime() == false %} d-none{% endif %}" href="#" href="#" onclick="toggleColorSchemeMode(); return false;"><i class="bi bi-brightness-high-fill"></i></a>
                        <a title="{{ 'menu.mode.dark'|trans }}" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" class="nav-link nav-link-darkmode{% if isDarkModeTime() %} d-none{% endif %}" href="#" href="#" onclick="toggleColorSchemeMode(); return false;"><i class="bi bi-moon-stars-fill"></i></a>
                    </div>
                    <div class="align-self-center">
                        <a title="{{ 'menu.mode.light'|trans }}" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" class="nav-link nav-link-lightmode{% if isDarkModeTime() == false %} d-none{% endif %}" href="#" href="#" onclick="toggleColorSchemeMode(); return false;"><span class="d-inline d-sm-none">&nbsp;{{ 'menu.mode.light'|trans }}</span></a>
                        <a title="{{ 'menu.mode.dark'|trans }}" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" class="nav-link nav-link-darkmode{% if isDarkModeTime() %} d-none{% endif %}" href="#" href="#" onclick="toggleColorSchemeMode(); return false;"><span class="d-inline d-sm-none">&nbsp;{{ 'menu.mode.light'|trans }}</span></a>
                    </div>
                </div>
            </li>

            <li class="nav-item offcanvas-divider mb-1"></li>

            <!-- schedule -->
            <li class="nav-item" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu">
                <a class="nav-link pb-2 spa-link" href="{{ path('app') }}schedule">{{ 'menu.schedule'|trans }}</a>
            </li>
            {{ menu.collections_mobile(collections_menu) }}

            <li class="nav-item offcanvas-divider mt-3 mb-1"></li>

            <!-- streaming -->
            <li class="nav-item" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu">
                <a class="nav-link pb-2 spa-link" href="{{ path('app') }}streaming/fr">{{ 'menu.streaming'|trans }}</a>
            </li>
            {{ menu.streaming_mobile() }}

            <li class="nav-item offcanvas-divider mt-3 mb-1"></li>

            <!-- more -->
            <li class="nav-item"><a class="nav-link pb-1 spa-link" href="{{ path('now') }}">{{ 'menu.now'|trans }}</a></li>
            <li class="nav-item"><a class="nav-link py-1" href="{{ path('faq') }}">{{ 'menu.faq'|trans }}</a></li>
            <li class="nav-item"><a class="nav-link py-1" href="{{ path('contact') }}">{{ 'menu.contact'|trans }}</a></li>

            <li class="nav-item offcanvas-divider mt-3 mb-1"></li>

            <!-- app -->
            <li class="nav-item">
                <div class="d-flex flex-row align-items-center">
                    <div class="align-self-center offmenu-item-icon">
                        <a class="nav-link pb-1" href="https://play.google.com/store/apps/details?id=io.programmes_radio.www.progradio">
                            <img style="max-width: 22px" src="{{ asset('img/icon-googleplay.png') }}" alt="{{ 'menu.app'|trans }}">
                        </a>
                    </div>
                    <div>
                        <a class="nav-link pb-1" href="https://play.google.com/store/apps/details?id=io.programmes_radio.www.progradio">
                            {{ 'menu.app'|trans }}
                        </a>
                    </div>
                </div>
            </li>

            {# bottom margin helps when the player is displayed #}
            <!-- lang -->
            <li class="nav-item  {% if not is_granted('ROLE_ADMIN') %}mb-5{% endif %}">
                <div class="d-flex flex-row align-items-center">
                    <div class="align-self-center offmenu-item-icon">
                        <a class="nav-link" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': other_locale})) }}">
                            <img style="max-width: 22px" class="gb-flag gb-flag--micro" src="{{ asset('/img/flags/' ~ flag ~ '.svg') }}" alt="{{ locale_name }}">
                        </a>
                    </div>
                    <div>
                        <a class="nav-link" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': other_locale})) }}">
                            {{ locale_name }}
                        </a>
                    </div>
                </div>
            </li>

            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item offcanvas-divider mt-2 mb-1"></li>

                <li class="nav-item"><a class="nav-link pb-1" href="{{ path('admin') }}">{{ 'menu.admin.dashboard'|trans }}</a></li>
                <li class="nav-item"><a class="nav-link py-1" href="{{ path('admin_listening') }}">{{ 'menu.admin.listening'|trans }}</a></li>
                <li class="nav-item mb-5"><a class="nav-link py-1" href="{{ path('admin_shares') }}">{{ 'menu.admin.shares'|trans }}</a></li>
            {% endif %}

        </ul>

    </div>
</div>
