{% import "utils/menu.html.twig" as menu %}

{% set collections_menu = scheduleCollections(app.user, app.request.attributes) %}

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-body">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!-- account -->
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li class="nav-item mt-0">
                    <div class="d-flex flex-row align-items-center mb-2">
                        <div class="align-self-center pe-2 offmenu-item-icon">
                            <a class="nav-link py-1" href="{{ path('user_page') }}">
                                <i class="bi bi-person-circle progradio-connected"></i>
                            </a>
                        </div>
                        <div class="align-self-center flex-fill">
                            <a class="nav-link py-1" href="{{ path('user_page') }}">{{ 'menu.account'|trans }}</a>
                        </div>
                        <div class="align-self-right">
                            <a class="nav-link py-1 pe-2" title="{{ 'menu.logout'|trans }}" href="{{ path('app_logout') }}"><i class="bi bi-box-arrow-right"></i></a>
                        </div>
                    </div>
                </li>
            {% else %}
                <li class="nav-item mt-1">
                    <div class="d-flex flex-row align-items-center mb-1">
                        <div class="align-self-center pe-3 offmenu-item-icon">
                            <a class="nav-link py-1" href="{{ path('app_login') }}">
                                <i class="bi bi-person-circle"></i>
                            </a>
                        </div>
                        <div class="align-self-center flex-fill">
                            <a class="nav-link py-1" href="{{ path('app_login') }}">{{ 'menu.signon'|trans }}</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="d-flex flex-row align-items-center mb-1">
                        <div class="align-self-center pe-3 offmenu-item-icon">

                        </div>
                        <div class="align-self-center flex-fill text-right">
                            <a class="nav-link" href="{{ path('app_register') }}">{{ 'menu.signup'|trans }}</a>
                        </div>
                    </div>
                </li>
            {% endif %}

            <li class="nav-item offcanvas-divider mt-1 mb-0"></li>

            <!-- dark mode -->
            <li class="nav-item">
                <div class="d-flex flex-row align-items-center mt-3">
                    <div class="align-self-center pe-3 offmenu-item-icon">
                        <a title="{{ 'menu.mode.light'|trans }}" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" class="py-1 nav-link nav-link-lightmode{% if isDarkModeTime(app.request) == false %} d-none{% endif %}" href="#" onclick="toggleColorSchemeMode(); return false;"><i class="bi bi-brightness-high-fill"></i></a>
                        <a title="{{ 'menu.mode.dark'|trans }}" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" class="py-1 nav-link nav-link-darkmode{% if isDarkModeTime(app.request) %} d-none{% endif %}" href="#" onclick="toggleColorSchemeMode(); return false;"><i class="bi bi-moon-stars-fill"></i></a>
                    </div>
                    <div class="align-self-center">
                        <a title="{{ 'menu.mode.light'|trans }}" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" class="py-1 nav-link nav-link-lightmode{% if isDarkModeTime(app.request) == false %} d-none{% endif %}" href="#" onclick="toggleColorSchemeMode(); return false;"><span class="d-inline d-sm-none">&nbsp;{{ 'menu.mode.light'|trans }}</span></a>
                        <a title="{{ 'menu.mode.dark'|trans }}" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" class="py-1 nav-link nav-link-darkmode{% if isDarkModeTime(app.request) %} d-none{% endif %}" href="#" onclick="toggleColorSchemeMode(); return false;"><span class="d-inline d-sm-none">&nbsp;{{ 'menu.mode.dark'|trans }}</span></a>
                    </div>
                </div>
            </li>

            <li class="nav-item mt-1">
                <div class="d-flex flex-row align-items-center mb-1 disabled">
                    <div class="align-self-center pe-3 offmenu-item-icon">
                        <a class="nav-link pb-2 nav-set-home d-none">
                            <i class="bi bi-house-heart-fill"></i>
                        </a>
                    </div>
                    <div class="align-self-center flex-fill">
                        <a class="nav-link pb-2 nav-set-home d-none">
                            <span class="nav-set-home-enable d-none">{{ 'menu.home.enable'|trans }}</span>
                            <span class="nav-set-home-disable d-none">{{ 'menu.home.disable'|trans }}</span>
                        </a>
                    </div>
                </div>
            </li>

            <li class="nav-item mt-0">
                <div class="d-flex flex-row align-items-center mb-1 disabled">
                    <div class="align-self-center pe-3 offmenu-item-icon">
                        <a class="nav-link nav-link-timer disabled"
                           href="#" title="{{ 'menu.timer'|trans }}"
                           data-bs-toggle="modal" data-bs-target="#timerModal"
                        >
                            <i class="bi bi-clock-history"></i>
                        </a>
                    </div>
                    <div class="align-self-center flex-fill">
                        <a class="nav-link nav-link-timer disabled" href="#" data-bs-toggle="modal" data-bs-target="#timerModal">{{ 'menu.timer'|trans }}</a>
                    </div>
                </div>
            </li>

            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li class="nav-item mt-0" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu">
                <div class="d-flex flex-row align-items-center mb-1 disabled">
                    <div class="align-self-center pe-3 offmenu-item-icon">
                        <a class="nav-link">
                            <i class="bi bi-music-note-list"></i>
                        </a>
                    </div>
                    <div class="align-self-center flex-fill">
                        <a class="nav-link spa-link" href="{{ path('app') }}songs">{{ 'menu.songs'|trans }}</a>
                    </div>
                </div>
            </li>
            {% endif %}

            <li class="nav-item offcanvas-divider mb-1"></li>

            <!-- schedule -->
            {% if isProgRadio(app.request) == true %}
                <li class="nav-item" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu">
                    <div class="d-flex flex-row align-items-center mb-1 disabled">
                        <div class="align-self-center pe-3 offmenu-item-icon">
                            <a class="nav-link pb-2">
                                <i class="bi bi-list-ul"></i>
                            </a>
                        </div>
                        <div class="align-self-center flex-fill">
                            <a class="nav-link pb-2 spa-link" href="{{ path('app') }}schedule">{{ 'menu.schedule'|trans }}</a>
                        </div>
                    </div>
                </li>

                {{ menu.collections_mobile(collections_menu) }}

                <li class="nav-item offcanvas-divider mt-3 mb-1"></li>
            {% endif %}

            <!-- streaming -->
            <li class="nav-item" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu">
                <div class="d-flex flex-row align-items-center mb-1 disabled">
                    <div class="align-self-center pe-3 offmenu-item-icon">
                        <a class="nav-link pb-2">
                            <i class="bi bi-music-note-list"></i>
                        </a>
                    </div>
                    <div class="align-self-center flex-fill">
                        <a class="nav-link pb-2 spa-link" href="{{ path('app') }}streaming/fr">{{ 'menu.streaming'|trans }}</a>
                    </div>
                </div>
            </li>
            {{ menu.streaming_mobile() }}

            <li class="nav-item offcanvas-divider mt-3 mb-1"></li>

            <!-- more -->
            {% if isProgRadio(app.request) == true %}
                <li class="nav-item"><a class="nav-link pb-1 spa-link" href="{{ path('now') }}">{{ 'menu.now'|trans }}</a></li>
            {% endif %}
            <li class="nav-item"><a class="nav-link py-1" href="{{ path('faq') }}">{{ 'menu.faq'|trans }}</a></li>
            <li class="nav-item"><a class="nav-link py-1" href="{{ path('contact') }}">{{ 'menu.contact'|trans }}</a></li>

            <li class="nav-item offcanvas-divider mt-2 mb-1"></li>

            {% if 'progradio' not in app.request.headers.get('User-Agent') %}
                <li class="nav-item">
                    <div class="d-flex flex-row align-items-center">
                        <div class="align-self-center pe-3 offmenu-item-icon">
                            <a class="nav-link"
                               href="{{ path('params_spa') }}" title="{{ 'menu.params'|trans }}">
                                <i class="bi bi-gear-fill"></i>
                            </a>
                        </div>
                        <div class="align-self-center flex-fill">
                            <a class="nav-link spa-link" href="{{ path('params_spa') }}">{{ 'menu.params'|trans }}</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item offcanvas-divider mt-0 mb-1"></li>
            {% endif %}

            <!-- app -->
            <li class="nav-item">
                <div class="d-flex flex-row align-items-center">
                    <div class="align-self-center offmenu-item-icon">
                        <a class="nav-link pb-1" href="https://play.google.com/store/apps/details?id=io.programmes_radio.www.progradio">
                            <img style="max-width: 22px" src="{{ asset('img/icon-googleplay.png') }}" alt="{{ 'menu.app'|trans }}">
                        </a>
                    </div>
                    <div>
                        <a class="nav-link pb-1" href="{{ getField('play_store', app.request) }}o">
                            {{ 'menu.app'|trans }}
                        </a>
                    </div>
                </div>
            </li>

            <li class="nav-item offcanvas-divider mt-3 mb-1"></li>

            {# bottom margin helps when the player is displayed #}
            <!-- lang -->
            {% for locale in locales %}
                {% if app.request.locale != locale %}
                    <li class="nav-item  {% if not is_granted('ROLE_ADMIN') and loop.last == true %}mb-5{% endif %}">
                        <div class="d-flex flex-row align-items-center">
                            <div class="align-self-center offmenu-item-icon">
                                <a class="nav-link" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': locale})) }}">
                                    <img style="max-width: 22px" class="gb-flag gb-flag--micro" src="{{ asset('/img/flags/' ~ flags[locale] ~ '.svg') }}" alt="{{ "footer.#{locale}"|trans }}">
                                </a>
                            </div>
                            <div>
                                <a class="nav-link" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': locale})) }}">
                                    {{ "footer.#{locale}"|trans }}
                                </a>
                            </div>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}

            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item offcanvas-divider mt-2 mb-1"></li>

                <li class="nav-item"><a class="nav-link pb-1" href="{{ path('admin') }}">{{ 'menu.admin.dashboard'|trans }}</a></li>
                <li class="nav-item"><a class="nav-link py-1" href="{{ path('admin_listening') }}">{{ 'menu.admin.listening'|trans }}</a></li>
                <li class="nav-item mb-5"><a class="nav-link py-1" href="{{ path('admin_playing_errors') }}">{{ 'menu.admin.playing_errors'|trans }}</a></li>
                <li class="nav-item"><a class="nav-link py-1" href="{{ path('admin_shares') }}">{{ 'menu.admin.shares'|trans }}</a></li>

            {% endif %}

        </ul>

    </div>
</div>
