{% import "utils/menu.html.twig" as menu %}

{% set collections_menu = scheduleCollections(app.user, app.request.attributes) %}

{% include('_partials/mobilemenu.html.twig') %}

<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" onclick="scrollToCursor(this); return false;">
            <img src="{{ asset('img/logo.png') }}" srcset="{{ asset('img/logo.svg') }}" alt="Programmes radios" class="d-inline-block align-text-top">Programmes Radio</a>
        {% if 'Android' in app.request.headers.get('User-Agent') and 'progradio' not in app.request.headers.get('User-Agent') %}
            <div>
                <a href="https://play.google.com/store/apps/details?id=io.programmes_radio.www.progradio"><img src="{{ asset('img/icon-googleplay.png') }}" alt="{{ 'menu.app'|trans }}"></a>
            </div>
        {% endif %}
        <div class="d-block d-sm-none">
            <a title="{{ 'menu.mode.light'|trans }}" class="nav-top-icon nav-link-lightmode{% if isDarkModeTime() == false %} d-none{% endif %}" href="#" href="#" onclick="toggleColorSchemeMode(); return false;"><i class="bi bi-brightness-high-fill"></i></a>
            <a title="{{ 'menu.mode.dark'|trans }}" class="nav-top-icon nav-link-darkmode{% if isDarkModeTime() %} d-none{% endif %}" href="#" href="#" onclick="toggleColorSchemeMode(); return false;"><i class="bi bi-moon-stars-fill"></i></a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {# Schedule #}
                <li class="nav-item pe-0">
                    <a class="nav-link" href="{{ path('app') }}#/schedule" onclick="scrollToCursor(this)" style="padding-right: 0">{{ 'menu.schedule'|trans }}</a>
                </li>
                <li class="nav-item ps-2 pe-0 d-none d-sm-block"
                        title="{{ 'menu.favorites'|trans }}">
                    <a class="nav-link" href="{{ path('app') }}#/schedule/favorites"><i class="bi bi-star-fill"></i></a>
                </li>
                {{ menu.collections_menu(collections_menu) }}

                {# Streaming #}
                <li class="nav-item pe-0">
                    <a class="nav-link" href="{{ path('app') }}#/streaming/fr" style="padding-right: 0">{{ 'menu.streaming'|trans }}</a>
                </li>
                <li id="streams-top-menu-favorites" class="nav-item ps-2 pe-0 d-none d-sm-block" title="{{ 'menu.favorites'|trans }}">
                    <a class="nav-link pr-0" href="{{ path('app') }}#/streaming/favorites"><i class="bi bi-star-fill"></i></a>
                </li>
                <li class="nav-item dropdown d-none d-sm-block">
                    <a class="nav-link dropdown-toggle pe-0" href="#" id="navbarCollectionsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarCollectionsDropdown">
                        <li>
                            <a class="dropdown-item" href="{{ path('app') }}#/streaming/fr">{{ 'menu.favorites_menu.fr'|trans }}</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ path('app') }}#/streaming/all">{{ 'menu.favorites_menu.all'|trans }}</a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="{{ path('app') }}#/streaming/favorites">{{ 'menu.favorites'|trans }}</a>
                        </li>
                    </ul>
                </li>

                {# Plus #}
                <li class="nav-item dropdown pe-0">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ 'menu.plus'|trans}}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        {% if app.request.get('_route') == 'app' %}
                            <li><a class="dropdown-item" href="{{ path('app') }}#/now">{{ 'menu.now'|trans }}</a></li>
                        {% else %}
                            <li><a class="dropdown-item" href="{{ path('now') }}">{{ 'menu.now'|trans }}</a></li>
                        {% endif %}
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ path('faq') }}">{{ 'menu.faq'|trans }}</a></li>
                        <li><a class="dropdown-item" href="{{ path('contact') }}">{{ 'menu.contact'|trans }}</a></li>
                        <li><hr class="dropdown-divider"></li>

                        <li><a class="dropdown-item" href="https://play.google.com/store/apps/details?id=io.programmes_radio.www.progradio"><div class="menu-appstore-icon"><img src="{{ asset('img/icon-googleplay.png') }}" alt="{{ 'menu.app'|trans }}"></div>{{ 'menu.app'|trans }}</a></li>
                        <li><a class="dropdown-item" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': other_locale})) }}">
                                <div class="menu-flag-icon">
                                    <img class="gb-flag gb-flag--micro" src="{{ asset('/img/flags/' ~ flag ~ '.svg') }}" alt="{{ locale_name }}">
                                </div>
                            {{ locale_name }}</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item ps-0 pe-1">
                    <a title="{{ 'menu.mode.light'|trans }}" class="nav-link nav-link-lightmode{% if isDarkModeTime() == false %} d-none{% endif %}" href="#" onclick="toggleColorSchemeMode(); return false;"><i class="bi bi-brightness-high-fill"></i>
                        <span class="d-inline d-sm-none">&nbsp;{{ 'menu.mode.light'|trans }}</span>
                    </a>
                    <a title="{{ 'menu.mode.dark'|trans }}" class="nav-link nav-link-darkmode {% if isDarkModeTime() %} d-none{% endif %}" href="#" onclick="toggleColorSchemeMode(); return false;"><i class="bi bi-moon-stars-fill"></i>
                        <span class="d-inline d-sm-none">&nbsp;{{ 'menu.mode.dark'|trans }}</span>
                    </a>
                </li>

                {# User #}
                <li class="nav-item dropdown pe-0">
                    <a class="py-2 nav-link dropdown-toggle" href="#" id="navbarUserDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-circle{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %} progradio-connected{% endif %}" style="font-size: 19px"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarUserDropdown">
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            {% if is_granted('ROLE_ADMIN') %}
                            <li><a class="dropdown-item" href="{{ path('admin') }}">{{ 'menu.admin.dashboard'|trans }}</a></li>
                            <li><a class="dropdown-item" href="{{ path('admin_listening') }}">{{ 'menu.admin.listening'|trans }}</a></li>
                            <li><a class="dropdown-item" href="{{ path('admin_shares') }}">{{ 'menu.admin.shares'|trans }}</a></li>
                            <li><hr class="dropdown-divider"></li>
                            {% endif %}

                        <li><a class="dropdown-item" href="{{ path('user_page') }}">{{ 'menu.account'|trans }}</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_logout') }}">{{ 'menu.logout'|trans }}</a></li>
                        {% else %}
                            <li><a class="dropdown-item" href="{{ path('app_login') }}">{{ 'menu.signon'|trans }}</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_register') }}">{{ 'menu.signup'|trans }}</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
