{% import "utils/menu.html.twig" as menu %}

{% set collections_menu = scheduleCollections(app.user, app.request.attributes) %}

{% include('_partials/mobilemenu.html.twig') %}

<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app') }}{% if isProgRadio(app.request) == true %}schedule{% else %}streaming{% endif %}" onclick="return scrollToCursor();">
            <img src="{{ asset('img/logo.png') }}" srcset="{{ asset('img/logo.svg') }}" alt="{{ getDomainName(app.request) }}" class="d-inline-block align-text-top">{{ getDomainName(app.request) }}</a>
        {% if 'Android' in app.request.headers.get('User-Agent') and 'progradio' not in app.request.headers.get('User-Agent') %}
            <div>
                <a href="{{ getField('play_store', app.request) }}"><img src="{{ asset('img/icon-googleplay.png') }}" alt="{{ 'menu.app'|trans }}"></a>
            </div>
        {% endif %}

        {# Favorites #}
        <div id="mobile-schedule-favorites-shortcut" class="d-block d-sm-none d-none">
            <a title="{{ 'menu.favorites'|trans }}" class="nav-top-icon spa-link" href="{{ path('app') }}schedule/favorites"><i class="bi bi-star-fill"></i></a>
        </div>
        <div id="mobile-streaming-favorites-shortcut" class="d-block d-sm-none d-none">
            <a title="{{ 'menu.favorites'|trans }}" class="nav-top-icon spa-link" href="{{ path('app') }}streaming/favorites"><i class="bi bi-star-fill"></i></a>
        </div>

        {# Dark mode #}
        <div class="d-block d-sm-none">
            <a title="{{ 'menu.mode.light'|trans }}" class="nav-top-icon nav-link-lightmode{% if isDarkModeTime() == false %} d-none{% endif %}" href="#" onclick="toggleColorSchemeMode(); return false;"><i class="bi bi-brightness-high-fill"></i></a>
            <a title="{{ 'menu.mode.dark'|trans }}" class="nav-top-icon nav-link-darkmode{% if isDarkModeTime() %} d-none{% endif %}" href="#" onclick="toggleColorSchemeMode(); return false;"><i class="bi bi-moon-stars-fill"></i></a>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {# Schedule #}
                {% if isProgRadio(app.request) == true %}
                <li class="nav-item pe-0">
                    <a class="nav-link spa-link" href="{{ path('app') }}schedule" onclick="scrollToCursor(this)" style="padding-right: 0">{{ 'menu.schedule'|trans }}</a>
                </li>
                <li class="nav-item ps-2 pe-0 d-none d-sm-block">
                    <a title="{{ 'menu.favorites'|trans }}" class="nav-link spa-link" href="{{ path('app') }}schedule/favorites"><i class="bi bi-star-fill"></i></a>
                </li>
                {{ menu.collections_menu(collections_menu) }}
                {% endif %}

                {# Streaming #}
                <li class="nav-item pe-0">
                    <a class="nav-link spa-link" href="{{ path('app') }}streaming" style="padding-right: 0">{{ 'menu.streaming'|trans }}</a>
                </li>
                <li id="streams-top-menu-favorites" class="nav-item ps-2 pe-0 d-none d-sm-block">
                    <a title="{{ 'menu.favorites'|trans }}" class="nav-link pr-0 spa-link" href="{{ path('app') }}streaming/favorites"><i class="bi bi-star-fill"></i></a>
                </li>
                <li class="nav-item dropdown d-none d-sm-block">
                    <a class="nav-link dropdown-toggle pe-0" href="#" id="navbarCollectionsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
                    {{ menu.streaming_menu() }}
                </li>

                {# Plus #}
                <li class="nav-item dropdown pe-0">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ 'menu.plus'|trans}}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        {% if isProgRadio(app.request) == true %}
                            <li><a class="dropdown-item spa-link" href="{{ path('now') }}">{{ 'menu.now'|trans }}</a></li>
                            <li><hr class="dropdown-divider"></li>
                        {% endif %}

                        <li>
                            <a class="dropdown-item nav-set-home d-none">
                                <span class="nav-set-home-enable d-none">{{ 'menu.home.enable'|trans }}</span>
                                <span class="nav-set-home-disable d-none">{{ 'menu.home.disable'|trans }}</span>
                            </a>
                        </li>
{#                        <li><a class="dropdown-item d-none nav-set-home-disabled">{{ 'menu.home.disabled'|trans }}</a></li>#}
                        {% if 'progradio' not in app.request.headers.get('User-Agent') %}
                            <li><a class="dropdown-item spa-link" href="{{ path('params_spa') }}">{{ 'menu.params'|trans }}</a></li>
                        {% endif %}
                        <li><hr class="dropdown-divider"></li>

                        <li><a class="dropdown-item" href="{{ path('faq') }}">{{ 'menu.faq'|trans }}</a></li>
                        <li><a class="dropdown-item" href="{{ path('contact') }}">{{ 'menu.contact'|trans }}</a></li>
                        <li><hr class="dropdown-divider"></li>

                        <li><a class="dropdown-item" href="{{ getField('play_store', app.request) }}"><div class="menu-appstore-icon"><img src="{{ asset('img/icon-googleplay.png') }}" alt="{{ 'menu.app'|trans }}"></div>{{ 'menu.app'|trans }}</a></li>
                        <li><hr class="dropdown-divider"></li>

                        {% for locale in locales %}
                            {% if app.request.locale != locale %}
                                <li><a class="dropdown-item" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': locale})) }}">
                                        <div class="menu-flag-icon">
                                            <img class="gb-flag gb-flag--micro" src="{{ asset('/img/flags/' ~ flags[locale] ~ '.svg') }}" alt="{{ "footer.#{locale}"|trans }}">
                                        </div>
                                        {{ "footer.#{locale}"|trans }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>

                <li class="nav-item ps-0 pe-1">
                    <a title="{{ 'menu.mode.light'|trans }}" class="nav-link nav-link-lightmode{% if isDarkModeTime() == false %} d-none{% endif %}" href="#" onclick="toggleColorSchemeMode(); return false;"><i class="bi bi-brightness-high-fill"></i>
                        <span class="d-inline d-sm-none">&nbsp;{{ 'menu.mode.light'|trans }}</span>
                    </a>
                    <a title="{{ 'menu.mode.dark'|trans }}" class="nav-link nav-link-darkmode {% if isDarkModeTime() %} d-none{% endif %}" href="#" onclick="toggleColorSchemeMode(); return false;"><i class="bi bi-moon-stars-fill"></i>
                        <span class="d-inline d-sm-none">&nbsp;{{ 'menu.mode.dark'|trans }}</span>
                    </a>
                </li>

                {# User #}
                <li class="nav-item dropdown pe-0">
                    <a class="py-2 nav-link dropdown-toggle" href="#" id="navbarUserDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-circle{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %} progradio-connected{% endif %}" style="font-size: 19px"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarUserDropdown">
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            {% if is_granted('ROLE_ADMIN') %}
                            <li><a class="dropdown-item" href="{{ path('admin') }}">{{ 'menu.admin.dashboard'|trans }}</a></li>
                            <li><a class="dropdown-item" href="{{ path('admin_listening') }}">{{ 'menu.admin.listening'|trans }}</a></li>
                            <li><a class="dropdown-item" href="{{ path('admin_shares') }}">{{ 'menu.admin.shares'|trans }}</a></li>
                            <li><a class="dropdown-item" target="_blank" href="/admin/goaccessiframe">GoAccess</a></li>
                            <li><hr class="dropdown-divider"></li>
                            {% endif %}

                        <li><a class="dropdown-item" href="{{ path('user_page') }}">{{ 'menu.account'|trans }}</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_logout') }}">{{ 'menu.logout'|trans }}</a></li>
                        {% else %}
                            <li><a class="dropdown-item" href="{{ path('app_login') }}">{{ 'menu.signon'|trans }}</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_register') }}">{{ 'menu.signup'|trans }}</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
