{% import "utils/menu.html.twig" as menu %}

{% set collections_menu = scheduleCollections(app.request.attributes) %}

{% include '_partials/mobilemenu.html.twig' with {'collections_menu': collections_menu} %}

<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary" style="direction:ltr/*rtl:ignore*/;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app') }}{% if isProgRadio(app.request) == true %}schedule{% else %}streaming{% endif %}" onclick="return scrollToCursor();">
            <img src="{{ asset('img/logo.png') }}" srcset="{{ asset('img/logo.svg') }}" alt="{{ getDomainName(app.request) }}" class="d-inline-block align-text-top">{{ getDomainName(app.request) }}</a>
        {% if 'Android' in app.request.headers.get('User-Agent') and 'progradio' not in app.request.headers.get('User-Agent') %}
            <div>
                <a href="{{ getField('play_store', app.request) }}"><img src="{{ asset('img/icon-googleplay.png') }}" alt="{{ 'menu.app'|trans }}"></a>
            </div>
        {% endif %}

        {# Favorites #}
        <div id="mobile-schedule-favorites-shortcut" class="d-block d-sm-none d-none">
            <a title="{{ 'menu.favorites'|trans }}" class="nav-top-icon spa-link" href="{{ path('app') }}schedule/favorites"><i class="bi bi-heart-fill"></i></a>
        </div>
        <div id="mobile-streaming-favorites-shortcut" class="d-block d-sm-none d-none">
            <a title="{{ 'menu.favorites'|trans }}" class="nav-top-icon spa-link" href="{{ path('app') }}streaming/favorites"><i class="bi bi-heart-fill"></i></a>
        </div>

        {# Dark mode #}
        <div class="d-block d-sm-none">
            <a title="{{ 'menu.mode.light'|trans }}" class="nav-top-icon nav-link-lightmode{% if isDarkModeTime(app.request) == false %} d-none{% endif %}" href="#" onclick="toggleColorSchemeMode(); return false;"><i class="bi bi-brightness-high-fill"></i></a>
            <a title="{{ 'menu.mode.dark'|trans }}" class="nav-top-icon nav-link-darkmode{% if isDarkModeTime(app.request) %} d-none{% endif %}" href="#" onclick="toggleColorSchemeMode(); return false;"><i class="bi bi-moon-stars-fill"></i></a>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {# Schedule #}
                {% if isProgRadio(app.request) == true %}
                <li class="nav-item pe-0">
                    <a class="nav-link spa-link" href="{{ path('app') }}schedule" onclick="scrollToCursor(this)" style="padding-right: 0">{{ 'menu.schedule'|trans }}</a>
                </li>
                <li class="nav-item ps-2 pe-0 d-none d-sm-block">
                    <a title="{{ 'menu.favorites'|trans }}" class="nav-link spa-link" href="{{ path('app') }}schedule/favorites"><i class="bi bi-heart-fill"></i></a>
                </li>
                {{ menu.collections_menu(collections_menu) }}
                {% endif %}

                {# Streaming #}
                <li class="nav-item pe-0">
                    <a class="nav-link spa-link" href="{{ path('app') }}streaming" style="padding-right: 0">{{ 'menu.streaming'|trans }}</a>
                </li>
                <li id="streams-top-menu-favorites" class="nav-item ps-2 pe-0 d-none d-sm-block">
                    <a title="{{ 'menu.favorites'|trans }}" class="nav-link pr-0 spa-link" href="{{ path('app') }}streaming/favorites"><i class="bi bi-heart-fill"></i></a>
                </li>
                <li class="nav-item dropdown d-none d-sm-block">
                    <a class="nav-link dropdown-toggle pe-0" href="#" id="navbarCollectionsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
                    {{ menu.streaming_menu() }}
                </li>

                {% if is_logged == true %}
                    <li class="nav-item pe-2 d-none d-sm-block">
                        <a title="{{ 'menu.songs'|trans }}" class="nav-link pr-0 spa-link" href="{{ path('app') }}songs"><i class="bi bi-music-note-list"></i></a>
                    </li>
                {% endif %}

                {# Plus #}
                <li class="nav-item dropdown pe-0">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarPlusDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ 'menu.plus'|trans}}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarPlusDropdown">
                        {% if isProgRadio(app.request) == true %}
                            <li><a class="dropdown-item spa-link" href="{{ path('now') }}">{{ 'menu.now'|trans }}</a></li>
                            <li><hr class="dropdown-divider"></li>
                        {% endif %}

                        <li>
                            <a class="dropdown-item nav-set-home d-none">
                                <span class="nav-set-home-enable d-none">{{ 'menu.home.enable'|trans }}</span>
                                <span class="nav-set-home-disable d-none">{{ 'menu.home.disable'|trans }}</span>
                            </a>
                        </li>

                        {% if 'progradio' not in app.request.headers.get('User-Agent') %}
                            <li><a class="dropdown-item spa-link" href="{{ path('params_spa') }}">{{ 'menu.params'|trans }}</a></li>
                        {% endif %}
                        <li><hr class="dropdown-divider"></li>

                        <li><a class="dropdown-item" href="{{ path('faq') }}">{{ 'menu.faq'|trans }}</a></li>
                        <li><a class="dropdown-item" href="{{ path('contact') }}">{{ 'menu.contact'|trans }}</a></li>
                        <li><hr class="dropdown-divider"></li>

                        <li><a class="dropdown-item" href="{{ getField('play_store', app.request) }}"><div class="menu-appstore-icon"><img src="{{ asset('img/icon-googleplay.png') }}" alt="{{ 'menu.app'|trans }}"></div>{{ 'menu.app'|trans }}</a></li>

                        {% if isProgRadio(app.request) == true %}
                            <li><hr class="dropdown-divider"></li>

                            {% for locale in locales %}
                                {% if app.request.locale != locale %}
                                    {% set redirect_url = url(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': locale}))|url_encode %}
                                    <li>
                                        <a class="dropdown-item" href="{{ path('locale_switch', {'locale': locale}) }}?redirect={{ redirect_url }}">
                                            <div class="menu-flag-icon">
                                                <img class="gb-flag gb-flag--micro" src="{{ asset('img/flags/' ~ flags[locale] ~ '.svg') }}" alt="{{ "footer.#{locale}"|trans }}">
                                            </div>
                                            {{ "footer.#{locale}"|trans }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </ul>
                </li>

                <li class="nav-item ps-0 pe-1">
                    <a title="{{ 'menu.mode.light'|trans }}" class="nav-link nav-link-lightmode{% if isDarkModeTime(app.request) == false %} d-none{% endif %}" href="#" onclick="toggleColorSchemeMode(); return false;"><i class="bi bi-brightness-high-fill"></i>
                        <span class="d-inline d-sm-none">&nbsp;{{ 'menu.mode.light'|trans }}</span>
                    </a>
                    <a title="{{ 'menu.mode.dark'|trans }}" class="nav-link nav-link-darkmode {% if isDarkModeTime(app.request) %} d-none{% endif %}" href="#" onclick="toggleColorSchemeMode(); return false;"><i class="bi bi-moon-stars-fill"></i>
                        <span class="d-inline d-sm-none">&nbsp;{{ 'menu.mode.dark'|trans }}</span>
                    </a>
                </li>

                {# Locale #}
                {% if isProgRadio(app.request) == false %}
                <li class="nav-item dropdown ms-1 pe-2 d-none d-sm-block">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img style="margin-top: -2px; margin-right: 2px;" class="gb-flag gb-flag--micro" src="{{ asset('img/flags/' ~ flags[app.request.locale] ~ '.svg') }}" alt="{{ "footer.#{app.request.locale}"|trans }}">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarLocaleDropdown">
                        {% for locale in locales %}
                            {% if app.request.locale != locale %}
                                {% set redirect_url = url(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': locale}))|url_encode %}
                                <li>
                                    <a class="dropdown-item" href="{{ path('locale_switch', {'locale': locale}) }}?redirect={{ redirect_url }}">
                                        <div class="menu-flag-icon">
                                            <img class="gb-flag gb-flag--micro" src="{{ asset('img/flags/' ~ flags[locale] ~ '.svg') }}" alt="{{ "footer.#{locale}"|trans }}">
                                        </div>
                                        {{ "footer.#{locale}"|trans }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}

                {# User #}
                <li class="nav-item dropdown pe-0">
                    <a class="py-2 nav-link dropdown-toggle" href="#" id="navbarUserDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-circle{% if is_logged == true %} progradio-connected{% endif %}" style="font-size: 19px"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarUserDropdown">
                        {% if is_logged == true %}
                            <li><a class="dropdown-item" href="{{ path('user_page') }}">{{ 'menu.account'|trans }}</a></li>
                            <li><a class="dropdown-item" href="{{ path('_logout_main') }}">{{ 'menu.logout'|trans }}</a></li>

                            {% if is_granted('ROLE_ADMIN') %}
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{ path('admin') }}">{{ 'menu.admin.dashboard'|trans }}</a></li>
                            <li><a class="dropdown-item" href="{{ path('admin_listening') }}">{{ 'menu.admin.listening'|trans }}</a></li>
                            {# <li><a class="dropdown-item" href="{{ path('admin_overloading') }}">{{ 'menu.admin.overloading'|trans }}</a></li> #}
                            <li><a class="dropdown-item" href="{{ path('admin_playing_errors') }}">{{ 'menu.admin.playing_errors'|trans }}</a></li>
                            <li><a class="dropdown-item" href="{{ path('admin_cache') }}">{{ 'menu.admin.actions'|trans }}</a></li>
                            {# <li><a class="dropdown-item" href="{{ path('admin_stream_check') }}">{{ 'menu.admin.check'|trans }}</a></li> #}
                            <li><a class="dropdown-item" href="{{ path('admin_stream_suggestions') }}">{{ 'menu.admin.suggestions'|trans }}</a></li>
                            <li><a class="dropdown-item" href="{{ path('easy_admin') }}">{{ 'menu.admin.easyadmin'|trans }}</a></li>
                            <li><a class="dropdown-item" href="{{ path('admin_shares') }}">{{ 'menu.admin.shares'|trans }}</a></li>
                            <li><a class="dropdown-item" target="_blank" href="/admin/goaccessiframe">GoAccess</a></li>
                            {% endif %}
                        {% else %}
                            <li><a class="dropdown-item" href="{{ path('app_login') }}">{{ 'menu.signon'|trans }}</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_register') }}">{{ 'menu.signup'|trans }}</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
