{% extends 'base.html.twig' %}

{% block title %}{{ 'page.registered.page_title'|trans }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <h3 class="mb-4">{{ 'page.registered.page_title'|trans }}</h3>

            <div class="alert alert-success" role="alert">
                <strong>{{ 'page.registered.alert_1'|trans }}</strong><br>
                {{ 'page.registered.alert_2'|trans }}
            </div>

            <p>
                <strong>{{ 'page.registered.what_now_question'|trans }}</strong>
            </p>
            <p>
                <a href="{{ path('app_login') }}">{{ 'page.registered.what_now_choice1'|trans }}</a><hr />
                <a href="{{ path('app') }}schedule">{{ 'page.registered.what_now_choice2'|trans }}</a><br>
                <a href="{{ path('app') }}streaming">{{ 'page.registered.what_now_choice3'|trans }}</a>
            </p>

        </div>
        <div class="col-md-offset-1 col-md-5 col-xs-12 pt-4 pt-sm-0">
            {%  include('default/boxes/whyaccount.html.twig') %}
        </div>
    </div>
</div>
{% endblock %}
