{% extends 'base.html.twig' %}

{% block title %}{{ 'page.login.page_title'|trans }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <h3 class="mb-4">{{ 'page.login.page_title'|trans }}</h3>

            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="alert alert-success" role="alert">
                        {{ 'connectionForm.already_logged'|trans({'%email%': app.user.email}) }}, <a href="{{ path('_logout_main') }}">{{ 'connectionForm.logout'|trans }}</a>
                    </div>
                {% endif %}

                <div class="mb-3">
                    <label for="inputUsername">{{ 'connectionForm.email'|trans }}</label>
                    <input type="text" value="{{ last_username }}" name="_username" id="inputUsername" class="form-control" required autofocus>
                </div>

                <div class="mb-3">
                    <label for="inputPassword">{{ 'connectionForm.password'|trans }}</label>
                    <input type="password" name="_password" id="inputPassword" class="form-control" required>
                </div>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}">

                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" name="_remember_me" id="remember_me" checked>
                    <label class="form-check-label" for="flexCheckDefault">
                        {{ 'connectionForm.remember_me'|trans }}
                    </label>
                </div>

                <button class="btn btn-primary mb-3 mt-2" type="submit">
                    {{ 'connectionForm.submit_connect'|trans }}
                </button>
            </form>
            <p class="space-up-20"><a href="{{ path('forgotten_password') }}">{{ 'page.login.forgotten_password'|trans }}</a></p>
        </div>
        <div class="offset-md-1 col-md-4 col-xs-12 pt-4 pt-sm-0">
            {% include('default/boxes/noaccount.html.twig') %}
        </div>
    </div>
</div>
{% endblock %}
