{% extends 'base_site.html.twig' %}

{% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}

{% block title %}{{ 'page.user.page_title'|trans }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-12">
            <h3 class="mb-4">{{ 'page.user.page_title'|trans }}</h3>

            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}

            {{ form_row(registrationForm.captcha) }}
            <br>

            <button type="submit" class="btn btn-primary">{{ 'registrationForm.submit_create'|trans }}</button>
            {{ form_end(registrationForm) }}
        </div>
        <div class="offset-md-1 col-md-5 col-12 pt-4 pt-sm-0">
            {%  include('default/boxes/whyaccount.html.twig') %}
            {% include('default/boxes/haveaccount.html.twig') %}
        </div>
    </div>
</div>
{% endblock %}
