{% import "default/admin/macro/format.html.twig" as format %}

{% for entry in collections_admin %}
    {% if radio_collections_listening[entry.code_name] is defined %}
    <table class="table schedule-stats table-striped table-bordered">
        <tr>
            <th style="width:{{ 100 / collections_admin|length }}%">{{ entry.name_FR }}</th>
            <th>
                <div class="row">
                    <div class="col-md-3">Total</div>
                    <div class="col-md-4">
                        {% if sessions_radios_sum[entry.code_name] is defined %}
                            {{ sessions_radios_sum[entry.code_name].total_sessions }}
                        {% else %}
                            0
                        {% endif %}
                    </div>
                    <div class="col-md-5">
                        {% if sessions_radios_sum[entry.code_name] is defined %}
                            {{ format.secondsToMinutes(sessions_radios_sum[entry.code_name].total_seconds) }}
                        {% else %}
                            -
                        {% endif %}
                    </div>
                </div>
            </th>
            <th colspan="3"></th>
        </tr>

        {% for entries in radio_collections_listening[entry.code_name]|batch(5) %}
            <tr>
                {% for one in entries %}
                    <td style="width: 20%">
                        <div class="row position-relative" v-scope v-cloak>
                            {% if one != 'empty' %}
                                <span v-if="totalOfRadio('radio', '{{ one.codeName}}') > 0"
                                      class="admin-ls-badge position-absolute top-0 start-0 translate-middle badge rounded-pill bg-success">
                                {%  verbatim %}{{{% endverbatim %} totalOfRadio('radio', '{{ one.codeName}}') {%  verbatim %}}}{% endverbatim %}
                                </span>
                                <div class="col-md-3"><img title="{{ one.name }}" alt="{{ one.name }}" src="{{ asset('img/radio/schedule/' ~ one.codeNameRadio ~ '.png') }}"></div>
                                <div class="col-md-4">
                                    {{ one.total_sessions }}
                                </div>
                                <div class="col-md-5">{{ format.secondsToMinutes(one.total_seconds) }}</div>
                            {% endif %}
                        </div>
                    </td>
                {% endfor %}
                {% set fillTd = 5 - entries|length %}
                {% if fillTd > 0 %}
                    {% for i in 0..fillTd-1 %}
                        <td style="width: 20%"></td>
                    {% endfor %}
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endfor %}

<div id="streams"></div>

<table class="table schedule-stats table-striped table-bordered">
    <tr>
        <th style="width:{{ 100 / collections_admin|length }}%">
            <div class="row">
                <div class="col-md-3">
                    Total
                </div>
                <div class="col-md-4">
                    {{ sessions_radios_total.total_sessions }}
                </div>
                <div class="col-md-5">
                    {% if sessions_radios_total.total_sessions > 0 %}
                        {{ format.secondsToMinutes(sessions_radios_total.total_seconds) }}
                    {% else %}
                        -
                    {% endif %}
                </div>
            </div>
        </th>
        <td style="width:{{ 100 / collections_admin|length }}%">
            <div class="row">
                <div class="col-md-3">
                    <strong>Web</strong>
                </div>
                <div class="col-md-4">
                    {% if sessions_radios_device['web'] is defined %}
                        {{ sessions_radios_device['web'].total_sessions }}
                    {% endif %}
                </div>
                <div class="col-md-5">
                    {% if sessions_radios_device['web'] is defined and sessions_radios_device['web'].total_sessions > 0 %}
                        {{ format.secondsToMinutes(sessions_radios_device['web'].total_seconds) }}
                    {% else %}
                        -
                    {% endif %}
                </div>
            </div>
        </td>
        <td style="width:{{ 100 / collections_admin|length }}%">
            <div class="row">
                <div class="col-md-3">
                    <strong>Android</strong>
                </div>
                <div class="col-md-4">
                    {% if sessions_radios_device['android'] is defined %}
                        {{ sessions_radios_device['android'].total_sessions }}
                    {% endif %}
                </div>
                <div class="col-md-5">
                    {% if sessions_radios_device['android'] is defined and sessions_radios_device['android'].total_sessions > 0 %}
                        {{ format.secondsToMinutes(sessions_radios_device['android'].total_seconds) }}
                    {% else %}
                        -
                    {% endif %}
                </div>
            </div>
        </td>
        <td style="width:{{ 100 / collections_admin|length }}%">
            <div class="row">
                <div class="col-md-3">
                    <strong>SEO</strong>
                </div>
                <div class="col-md-4">
                    {% if sessions_radios_device['seo'] is defined %}
                        {{ sessions_radios_device['seo'].total_sessions }}
                    {% endif %}
                </div>
                <div class="col-md-5">
                    {% if sessions_radios_device['seo'] is defined and sessions_radios_device['seo'].total_sessions > 0 %}
                        {{ format.secondsToMinutes(sessions_radios_device['seo'].total_seconds) }}
                    {% else %}
                        -
                    {% endif %}
                </div>
            </div>
        </td>
        <td style="width:{{ 100 / collections_admin|length }}%">
        </td>
    </tr>
</table>
