{% import "default/admin/macro/format.html.twig" as format %}

<table class="table schedule-stats table-striped table-bordered">
    <tr>
        {% for i in 0..4 %}
            <th style="width: 20%">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-3">Sess.</div>
                    <div class="col-md-5">Total</div>
                </div>
            </th>
        {% endfor %}
    </tr>

    {% for entries in streams_listening|batch(5) %}
        <tr>
            {% for one in entries %}
                <td class="align-middle position-relative" v-scope v-cloak>
                    {% if one != 'empty' %}
                    <span v-if="totalOfRadio('stream', '{{ one.id }}') > 0"
                        class="admin-ls-badge position-absolute top-25 translate-middle badge rounded-pill bg-success">
                        {%  verbatim %}{{{% endverbatim %} totalOfRadio('stream', '{{ one.id }}') {%  verbatim %}}}{% endverbatim %}
                    </span>
                    <div class="row align-items-center">
                        <div class="col-md-3">
                            <a target="_blank" href="{{ path('admin_overloading', {streamId: one.id}) }}">
                                <img title="{{ one.name }}" alt="{{ one.name }}"
                                {% if one.img is null and one.radio_code_name is null %}
                                    src="{{ asset('/img/stream-placeholder.png') }}"
                                {% elseif one.radio_code_name is not null %}
                                    src="{{ asset('img/radio/schedule/' ~ one.radio_code_name ~ '.png') }}"
                                {% else %}
                                    src="{{ asset('media/stream/' ~ one.img) }}"
                                        {% endif %}>
                            </a>
                        </div>
                        <div class="col-md-1">
                            {% if one.country_code is defined %}
                                <img class="gb-flag gb-flag--micro" title="{{ one.country_code }}" alt="{{ one.country_code }}" src="/img/flags/{{ one.country_code|lower }}.svg">
                            {% else %}
                                -
                            {% endif %}
                        </div>
                        <div class="col-md-3">{{ one.total_sessions }}</div>
                        <div class="col-md-5">
                            <a target="_blank" style="color: #666; text-decoration: none" href="{{ path('app') }}streaming/{{ one.id }}">{{ format.secondsToMinutes(one.total_seconds) }}</a>
                        </div>
                    </div>
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

<table class="table schedule-stats table-striped table-bordered">
    <tr>
        <th style="width: 20%">
            <div class="row">
                <div class="col-md-3">
                    Total
                </div>
                <div class="col-md-4">
                    {{ sessions_streams_total.total_sessions }}
                </div>
                <div class="col-md-4">
                    {% if sessions_streams_total.total_sessions > 0 %}
                        {{ format.secondsToMinutes(sessions_streams_total.total_seconds) }}
                    {% else %}
                        -
                    {% endif %}
                </div>
            </div>
        </th>
        <td style="width: 20%">
            <div class="row">
                <div class="col-md-3">
                    <strong>Web</strong>
                </div>
                <div class="col-md-4">
                    {% if sessions_streams_device['web'] is defined %}
                        {{ sessions_streams_device['web'].total_sessions }}
                    {% endif %}
                </div>
                <div class="col-md-5">
                    {% if sessions_streams_device['web'] is defined and sessions_streams_device['web'].total_sessions > 0 %}
                        {{ format.secondsToMinutes(sessions_streams_device['web'].total_seconds) }}
                    {% else %}
                        -
                    {% endif %}
                </div>
            </div>
        </td>
        <td style="width: 20%">
            <div class="row">
                <div class="col-md-3">
                    <strong>Android</strong>
                </div>
                <div class="col-md-4">
                    {% if sessions_streams_device['android'] is defined %}
                        {{ sessions_streams_device['android'].total_sessions }}
                    {% endif %}
                </div>
                <div class="col-md-5">
                    {% if sessions_streams_device['android'] is defined and sessions_streams_device['android'].total_sessions > 0 %}
                        {{ format.secondsToMinutes(sessions_streams_device['android'].total_seconds) }}
                    {% else %}
                        -
                    {% endif %}
                </div>
            </div>
        </td>
        <td style="width: 20%">
            <div class="row">
                <div class="col-md-3">
                    <strong>SEO</strong>
                </div>
                <div class="col-md-4">
                    {% if sessions_streams_device['seo'] is defined %}
                        {{ sessions_streams_device['seo'].total_sessions }}
                    {% endif %}
                </div>
                <div class="col-md-5">
                    {% if sessions_streams_device['seo'] is defined and sessions_streams_device['seo'].total_sessions > 0 %}
                        {{ format.secondsToMinutes(sessions_streams_device['seo'].total_seconds) }}
                    {% else %}
                        -
                    {% endif %}
                </div>
            </div>
        </td>
        <td style="width: 20%">
        </td>
    </tr>
</table>
