{% extends 'base.html.twig' %}

{% block javascript_head %}
const schedule = {{ schedule |json_encode(constant('JSON_UNESCAPED_UNICODE') b-or constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_NUMERIC_CHECK'))|raw }};
const radios = {{ radios |json_encode(constant('JSON_UNESCAPED_UNICODE') b-or constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_NUMERIC_CHECK'))|raw }};
{% endblock %}

{% block body %}
<div class="container-fluid" style="padding: 0 !important;">
    <!-- Example row of columns -->
    <div class="row" style="margin-right: 0 !important; margin-left: 0 !important">
        <div class="col-md-12" style="padding-right: 0 !important; padding-left: 0 !important">
            <div id="app">
                <timeline></timeline>
                <schedule-container></schedule-container>
            </div>
        </div>
    </div>
</div>

<!-- TIMELINE TPL -->

<script type="text/x-template" id="timelineTpl">
{% verbatim %}
    <div class="timeline" :style="styleObject">
        <div class="timeline-control timeline-control-left"  v-on:click="clickBackward"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></div>
        <div class="timeline-control timeline-control-right" v-on:click="clickForward"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></div>
        <div v-for="hour in 24" class="time">
            {{ hour | toTime }}
        </div>
    </div>
{% endverbatim %}
</script>

<script type="text/x-template" id="timelineCursorTpl">
{% verbatim %}
    <div class="timeline-cursor" :style="styleObject">
    </div>
{% endverbatim %}
</script>

<!-- SCHEDULE CONTAINER TPL -->

<script type="text/x-template" id="scheduleContainerTpl">
{% verbatim %}
    <div class="schedule-container">
        <schedule-radio-list></schedule-radio-list>
        <schedule-radio-grid></schedule-radio-grid>
    </div>
{% endverbatim %}
</script>

<!-- RADIO LIST TPL -->

<script type="text/x-template" id="scheduleRadioListTpl">
{% verbatim %}
    <div class="schedule-radio-list">
        <schedule-radio-list-one v-for="entry in radios" :key="entry.code_name" :radio="entry"></schedule-radio-list-one>
    </div>
{% endverbatim %}
</script>

<script type="text/x-template" id="scheduleRadioListOneTpl">
{% verbatim %}
    <div class="radio-logo" v-bind:title="radio.name" :style="styleObject"></div>
{% endverbatim %}
</script>

<!-- SCHEDULE RADIO GRID TPL -->

<script type="text/x-template" id="scheduleRadioGridTpl">
{% verbatim %}
    <div class="schedule-radio-grid" id="schedule-radio-grid" v-on:mousedown="dragClick" v-on:mousemove="dragMove" v-on:mouseup="dragOff" :style="styleObject">
 <timeline-cursor></timeline-cursor>
        <schedule-radio-grid-row v-for="entry in radios" :key="entry.code_name" :radio="entry.code_name"></schedule-radio-grid-row>
    </div>
{% endverbatim %}
</script>

<script type="text/x-template" id="scheduleRadioGridRowTpl">
{% verbatim %}
    <div class="schedule-radio-grid-row">
        <div v-if="!hasSchedule" class="program-container none" :style="noProgramStyleObject">
            <div class="program">
                <div class="program-inner">Programmes non disponible :(</div>
            </div>
        </div>
        <template v-if="hasSchedule">
            <schedule-radio-grid-program v-for="(entry, key) in schedule" :key="entry.hash" :program="entry"></schedule-radio-grid-program>
        </template>
    </div>
{% endverbatim %}
</script>

<script type="text/x-template" id="scheduleRadioGridProgramTpl">
{% verbatim %}
    <div class="program-container" :style="styleObject" v-on:mouseup="detailClick">
<!--        <div class="program program-full" :style="styleObjectDetail">
            <div class="program-inner">
                <div class="program-title">{{ program.title }}</div>
                <div class="program-host">{{ program.host  }}</div>
                <div class="program-description">{{ program.description }}</div>
            </div>
        </div>-->

        <div class="program">
            <div class="program-inner">
                <div class="program-title"><span class="schedule-display">{{ scheduleDisplay}}</span>{{ program.title }}</div>
                <div class="program-host">{{ program.host  }}</div>
            </div>
        </div>
    </div>
{% endverbatim %}
</script>

{% endblock %}

{% block javascripts %}
    <script src="/build/js/app.js"></script>
{% endblock %}
