{% extends 'base.html.twig' %}

{% block bodysupp %} class="body-app"{% endblock %}
{% block footersupp %}{% endblock %}

{% block javascript_head %}
const base_url = "{{ app.request.schemeAndHttpHost }}{{ app.environment == 'prod' ? '/' : '/app_dev.php/' }}";
const schedule = {{ schedule |json_encode(constant('JSON_UNESCAPED_UNICODE') b-or constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_NUMERIC_CHECK'))|raw }};
const radios = {{ radios |json_encode(constant('JSON_UNESCAPED_UNICODE') b-or constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_NUMERIC_CHECK'))|raw }};
const categories = {{ categories |json_encode(constant('JSON_UNESCAPED_UNICODE') b-or constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_NUMERIC_CHECK'))|raw }};

const scrollToCursor = function(e) {
    e.preventDefault();
    document.getElementById('app').__vue__.$store.dispatch('scrollToCursor');
};

{% endblock %}

{% block body %}
<div class="container-fluid" style="padding: 0 !important;">
    <div class="row" style="margin-right: 0 !important; margin-left: 0 !important">
        <div class="col-md-12" style="padding-right: 0 !important; padding-left: 0 !important">
            <div id="app">
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
