{% extends 'default/user/user.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block section %}
    {{ 'page.account.password.page_title'|trans }}
{% endblock %}

{% block content %}
    {% if success == true %}
        <div class="alert alert-success" role="alert">{{ 'page.account.password.success'|trans }}</div>
    {% endif %}

    {{ form_start(form) }}
    {{ form_row(form.plainPassword) }}

    <button type="submit" class="btn btn-primary">{{ 'page.account.password.update_btn'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}
