{% extends 'base_site.html.twig' %}

{% import "default/admin/macro/format.html.twig" as format %}

{% form_theme form 'bootstrap_5_horizontal_layout.html.twig' %}

{%- block title -%}
    {% if edit == true %}
        {{ 'page.stream.submission.title_edit'|trans }}
    {% else %}
        {{ 'page.stream.submission.title_new'|trans }}
    {% endif %}
{%- endblock -%}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
      const streamsSelectElement = document.getElementById('streamsSelect');

      streamsSelectElement.addEventListener('change', (event) => {
        if (event.target.value === '') {
          return;
        }

        const url = '{{ path('user_page_streams') }}';
        window.location = `${url}/${event.target.value}`;
      });
    </script>
{% endblock %}

{% block body %}
<div id="admin" class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <h3 class="mb-4">
                {{ 'page.stream.submission.my_radios'|trans }}
            </h3>

            <div class="mb-5">
                {% if app.user.streams is empty %}
                    {{ 'page.stream.submission.no_radios'|trans }}
                {% else %}
                    <select class="form-select w-md-50 w-75" aria-label="Radios" name="streamsSelect" id="streamsSelect">
                        <option value=""></option>
                        {% for item in app.user.streams %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                        {% endfor %}
                    </select>
                {% endif %}
            </div>
        </div>
        {% if edit == true %}
            {# Todo improve #}
            <div class="col-12 col-md-4">
                <h3 class="mb-4">&nbsp;</h3>
                <a href="{{ path('user_page_streams') }}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">
                    {{ 'page.stream.submission.title_new'|trans }}
                </a>
            </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <h3 class="mb-4">
                {% if edit == true %}
                    {{ 'page.stream.submission.title_edit'|trans }}
                {% else %}
                    {{ 'page.stream.submission.title_new'|trans }}
                {% endif %}
            </h3>

            {% if edit == true %}
                <h5>
                    {{ 'page.stream.modification.radio'|trans }}:
                    <a target="_blank" href="{{ path('streams_one_short', {'shortId': stream.id|shortid, 'codename': stream.name|slug }) }}">{{ stream.name }} <i class="bi bi-box-arrow-up-right"></i></a>
                </h5>

                <div class="my-4 alert alert-light">
                    <p><strong>{{ 'page.stream.submission.stats_title'|trans }}</strong></p>

                    {% if stats is defined and stats is not null %}
                        {% if stats.this_month is defined and stats.this_month is not null %}
                            <p>{{ 'page.stream.submission.stats_this_month'|trans({'%sessions%': stats.this_month.total_sessions, '%time%': format.secondsToMinutes(stats.this_month.total_seconds)}) }}</p>
                        {% endif %}

                        {% if stats.last_month is defined and stats.last_month is not null %}
                            <p>{{ 'page.stream.submission.stats_last_month'|trans({'%sessions%': stats.last_month.total_sessions, '%time%': format.secondsToMinutes(stats.last_month.total_seconds)}) }}</p>
                        {% endif %}

                        {% if stats.this_month is null and stats.last_month is null %}
                            n/a
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}

            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}" role="alert">{{ message }}</div>
                {% endfor %}
            {% endfor %}

            {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.countryCode) }}
                {{ form_row(form.language) }}
                {{ form_row(form.originalImg) }}
                {{ form_row(form.streamUrl) }}
                {{ form_row(form.website) }}
                {{ form_row(form.description) }}
                {{ form_row(form.slogan) }}
                {{ form_row(form.tags) }}

            {{ form_end(form) }}

            {% if edit == true %}
            <div class="my-5 text-center">
                <a class="btn btn-danger"
                   onclick="return confirm('{{ 'page.stream.submission.delete_confirm'|trans }}')"
                   href="{{ url('user_page_streams_delete', {'id': stream.id}) }}">{{ 'page.stream.submission.delete'|trans }}</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
