{% extends 'base.html.twig' %}

{% import _self as self %}
{% import "utils/countries.html.twig" as countries %}

{% block title %}{{ 'page.faq.page_title'|trans }}{% endblock %}
{% block description %}{{ 'page.faq.page_description'|trans }}{% endblock %}

{% macro radios_list(collections, radios, locale) %}
    {%  set radios_sorted = radios|sort %}
    {% for collection in collections %}
        {% if collection.code_name != 'favorites' %}
            <p>
                <a class="faq-collection-link" href="{{ path('app') }}schedule/{{ collection.code_name }}">{{ collection.name_FR }}</a>:

                {% for radioCodeName in collection.radios %}
                    {% if radios[radioCodeName] is defined  %}
                        <a href="{{ path('radio', {'codeName': radios[radioCodeName].code_name}) }}">{{ radios[radioCodeName].name }}</a>{% if not loop.last %}, {% else %}.{% endif %}
                    {% endif %}
                {% endfor %}
            </p>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% set faq = {
    "fr": [
        {
            'question': "Qu'est-ce que Programmes-Radio.com ?",
            'answer': [
                "Programmes-Radio.com est un site indépendant centralisant les grilles de programmes de radios françaises et internationales.",
                "Les données sont réactualisées chaque jour en provenance des sites des radios.",
                "Vous pouvez aussi écouter en streaming n'importe quelle radio en cliquant sur son logo."
            ]
        },
        {
            'question': "Comment sont classées les radios ?",
            'answer': [
                "Suivant les catégories, le classement est basé sur la part d'audience cumulée de la dernière vague Médiamétrie ou alors par ordre alphabétique."
            ]
        },
        {
            'question': "Certaines radios ont une publicité en début de lecture.",
            'answer': [
                "Ces publicités sont ajoutées par les radios elles-mêmes et non pas par Programmes-Radio.com.",
                "Le lecteur de Programmes-Radio essaye de minimiser ces publicités quand vous alternez entre deux radios ou mettez une radio en pause.",
                "Dans certains cas le bloqueur de publicité peut bloquer la lecture de la radio (exemple: RMC)."
            ]
        },
        {
            'question': "Il n'y a pas ma radio favorite.",
            'answer': [
                "Des radios sont ajoutées au fur et à mesure, indiquez-nous dans la page Contact la radio que vous voulez voir ajoutée."
            ]
        },
        {
            'question': "Je souhaite ajouter ma (web)radio, comment faire ?",
            'answer': [
                'Pour la partie "Toutes les radios", nous utilisons l\'API Radio-Browser. Pour y soumettre votre radio, <a target="_blank" href="https://www.radio-browser.info/#/add">cliquez ici</a>.',
                'Si vous possédez une radio avec une grille de programmes, écrivez-nous avec le formulaire de contact.'
            ]
        },
        {
            'question': "Liste des radios disponibles.",
            'answer': [
                self.radios_list(collections, radios, app.request.locale),
                '<p style="margin-top: 5px">Vous pouvez aussi écouter des radios du monde entier sur <a href="' ~ path('app') ~ 'streaming">la page streaming</a>, comme par exemple <a href="' ~ path('streams_one_short', {'shortId': '97d830f4-c35f-11e9-8502-52543be04c81'|shortid, 'codename': 'Alternative Radio'|slug }) ~ '">Alternative Radio</a> (France), <a href="' ~ path('streams_one_short', {'shortId': 'c77c45c4-cf37-414c-ae34-868f7d9cd944'|shortid, 'codename': 'FUNKY RADIO - Only Funk Music (60\'s 70\'s)'|slug }) ~ '">Funky Radio</a> (Italie) ou <a href="' ~ path('streams_one_short', {'shortId': '961635b3-0601-11e8-ae97-52543be04c81'|shortid, 'codename': 'Hirschmilch Radio Electronic'|slug }) ~ '">Hirschmilch Radio Electronic</a> (Allemagne).</p>',
                '<p style="margin-top: 5px"><strong>Le top des radios de tous les pays:</strong></p>',
            countries.list(app.request.locale, 'top')
            ]
        }
    ],
    "en": [
        {
            'question': "What is Programmes-Radio.com?",
            'answer': [
                "Programmes-Radio.com is an independant website displaying schedules from French and more broadly French speaking radios.",
                "Data are updated each day from radios' websites.",
                "You can also listen to any radio by clicking on its logo."
            ]
        },
        {   'question': "How are radios sorted?",
            'answer': [
                "Radios are sorted by their ratings or alphabetically depending on the category."
            ]
        },
        {
            'question': "Some radios have an ad at the start of their streaming.",
            'answer': [
                "These ads are added by the radios themselves and not Programmes-Radio.com."
            ]
        },
        {
            'question': "I want to add my (web)radio:",
            'answer': [
                'We use the Radio-Browser API. To add your radio in it, <a target="_blank" href="https://www.radio-browser.info/#/add">click here</a>.'
            ]
        },
        {
            'question': "Available radios:",
            'answer': [
            self.radios_list(collections, radios, app.request.locale),
                '<p style="margin-top: 5px">You can also listen to radios on any language and from all over the world on <a href="' ~ path('app') ~ 'streaming">the streaming page</a>, like <a href="' ~ path('streams_one_short', {'shortId': 'c77c45c4-cf37-414c-ae34-868f7d9cd944'|shortid, 'codename': 'FUNKY RADIO - Only Funk Music (60\'s 70\'s)'|slug }) ~ '">Funky Radio</a> (Italie) or <a href="' ~ path('streams_one_short', {'shortId': '961635b3-0601-11e8-ae97-52543be04c81'|shortid, 'codename': 'Hirschmilch Radio Electronic'|slug }) ~ '">Hirschmilch Radio Electronic</a> (Germany).</p>',
                 '<p style="margin-top: 5px"><strong>Top radios of all countries:</strong></p>',
                 countries.list(app.request.locale, 'top')
            ]
        }
    ],
    "es": [
        {
            'question': "¿Qué es Programmes-Radio.com?",
            'answer': [
                "Programmes-Radio.com es un sitio web independiente que muestra los horarios de las radios francesas y, en general, de habla francesa.",
                "Los datos se actualizan cada día a partir de los sitios web de las radios.",
                "También puede escuchar cualquier radio haciendo clic en su logotipo."
            ]
        },
        {
           'question': "¿Cómo se clasifican las radios?",
            'answer': [
                "Las radios están ordenadas por su clasificación o por orden alfabético según la categoría."
            ]
        },
        {
            'question': "Algunas radios tienen un anuncio al comienzo de su transmisión.",
            'answer': [
                "Estos anuncios son añadidos por las propias radios y no por Programmes-Radio.com."
            ]
        },
        {
            'question': "Quiero añadir mi (web)radio:",
            'answer': [
                'Utilizamos la API de Radio-Browser. Para añadir su radio en ella, <a target="_blank" href="https://www.radio-browser.info/#/add">haga clic aquí</a>.'
            ]
        },
        {
            'question': "Radios disponibles:",
            'answer': [
                self.radios_list(collections, radios, app.request.locale),
                '<p style="margin-top: 5px">También puedes escuchar radios en cualquier idioma y de todo el mundo en <a href="' ~ path('app') ~ 'streaming">la página de streaming</a>, como <a href="' ~ path('streams_one_short', {'shortId': 'c77c45c4-cf37-414c-ae34-868f7d9cd944'|shortid, 'codename': 'FUNKY RADIO - Only Funk Music (60\'s 70\'s)'|slug }) ~ '">Funky Radio</a> (Italia ) o <a href="' ~ path('streams_one_short', {'shortId': '961635b3-0601-11e8-ae97-52543be04c81'|shortid, 'codename': 'Hirschmilch Radio Electronic'|slug }) ~ '">Hirschmilch Radio Electronic</a> (Alemania).</p>',
                 '<p style="margin-top: 5px"><strong>Las principales radios de todos los países:</strong></p>',
                 countries.list(app.request.locale, 'top')
            ]
        }
    ],
    "de": [
        {
            'question': "What is Programmes-Radio.com?",
            'answer': [
                "Programmes-Radio.com is an independant website displaying schedules from French and more broadly French speaking radios.",
                "Data are updated each day from radios' websites.",
                "You can also listen to any radio by clicking on its logo."
            ]
        },
        {   'question': "How are radios sorted?",
                'answer': [
                "Radios are sorted by their ratings or alphabetically depending on the category."
            ]
        },
        {
            'question': "Some radios have an ad at the start of their streaming.",
            'answer': [
                "These ads are added by the radios themselves and not Programmes-Radio.com."
            ]
        },
        {
            'question': "I want to add my (web)radio:",
            'answer': [
                'We use the Radio-Browser API. To add your radio in it, <a target="_blank" href="https://www.radio-browser.info/#/add">click here</a>.'
            ]
        },
        {
            'question': "Available radios:",
            'answer': [
                self.radios_list(collections, radios, app.request.locale),
                '<p style="margin-top: 5px">You can also listen to radios on any language and from all over the world on <a href="' ~ path('app') ~ 'streaming">the streaming page</a>, like <a href="' ~ path('streams_one_short', {'shortId': 'c77c45c4-cf37-414c-ae34-868f7d9cd944'|shortid, 'codename': 'FUNKY RADIO - Only Funk Music (60\'s 70\'s)'|slug }) ~ '">Funky Radio</a> (Italie) or <a href="' ~ path('streams_one_short', {'shortId': '961635b3-0601-11e8-ae97-52543be04c81'|shortid, 'codename': 'Hirschmilch Radio Electronic'|slug }) ~ '">Hirschmilch Radio Electronic</a> (Germany).</p>'
            ]
        }
    ],
    "pt": [
        {
            'question': "What is Programmes-Radio.com?",
            'answer': [
                "Programmes-Radio.com is an independant website displaying schedules from French and more broadly French speaking radios.",
                "Data are updated each day from radios' websites.",
                "You can also listen to any radio by clicking on its logo."
            ]
        },
        {   'question': "How are radios sorted?",
            'answer': [
                "Radios are sorted by their ratings or alphabetically depending on the category."
            ]
        },
        {
            'question': "Some radios have an ad at the start of their streaming.",
            'answer': [
                "These ads are added by the radios themselves and not Programmes-Radio.com."
            ]
        },
        {
            'question': "I want to add my (web)radio:",
            'answer': [
                'We use the Radio-Browser API. To add your radio in it, <a target="_blank" href="https://www.radio-browser.info/#/add">click here</a>.'
            ]
        },
        {
            'question': "Available radios:",
            'answer': [
                self.radios_list(collections, radios, app.request.locale),
                '<p style="margin-top: 5px">You can also listen to radios on any language and from all over the world on <a href="' ~ path('app') ~ 'streaming">the streaming page</a>, like <a href="' ~ path('streams_one_short', {'shortId': 'c77c45c4-cf37-414c-ae34-868f7d9cd944'|shortid, 'codename': 'FUNKY RADIO - Only Funk Music (60\'s 70\'s)'|slug }) ~ '">Funky Radio</a> (Italie) or <a href="' ~ path('streams_one_short', {'shortId': '961635b3-0601-11e8-ae97-52543be04c81'|shortid, 'codename': 'Hirschmilch Radio Electronic'|slug }) ~ '">Hirschmilch Radio Electronic</a> (Germany).</p>'
            ]
        }
    ],
    "pl": [
        {
            'question': "What is Programmes-Radio.com?",
            'answer': [
                "Programmes-Radio.com is an independant website displaying schedules from French and more broadly French speaking radios.",
                "Data are updated each day from radios' websites.",
                "You can also listen to any radio by clicking on its logo."
            ]
        },
        {   'question': "How are radios sorted?",
            'answer': [
                "Radios are sorted by their ratings or alphabetically depending on the category."
            ]
        },
        {
            'question': "Some radios have an ad at the start of their streaming.",
            'answer': [
                "These ads are added by the radios themselves and not Programmes-Radio.com."
            ]
        },
        {
            'question': "I want to add my (web)radio:",
            'answer': [
                'We use the Radio-Browser API. To add your radio in it, <a target="_blank" href="https://www.radio-browser.info/#/add">click here</a>.'
            ]
        },
        {
            'question': "Available radios:",
            'answer': [
                self.radios_list(collections, radios, app.request.locale),
                '<p style="margin-top: 5px">You can also listen to radios on any language and from all over the world on <a href="' ~ path('app') ~ 'streaming">the streaming page</a>, like <a href="' ~ path('streams_one_short', {'shortId': 'c77c45c4-cf37-414c-ae34-868f7d9cd944'|shortid, 'codename': 'FUNKY RADIO - Only Funk Music (60\'s 70\'s)'|slug }) ~ '">Funky Radio</a> (Italie) or <a href="' ~ path('streams_one_short', {'shortId': '961635b3-0601-11e8-ae97-52543be04c81'|shortid, 'codename': 'Hirschmilch Radio Electronic'|slug }) ~ '">Hirschmilch Radio Electronic</a> (Germany).</p>'
            ]
        }
    ],
    "el": [
        {
            'question': "What is Programmes-Radio.com?",
            'answer': [
                "Programmes-Radio.com is an independant website displaying schedules from French and more broadly French speaking radios.",
                "Data are updated each day from radios' websites.",
                "You can also listen to any radio by clicking on its logo."
            ]
        },
        {   'question': "How are radios sorted?",
            'answer': [
                "Radios are sorted by their ratings or alphabetically depending on the category."
            ]
        },
        {
            'question': "Some radios have an ad at the start of their streaming.",
            'answer': [
                "These ads are added by the radios themselves and not Programmes-Radio.com."
            ]
        },
        {
            'question': "I want to add my (web)radio:",
            'answer': [
                'We use the Radio-Browser API. To add your radio in it, <a target="_blank" href="https://www.radio-browser.info/#/add">click here</a>.'
            ]
        },
        {
            'question': "Available radios:",
            'answer': [
                self.radios_list(collections, radios, app.request.locale),
                '<p style="margin-top: 5px">You can also listen to radios on any language and from all over the world on <a href="' ~ path('app') ~ 'streaming">the streaming page</a>, like <a href="' ~ path('streams_one_short', {'shortId': 'c77c45c4-cf37-414c-ae34-868f7d9cd944'|shortid, 'codename': 'FUNKY RADIO - Only Funk Music (60\'s 70\'s)'|slug }) ~ '">Funky Radio</a> (Italie) or <a href="' ~ path('streams_one_short', {'shortId': '961635b3-0601-11e8-ae97-52543be04c81'|shortid, 'codename': 'Hirschmilch Radio Electronic'|slug }) ~ '">Hirschmilch Radio Electronic</a> (Germany).</p>'
            ]
        }
    ],
    "ar": [
        {
            'question': "Qu'est-ce que Programmes-radio.com ?",
            'answer': [
                "Programmes-radio.com هو موقع مستقل يركز على جداول البرامج الإذاعية الفرنسية والدولية.",
                "يتم تحديث البيانات كل يوم من مواقع الراديو.",
                "يمكنك أيضًا بث أي محطة راديو من خلال النقر على شعارها."
            ]
        },
        {
            'question': "كيف يتم تصنيف أجهزة الراديو؟",
            'answer': [
                "اعتمادًا على الفئات، يعتمد الترتيب على حصة الجمهور التراكمية لموجة Médiametrie الأخيرة أو بالترتيب الأبجدي."
            ]
        },
        {
            'question': "تحتوي بعض محطات الراديو على إعلان في بداية القراءة.",
            'answer': [
                "تتم إضافة هذه الإعلانات من قبل محطات الراديو نفسها وليس بواسطة Programmes-radio.com",
                "يحاول مشغل برنامج الراديو تقليل هذه الإعلانات عند التبديل بين جهازي راديو أو إيقاف محطة راديو مؤقتًا.",
                "في بعض الحالات، قد يمنع مانع الإعلانات تشغيل الراديو (مثال: RMC)."
            ]
        },
        {
            'question': "لا يوجد راديو مفضل لدي.",
            'answer': [
                "تتم إضافة أجهزة الراديو تدريجيًا، فأخبرنا في صفحة الاتصال بالراديو الذي تريد إضافته."
            ]
        },
        {
            'question': "أريد إضافة راديو (الويب) الخاص بي، كيف أفعل ذلك؟",
            'answer': [
                'بالنسبة لجزء «جميع أجهزة الراديو»، نستخدم واجهة برمجة تطبيقات Radio-Browser. لإرسال الراديو الخاص بك، <a target="_blank" href="https://www.radio-browser.info/#/add">انقر هنا</a>.',
                'إذا كان لديك راديو بجدول زمني للبرنامج، فاكتب إلينا باستخدام نموذج الاتصال.'
            ]
        },
        {
            'question': "قائمة أجهزة الراديو المتاحة.",
            'answer': [
                self.radios_list(collections, radios, app.request.locale),
                '<p style="margin-top: 5px">Vous pouvez aussi écouter des radios du monde entier sur <a href="' ~ path('app') ~ 'streaming">la page streaming</a>, comme par exemple <a href="' ~ path('streams_one_short', {'shortId': '97d830f4-c35f-11e9-8502-52543be04c81'|shortid, 'codename': 'Alternative Radio'|slug }) ~ '">Alternative Radio</a> (France), <a href="' ~ path('streams_one_short', {'shortId': 'c77c45c4-cf37-414c-ae34-868f7d9cd944'|shortid, 'codename': 'FUNKY RADIO - Only Funk Music (60\'s 70\'s)'|slug }) ~ '">Funky Radio</a> (Italie) ou <a href="' ~ path('streams_one_short', {'shortId': '961635b3-0601-11e8-ae97-52543be04c81'|shortid, 'codename': 'Hirschmilch Radio Electronic'|slug }) ~ '">Hirschmilch Radio Electronic</a> (Allemagne).</p>',
                '<p style="margin-top: 5px"><strong>أفضل محطات الراديو في جميع البلدان:</strong></p>',
                countries.list(app.request.locale, 'top')
            ]
        }
    ],
    "ro": [
        {
            'question': "Ce este Programmes-Radio.com?",
            'answer': [
                "Programmes-Radio.com este un site independent care centralizează programele de programe radio franceze și internaționale.",
                "Datele sunt actualizate în fiecare zi de pe site-urile de radio.",
                "De asemenea, puteți transmite în flux orice post de radio făcând clic pe logo-ul său."
            ]
        },
        {
            'question': "Cum sunt clasificate radiourile??",
            'answer': [
                "În funcție de categorii, clasamentul se bazează pe cota cumulativă de audiență a ultimului val Médiametry sau în ordine alfabetică."
        ]
        },
        {
            'question': "Unele posturi de radio au o reclamă la începutul jocului.",
            'answer': [
                "Aceste reclame sunt adăugate chiar de posturile de radio și nu de Programmes-Radio.com.",
                "Playerul Programare-Radio încearcă să minimizeze aceste anunțuri atunci când comutați între două radiouri sau întrerupeți un post de radio. ",
                "În unele cazuri, blocarea anunțurilor poate bloca redarea radio (exemplu: RMC)."
            ]
        },
        {
            'question': "Nu există postul meu de radio preferat.",
            'answer': [
                "Radiourile sunt adăugate treptat, anunțați-ne în pagina Contact ce post de radio doriți să vedeți adăugat."
        ]
        },
        {
            'question': "Je souhaite ajouter ma (web)radio, comment faire ?",
            'answer': [
                'Pour la partie "Toutes les radios", nous utilisons l\'API Radio-Browser. Pour y soumettre votre radio, <a target="_blank" href="https://www.radio-browser.info/#/add">cliquez ici</a>.',
                'Si vous possédez une radio avec une grille de programmes, écrivez-nous avec le formulaire de contact.'
            ]
        },
        {
            'question': "Lista radiourilor disponibile.",
            'answer': [
                self.radios_list(collections, radios, app.request.locale),
                '<p style="margin-top: 5px">De asemenea, puteți asculta posturi de radio din întreaga lume <a href="' ~ path('app') ~ 'streaming">pe pagina de streaming</a>, ca de exemplu <a href="' ~ path('streams_one_short', {'shortId': '97d830f4-c35f-11e9-8502-52543be04c81'|shortid, 'codename': 'Alternative Radio'|slug }) ~ '">Alternative Radio</a> (Franța), <a href="' ~ path('streams_one_short', {'shortId': 'c77c45c4-cf37-414c-ae34-868f7d9cd944'|shortid, 'codename': 'FUNKY RADIO - Only Funk Music (60\'s 70\'s)'|slug }) ~ '">Funky Radio</a> (Italia) ou <a href="' ~ path('streams_one_short', {'shortId': '961635b3-0601-11e8-ae97-52543be04c81'|shortid, 'codename': 'Hirschmilch Radio Electronic'|slug }) ~ '">Hirschmilch Radio Electronic</a> (Germania).</p>',
                '<p style="margin-top: 5px"><strong>Cele mai bune posturi de radio din toate țările:</strong></p>',
                countries.list(app.request.locale, 'top')
            ]
        }
    ],
}
%}

{% block body %}
<div class="container page-faq">
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <h3 class="mb-4">{{ 'page.faq.title'|trans }}</h3>
            {% for entry in faq[app.request.locale] %}
                <dl>
                    <dt>{{ entry.question }}</dt>
                    {% for line in entry.answer %}
                        <dd>{{ line  | raw }}</dd>
                    {% endfor %}
                </dl>
            {% endfor %}
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="twitter-feed-wrapper">
                <a class="twitter-timeline" href="https://twitter.com/ProgsRadio" data-tweet-limit="4">Tweets by ProgsRadio</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
</div>
{% endblock %}
