{% extends 'base.html.twig' %}

{% import _self as self %}

{% block title %}FAQ - Les programmes radios en France{% endblock %}

{% macro collections_list(collections) %}
    {% for collection in collections %}
        {% if collection.radio_count> 0 %}{% if not loop.first %}, {% endif %}<a href="{{ path('homepage', {'c': collection.code_name}) }}">{{ collection.name_FR }}</a>{% endif %}
    {% endfor %}
{% endmacro %}

{% macro radios_list(radios) %}
    {% for radio in radios|sort %}
        <a href="{{ path('radio', {'codename': radio.code_name}) }}">{{ radio.name }}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}
{% endmacro %}

{% set faq= [
    {   'question': "Qu'est-ce que Programmes-radio.io ?",
        'answer': [
            "Programmes-radio.io est un site indépendant centralisant les grilles de programmes de radios françaises et internationales.",
            "Les données sont réactualisées chaque jour en provenance des sites des radios.",
            "Vous pouvez aussi écouter en streaming n'importe quelle radio en cliquant sur son logo."
        ]
    },
    {   'question': "Comment sont classées les radios ?",
        'answer': [
            "Suivant les catégories, le classement est basé sur la part d'audience cumulée de la dernière vague Médiamétrie ou alors par ordre alphabétique."
        ]
    },
    {   'question': "Il n'y a pas ma radio favorite.",
        'answer': [
            "Des radios sont ajoutées au fur et à mesure, indiquez-nous dans la page Contact la radio que vous voulez voir ajoutée."
        ]
    },
    {   'question': "Liste des catégories",
        'answer': [  self.collections_list(collections) ]
    },
    {   'question': "Liste des radios disponibles",
        'answer': [  self.radios_list(radios) ]
    }
]
%}

{% block body %}
    <div class="container" id="faq">
    <div class="row">
        <div class="col-md-12">
            <div class="content">
                <h3>Foire aux questions</h3>
                {% for entry in faq %}
                    <dl>
                        <dt>{{ entry.question }}</dt>
                        {% for line in entry.answer %}
                            <dd>{{ line  | raw }}</dd>
                        {% endfor %}
                    </dl>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
