{% extends 'base.html.twig' %}

{% import _self as self %}

{% block title %}FAQ - Les programmes radios en France{% endblock %}

{% macro radios_list(collections, radios, locale) %}
    {%  set radios_sorted = radios|sort %}
    {% for collection in collections %}
        {% if collection.code_name != 'favorites' %}
        <p>
            <a class="faq-collection-link" href="{{ absolute_url('/' ~ locale ~ '/#/schedule/' ~ collection.code_name) }}">{{ collection.name_FR }}</a>:
        {% set radios_filtered = [] %}
        {% for radio in radios_sorted %}
            {% if collection.code_name in radio.collection %}
                {% set radios_filtered = radios_filtered|merge([radio]) %}
            {% endif %}
        {% endfor %}

        {% for radio in radios_filtered %}
            <a href="{{ path('radio', {'codename': radio.code_name}) }}">{{ radio.name }}</a>{% if not loop.last %}, {% else %}.{% endif %}
        {% endfor %}
        </p>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% set faq= [
    {   'question': "Qu'est-ce que Programmes-radio.io ?",
        'answer': [
            "Programmes-radio.io est un site indépendant centralisant les grilles de programmes de radios françaises et internationales.",
            "Les données sont réactualisées chaque jour en provenance des sites des radios.",
            "Vous pouvez aussi écouter en streaming n'importe quelle radio en cliquant sur son logo."
        ]
    },
    {   'question': "Comment sont classées les radios ?",
        'answer': [
            "Suivant les catégories, le classement est basé sur la part d'audience cumulée de la dernière vague Médiamétrie ou alors par ordre alphabétique."
        ]
    },
    {   'question': "Certaines radios ont une publicité en début de lecture.",
        'answer': [
        "Ces publicités sont ajoutées par les radios elles-mêmes et non pas par Programmes-radio.io."
    ]
    },
    {   'question': "Il n'y a pas ma radio favorite.",
        'answer': [
            "Des radios sont ajoutées au fur et à mesure, indiquez-nous dans la page Contact la radio que vous voulez voir ajoutée."
        ]
    },
    {   'question': "Liste des radios disponibles.",
        'answer': [
            self.radios_list(collections, radios, app.request.locale),
            '<p style="margin-top: 5px">Vous pouvez aussi écouter des radios du monde entier sur <a href="' ~ absolute_url('/#/streaming') ~ '">la page streaming</a>.</p>'
        ]
    }
]
%}

{% block body %}
    <div class="container" id="faq">
    <div class="row">
        <div class="col-md-12">
            <div class="content">
                <h3>Foire aux questions</h3>
                {% for entry in faq %}
                    <dl>
                        <dt>{{ entry.question }}</dt>
                        {% for line in entry.answer %}
                            <dd>{{ line  | raw }}</dd>
                        {% endfor %}
                    </dl>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
