{% extends 'base.html.twig' %}

{% import _self as self %}
{% import "utils/countries.html.twig" as countries %}

{% block title %}{{ 'page.faq.page_title'|trans }}{% endblock %}
{% block description %}{{ 'page.faq.page_description'|trans }}{% endblock %}

{% set faq = {
    "fr": [
        {
            'question': "Qu'est-ce que Radio-Addict.com ?",
            'answer': [
                "Radio-Addict.com est un site indépendant d'écoute de radios du monde entier."
            ]
        },
        {
            'question': "Je souhaite ajouter ma (web)radio, comment faire ?",
            'answer': [
                'Vous avez deux choix:',
                "1/ Créez un compte et ajoutez votre radio ici: <a target=\"_blank\" href=\"#{url('user_page_streams')}\">cliquez ici</a>.",
                '2/ Utiliser l\'API Radio-Browser. Pour y soumettre votre radio, <a target="_blank" href="https://www.radio-browser.info/#/add">cliquez ici</a>.'
            ]
        },
        {
            'question': "Certaines radios ont une publicité en début de lecture.",
            'answer': [
                "Ces publicités sont ajoutées par les radios elles-mêmes et non pas par Radio-Addict.com.",
                "Le lecteur de Radio-Addict essaye de minimiser ces publicités quand vous alternez entre deux radios ou mettez une radio en pause.",
                "Dans certains cas le bloqueur de publicité peut bloquer la lecture de la radio (exemple: RMC)."
            ]
        },
        {
            'question': "Top des radios par pays:",
            'answer': [
                countries.list(app.request.locale, 'top')
            ]
        }
    ],
    "en": [
        {
            'question': "What is Radio-Addict.com?",
            'answer': [
                "Radio-Addict.com is an independant radio streaming website."
            ]
        },
        {
            'question': "I want to add my (web)radio:",
            'answer': [
            'You have two choices:',
            "1/ Create a account and submit your radio here: <a target=\"_blank\" href=\"#{url('user_page_streams')}\">click here</a>.",
            '2/ Use the Radio-Browser API. To submit your radio, <a target="_blank" href="https://www.radio-browser.info/#/add">click here</a>.'
            ]
        },
        {
            'question': "Some radios have an ad at the start of their streaming.",
            'answer': [
                "These ads are added by the radios themselves and not Radio-Addict.com."
            ]
        },
        {
            'question': "Top radios from around the world:",
            'answer': [
                countries.list(app.request.locale, 'top')
            ]
        }
    ],
    "es": [
        {
            'question': "¿Qué es Radio-Addict.com?",
            'answer': [
                "Radio-Addict.com es un sitio web independiente de streaming radio."
            ]
        },
        {
            'question': "Quiero añadir mi (web)radio:",
            'answer': [
                'Tienes dos opciones: ',
                "1/ Crea una cuenta y añade tu radio aquí: <a target=\"_blank\" href=\"#{url('user_page_streams')}\">haz clic</a>.",
                '2/ Usa la API de Radio-Browser. <a target="_blank" href="https://www.radio-browser.info/#/add">Para enviar su radio, haga clic aquí.</a> '
            ]
        },
        {
            'question': "Algunas radios tienen un anuncio al comienzo de su transmisión.",
            'answer': [
                "Estos anuncios son añadidos por las propias radios y no por Radio-Addict.com."
            ]
        },
        {
            'question': "Las mejores radios del mundo:",
            'answer': [
                countries.list(app.request.locale, 'top')
            ]
        }
    ],
    "de": [
        {
            'question': "Was ist Radio-Addict.com?",
            'answer': [
                "Radio-Addict.com ist eine unabhängige Radio-Streaming-Website."
            ]
        },
        {
            'question': "Ich möchte mein (Web-) Radio hinzufügen:",
            'answer': [
                'Du hast zwei Möglichkeiten:',
                "1/ Erstelle ein Konto und füge dein Radio hier hinzu: <a target=\"_blank\" href=\"#{url('user_page_streams')}\">klicke hier</a>.",
                '2/ Benutze die Radio-Browser-API. <a target="_blank" href="https://www.radio-browser.info/#/add">Um Ihr Radio einzureichen, klicken Sie hier.</a> '
            ]
        },
        {
            'question': "Einige Radios haben zu Beginn ihres Streamings eine Anzeige.",
            'answer': [
                "Diese Anzeigen werden von den Radios selbst hinzugefügt und nicht von Radio-Addict.com."
            ]
        },
        {
            'question': "Top-Radios aus der ganzen Welt:",
            'answer': [
                countries.list(app.request.locale, 'top')
            ]
        }
    ],
    "pt": [
        {
            'question': "O que é Radio-Addict.com?",
            'answer': [
                "Radio-addict.com é um site independente de streaming de rádio."
            ]
        },
        {
            'question': "Quero adicionar minha rádio (web):",
            'answer': [
                'Você tem duas opções: ',
                "1/ Crie uma conta e adicione sua rádio aqui: <a target=\"_blank\" href=\"#{url('user_page_streams')}\">clique aqui</a>.",
                '2/ Use a API Radio-Browser. Para enviar seu rádio, <a target="_blank" href="https://www.radio-browser.info/#/add">clique aqui</a>.'
            ]
        },
        {
            'question': "Algumas rádios têm um anúncio no início da transmissão.",
            'answer': [
                "Esses anúncios são adicionados pelos próprios rádios e não pelo Radio-Addict.com."
            ]
        },
        {
            'question': "As melhores rádios de todo o mundo:",
            'answer': [
                countries.list(app.request.locale, 'top')
            ]
        }
    ],
    "pl": [
        {
            'question': "Co to jest Radio-addict.com?",
            'answer': [
                "Radio-addict.com to niezależna strona radiowa do przesyłania strumieniowego."
            ]
        },
        {
            'question': "Chcę dodać moje (internetowe) radio",
            'answer': [
                'Masz dwie możliwości:',
                "1/ Załóż konto i dodaj tutaj swoje radio: <a target=\"_blank\" href=\"#{url('user_page_streams')}\">kliknij tutaj</a>.",
                '2/ Użyj interfejsu API Radio-Browser. Aby przesłać swoje radio, <a target="_blank" href="https://www.radio-browser.info/#/add">Kliknij tutaj</a>.'
    ]
        },
        {
            'question': "Niektóre radia mają reklamę na początku przesyłania strumieniowego.",
            'answer': [
                "Reklamy te są dodawane przez same radia, a nie Radio-Addict.com"
            ]
        },
        {
            'question': "Najlepsze radia z całego świata:",
            'answer': [
                countries.list(app.request.locale, 'top')
            ]
        }
    ],
    "el": [
        {
            'question': "Τι είναι το Radio-addict.com;?",
            'answer': [
                "Το Radio-addict.com είναι ένας ανεξάρτητος ιστότοπος ραδιοφωνικής ροής."
            ]
        },
        {
            'question': "Θέλω να προσθέσω το (web) ραδιόφωνο μου:",
            'answer': [
                'Έχετε δύο επιλογές:',
                "1/ Δημιουργήστε έναν λογαριασμό και προσθέστε το ραδιόφωνο σας εδώ: <a target=\"_blank\" href=\"#{url('user_page_streams')}\">κάντε κλικ</a>.",
                '2/ Χρησιμοποιήστε το API ραδιοφωνικού προγράμματος περιήγησης. Για να υποβάλετε το ραδιόφωνό σας, <a target="_blank" href="https://www.radio-browser.info/#/add">Κάντε κλικ ΕΔΩ</a>.'
    ]
        },
        {
            'question': "Ορισμένα ραδιόφωνα έχουν μια διαφήμιση στην αρχή της ροής τους.",
            'answer': [
                "Αυτές οι διαφημίσεις προστίθενται από τα ίδια τα ραδιόφωνα και όχι από το Radio-addict.com."
            ]
        },
        {
            'question': "Κορυφαία ραδιόφωνα από όλο τον κόσμο:",
            'answer': [
                countries.list(app.request.locale, 'top')
            ]
        }
    ],
    "ar": [
        {
            'question': "ما هو {Radio-addict.com}؟",
            'answer': [
                "Radio-addict.com هو موقع مستقل يستمع إلى محطات الراديو من جميع أنحاء العالم."
            ]
        },
        {
            'question': "تحتوي بعض محطات الراديو على إعلان في بداية القراءة.",
            'answer': [
                "تتم إضافة هذه الإعلانات بواسطة محطات الراديو نفسها وليس بواسطة Radio-addict.com.",
                "يحاول مشغل Radio-Addict تقليل هذه الإعلانات عند التبديل بين جهازي راديو أو إيقاف الراديو مؤقتًا.",
                "في بعض الحالات، قد يمنع مانع الإعلانات تشغيل الراديو."
            ]
        },
        {
            'question': "أريد إضافة راديو (الويب) الخاص بي، كيف أفعل ذلك؟",
            'answer': [
                'You have two choices:',
                "1/ Create a account and submit your radio here: <a target=\"_blank\" href=\"#{url('user_page_streams')}\">click here</a>.",
                '2/ Use the Radio-Browser API. To submit your radio, <a target="_blank" href="https://www.radio-browser.info/#/add">click here</a>.'
            ]
        },
        {
            'question': "أفضل محطات الراديو حسب البلد:",
            'answer': [
                countries.list(app.request.locale, 'top')
            ]
        }
    ],
    "ro": [
        {
            'question': "Ce este Radio-addict.com?",
            'answer': [
                "Radio-addict.com este un site independent pentru ascultarea posturilor de radio din întreaga lume."
            ]
        },
        {
            'question': "Unele posturi de radio au o reclamă la începutul jocului.",
            'answer': [
                "Aceste reclame sunt adăugate chiar de posturile de radio și nu de Radio-addict.com.",
                "Playerul Radio-Addict încearcă să minimizeze aceste reclame atunci când comutați între două posturi de radio sau întrerupeți un post de radio.",
                "În unele cazuri, blocarea anunțurilor poate bloca redarea radio."
            ]
        },
        {
            'question': "Vreau să adaug radioul meu (web), cum o fac?",
            'answer': [
                'Aveți două opțiuni:',
                "1/ Creați un cont și adăugați radioul aici: <a target=\"_blank\" href=\"#{url('user_page_streams')}\">faceți clic aici</a>.",
                '2/ Utilizați API-ul Radio-Browser. Pentru a trimite radioul, <a target="_blank" href="https://www.radio-browser.info/#/add">faceți clic aici</a>.'
            ]
        },
        {
            'question': "Radiouri de top după țară:",
            'answer': [
                countries.list(app.request.locale, 'top')
            ]
        }
    ],
}
%}

{% block body %}
<div class="container page-faq">
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <h3 class="mb-4">{{ 'page.faq.title'|trans }}</h3>
            {% for entry in faq[app.request.locale] %}
                <dl>
                    <dt>{{ entry.question }}</dt>
                    {% for line in entry.answer %}
                        <dd>{{ line  | raw }}</dd>
                    {% endfor %}
                </dl>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
