{% extends 'base.html.twig' %}

{# now done in vue based on route #}
{#{% block bodysupp %} class="body-app"{% endblock %}#}
{% block footersupp %}{% endblock %}

{% block javascript_head %}
const baseUrl = '/';
const appEnv = '{{ app.environment }}';
const gtCode = '{{ analytics }}';
const streamsProxy = '{{ streams_proxy }}';
const logged = {{ is_granted('IS_AUTHENTICATED_FULLY') ? 'true' : 'false' }};

const scrollToCursor = function(e) {
{#    e.preventDefault();#}
  if (window.location.href.includes(e.getAttribute('href'))) {
    document.getElementById('app').__vue__.$store.dispatch('scrollToCursor');
  }
};
{% endblock %}

{% block body %}
<div class="container-fluid" id="schedule-app">
    <div class="row" style="margin-right: 0 !important; margin-left: 0 !important">
        <div class="col-md-12" style="padding-right: 0 !important; padding-left: 0 !important">
            <div id="app">
                <router-view></router-view>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
