{% extends 'base.html.twig' %}

{% block title %}{{ 'page.now.page_title'|trans }}{% endblock %}
{% block description %}{{ 'page.now.page_description'|trans }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include('_partials/mini_player.html.twig') %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') == false %}
        {{ include('_partials/adsense.html.twig') }}
    {% endif %}
{% endblock %}

{% block body %}
<div class="container now-page">
    <div class="row">
        <div class="col-md-12">
            <h4 class="mb-3">{{ 'page.now.title'|trans }}</h4>
            <ul class="nav nav-tabs" role="tablist">
            {% for entry in collections %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link{{ loop.first ? ' active" aria-selected="true"' : '' }}" id="{{ entry.code_name }}-tab" data-bs-toggle="tab" data-bs-target="#{{ entry.code_name }}" type="button" role="tab" aria-controls="{{ entry.code_name }}">{{ entry.name_FR }}</button>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-9">
            <div class="tab-content tab-now">
                {% for entry_collection in collections %}
                <div role="tabpanel" aria-labelledby="{{ entry_collection.code_name }}-tab" class="tab-pane {{ loop.first ? ' show active' : '' }}" id="{{ entry_collection.code_name }}">
                    <div class="mt-3 mb-4">
                        <a class="spa-link" href="{{ path('app') }}schedule/{{ entry_collection.code_name }}">{{ 'page.now.back'|trans }}</a></div>
                    {% if schedule[entry_collection.code_name] is defined %}
                    {% for entry in schedule[entry_collection.code_name] %}
                        <div class="row mb-4 pb-2 border-bottom">
                            <div class="col-2 col-md-1">
                                <a class="spa-link" href="{{ path('radio', {'codename': entry.radio.codeName}) }}">
                                    <img class="img-fluid" title="{{ entry.radio.name }}" alt="{{ entry.radio.name }}" src="{{ asset('img/radio/page/' ~ entry.radio.codeName ~ '.png') }}">
                                </a>
                                {% if entry.radio.streamingUrl is not null %}
                                    <div class="now-page-streams mt-3" v-scope>
                                        <div class="radio-page-streams-one text-center mb-4 d-none"
                                             @vue:mounted="$el.classList.remove('d-none')">
                                            <div
                                                v-if="playing === false || radioId !== '{{ entry.radio.codeName }}'"
                                                @click="play('{{ entry.radio.streamingUrl }}', '{{ entry.radio.codeName }}')"
                                                class="radio-page-play">
                                                <img alt="{{ 'page.radio.play'|trans({'%radio%': entry.radio.name}) }}"
                                                     src="/img/play-button-inside-a-circle.svg">
                                                <div>
                                                    {{ 'page.radio.play'|trans({'%radio%': entry.radio.name}) }}
                                                </div>
                                            </div>
                                            <div
                                                    v-if="playing === true && radioId === '{{ entry.radio.codeName }}'"
                                                    @click="stop('{{ entry.radio.codeName }}')"
                                                    class="radio-page-play">
                                                <img alt="{{ 'page.radio.stop'|trans() }}"
                                                     src="/img/rounded-pause-button.svg">
                                                <div>
                                                    {{ 'page.radio.stop'|trans() }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-10 col-md-11">
                                <div class="d-flex">
                                    {% if entry.show.picture_url %}
                                    <img alt="" class="me-3 img-fluid" style="max-width: 64px; max-height: 64px"
                                         src="{{ asset('/media/cache/page_thumb/media/program/' ~ entry.show.picture_url) }}">
                                    {% endif %}
                                    <div>
                                        <h6 class="fw-bold">{{ entry.show.start_at | format_time('short', locale=app.request.locale, timezone=timezone) | capitalize }}-{{ entry.show.end_at | format_time('short', locale=app.request.locale, timezone=timezone) | capitalize }} - {{ entry.show.title }}</h6>
                                        {% if entry.show.host %}
                                            <div> {{ entry.show.host }}</div>
                                        {% endif %}
                                        {% if entry.show.description %}
                                            <p class="fw-light">{{ entry.show.description | nl2br  }}</p>
                                        {% endif %}

                                        {% if entry.show.sections is defined %}
                                            <div class="sections">
                                                {% for section in entry.show.sections %}
                                                    <div class="d-flex mb-2">
                                                        {% if section.picture_url %}
                                                            <img alt="" class="me-3 img-fluid" style="max-width: 64px; max-height: 64px"
                                                                 src="{{ asset('/media/cache/page_thumb/media/program/' ~ section.picture_url) }}">
                                                        {% endif %}
                                                        <div>
                                                            <h6 class="fw-bold">{{ section.start_at | format_time('short', locale=app.request.locale, timezone=timezone) | capitalize }} - {{ section.title }}</h6>
                                                            {% if section.presenter %}
                                                                <div>{{ section.presenter }}</div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% else %}
                        <div class="alert alert-warning" role="alert">{{ 'page.now.no_schedule'|trans|raw }}</div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-12 col-sm-3">
        {% if app.environment == 'prod' %}
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') == false %}
            <div class="sticky-md-top" style="top: 70px">
                {{ include('_partials/adblock.html.twig', {vertical: true}) }}
            </div>
            {% endif %}
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}
