{% extends 'base.html.twig' %}

{% block title %}Programmes en ce moment à la radio{% endblock %}
{% block description %}Quoi écouter maintenant ?{% endblock %}

{% block body %}
<div class="container schedule-page" id="schedule-now">
    <div class="row">
        <div class="col-md-12 title">
            <h5>En ce moment à la radio</h5>
{#            <a href="{{ path('app') }}">← Retourner à la grille complète</a>#}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
            {% for entry in collections %}
                <li role="presentation" class="{{ loop.first ? 'active' : '' }}">
                    <a href="#{{ entry.code_name }}" aria-controls="home" role="tab" data-toggle="tab">{{ entry.name_FR }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="tab-content">
                {% for entry_collection in collections %}
                <div role="tabpanel" class="tab-pane{{ loop.first ? ' active' : '' }}" id="{{ entry_collection.code_name }}">
                    <div class="link-to-collection-schedule"><a href="{{ absolute_url('/#/schedule/' ~ entry_collection.code_name) }}">← Retourner à la grille des programmes</a></div>
                    {% if schedule[entry_collection.code_name] is defined %}
                    {% for entry in schedule[entry_collection.code_name] %}
                        <div class="row radio-schedule-row">
                            <div class="col-md-1 col-xs-2 schedule-day-radio">
                                <a href="{{ path('radio', {'codename': entry.radio.codeName}) }}">
                                    <img class="center-block img-responsive" title="{{ entry.radio.name }}" alt="{{ entry.radio.name }}" src="{{ asset('img/radio/page/' ~ entry.radio.codeName ~ '.png') }}">
                                </a>
                            </div>
                            <div class="col-md-10 col-xs-10 schedule-day-shows">
                                <div class="media">
                                    {% if entry.show.picture_url %}
                                        <div class="media-left">
                                            <img alt="" class="media-object" style="width: 64px"
                                                 src="{{ asset('media/cache/page_thumb/media/program/' ~ entry.show.picture_url) }}">
                                        </div>
                                    {% endif %}
                                    <div class="media-body">
                                        <h6 class="media-heading show-title">{{ entry.show.start_at | localizeddate('none', 'short', 'fr_FR', timezone) | capitalize }}-{{ entry.show.end_at | localizeddate('none', 'short', 'fr_FR', timezone) | capitalize }} - {{ entry.show.title }}</h6>
                                        {% if entry.show.host %}
                                            <div class="show-host"> {{ entry.show.host }}</div>
                                        {% endif %}
                                        {% if entry.show.description %}
                                            <p class="show-description">{{ entry.show.description | nl2br  }}</p>
                                        {% endif %}
                                    </div>

                                    {% if entry.show.sections is defined %}
                                        <div class="sections">
                                            {% for section in entry.show.sections %}
                                                <div class="media">
                                                    {% if section.picture_url %}
                                                        <div class="media-left">
                                                            <img alt="" class="media-object" style="width: 48px"
                                                                 src="{{ asset('media/cache/page_thumb/media/program/' ~ section.picture_url) }}">
                                                        </div>
                                                    {% endif %}
                                                    <div class="media-body">
                                                        <h6 class="media-heading show-title">{{ section.start_at | localizeddate('none', 'short', 'fr_FR', timezone) | capitalize }} - {{ section.title }}</h6>
                                                        {% if section.presenter %}
                                                            <div class="show-host">{{ section.presenter }}</div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% else %}
                        <div class="alert alert-warning" role="alert"><strong>Oups ...</strong> aucuns programmes disponibles.</div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
