{% extends 'base.html.twig' %}

{% block title %}La grille des programmes de {{ radio.name }}{% endblock %}
{% block description %}Le programme du jour de la radio {{ radio.name }} !{% endblock %}

{% block body %}
<div class="container schedule-page" id="schedule-day">
    <div class="row">
        <div class="col-md-2 col-xs-12">
            <div class="row">
                <div class="col-md-12 col-xs-6">
                    <div class="schedule-day-radio center-block">
                        <img class="center-block" alt="{{ radio.name }}" style="width: 140px;" src="{{ asset('img/radio/page/' ~ radio.codename ~ '.png') }}">
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xs-6">
                <div class="schedule-day-play center-block">
                    <a href="{{ path('app') }}#/radio/{{ radio.codeName }}?play=1">
                        <img class="schedule-day-play-button" alt="{{ 'page.radio.play'|trans({'%radio%': radio.name}) }}" src="/img/play-button-inside-a-circle.svg">
                        <div class="schedule-day-play-text">
                            {{ 'page.radio.play'|trans({'%radio%': radio.name}) }}
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-10 col-xs-12">
            <div class="title">
                <h5>{{ date | localizeddate('full', 'none', app.request.locale, timezone) | capitalize }}</h5>
                <a href="{{ absolute_url('/' ~ app.request.locale ~ '/#/schedule/' ~ radio.collection.codeName) }}">{{ 'page.radio.back'|trans }}</a>
            </div>

            <div class="schedule-day-shows">
            {% for show in schedule %}
                <div class="media">
                {% if show.picture_url %}
                    <div class="media-left">
                        <img alt="" class="media-object" style="width: 64px"
                             src="{{ asset('media/cache/page_thumb/media/program/' ~ show.picture_url) }}">
                    </div>
                {% endif %}
                <div class="media-body">
                    <h6 class="media-heading show-title">{{ show.start_at | localizeddate('none', 'short', 'fr_FR', timezone) | capitalize }}-{{ show.end_at | localizeddate('none', 'short', 'fr_FR', timezone) | capitalize }} - {{ show.title }}</h6>
                    {% if show.host %}
                        <div class="show-host"> {{ show.host }}</div>
                    {% endif %}
                    {% if show.description %}
                        <p class="show-description">{{ show.description | nl2br  }}</p>
                    {% endif %}
                </div>

                {% if show.sections is defined %}
                    <div class="sections">
                    {% for section in show.sections %}
                        <div class="media">
                            {% if section.picture_url %}
                                <div class="media-left">
                                    <img alt="" class="media-object" style="width: 48px"
                                         src="{{ asset('media/cache/page_thumb/media/program/' ~ section.picture_url) }}">
                                </div>
                            {% endif %}
                            <div class="media-body">
                                <h6 class="media-heading show-title">{{ section.start_at | localizeddate('none', 'short', 'fr_FR', timezone) | capitalize }} - {{ section.title }}</h6>
                                {% if section.presenter %}
                                    <div class="show-host">{{ section.presenter }}</div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
            {% else %}
                <div class="alert alert-warning" role="alert">Programmes non disponibles.</div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
