{% extends 'base.html.twig' %}

{% import _self as self %}

{% block head_supp %}
    {{ parent() }}
    {% if schedule|length == 0 %}
        <meta name="robots" content="noindex">
    {% endif %}
    {% include '_partials/adsense.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if stream_url is not null %}
        {% include('_partials/mini_player.html.twig') %}
    {% endif %}
{% endblock %}

{% macro is_current(date_start, date_end) %}
    {% if date(date_start) < date() and date(date_end) > date() %}
        media-current
    {% endif %}
{% endmacro %}

{% macro is_current_anchor(date_start, date_end) %}
    {% if date(date_start) < date() and date(date_end) > date() %}
        <a class="anchor" id="media-current"></a>
    {% endif %}
{% endmacro %}

{% block title %}{{ 'page.radio.title'|trans({'%radio%': radio.name}) }}{% endblock %}
{% block description %}{{ 'page.radio.description'|trans({'%radio%': radio.name}) }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-2 col-12">
            <div class="radio-page-side sticky-top">
                <div class="text-center mb-4">
                    <img class="radio-page-logo" alt="{{ radio.name }}" src="{{ asset('/img/radio/page/' ~ radio.codename ~ '.png') }}">
                </div>
                {% if stream_url is not null %}
                <div class="radio-page-streams" v-scope>
                    <div class="radio-page-streams-one text-center mb-4 v-cloak">
                        <div
                            v-if="playing === false"
                            @click="play('{{ stream_url }}', '{{ radio.codename }}')"
                            class="radio-page-play">
                            <img alt="{{ 'page.radio.play'|trans({'%radio%': radio.name}) }}"
                                 src="/img/play-button-inside-a-circle.svg">
                            <div>
                                {{ 'page.radio.play'|trans({'%radio%': radio.name}) }}
                            </div>
                        </div>
                        <div
                            v-if="playing === true"
                            @click="stop('{{ radio.codename }}')"
                            class="radio-page-play">
                            <img alt="{{ 'page.radio.stop'|trans() }}"
                                 src="/img/rounded-pause-button.svg">
                            <div>
                                {{ 'page.radio.stop'|trans() }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center mb-4 d-none d-sm-block">
                    <a href="{{ path('radio_spa', {collection: radio.codeName }) }}"><small>{{ 'page.radio.advanced'|trans|raw }}</small> </a>
                </div>
                {% endif %}
                <div class="radio-page-infos d-none d-sm-block mt-1">
                    {% if radio.website %}
                        <div class="mt-2">
                            <strong>{{ 'page.radio.website'|trans }}:</strong> <a target="_blank" href="{{ radio.website }}">{{ radio.website }}</a>
                        </div>
                    {% endif %}
                    {% if attribute(radio, 'description' ~ app.request.locale|capitalize) %}
                        <div class="mt-2"><strong>{{ 'page.radio.summary'|trans }}:</strong></div>
                        <p class="radio-page-infos-description mt-1">{{ attribute(radio, 'description' ~ app.request.locale|capitalize) | nl2br }}</p>
                    {% endif %}
                    {% if attribute(radio, 'wikipedia' ~ app.request.locale|capitalize) %}
                        <div class="mt-2"><a target="_blank" href="{{ attribute(radio, 'wikipedia' ~ app.request.locale|capitalize) }}">Wikipedia</a></div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-8 col-12 pb-3">
            <div class="row">
                <div class="col-md-6 col-12 text-center text-sm-start">
                    <h4>{{ date |format_date('full', locale=app.request.locale, timezone=timezone) | capitalize }}</h4>
                </div>
                <div class="col-md-6 col-12 schedule-page-datenav mt-2 mt-sm-0 text-center text-sm-end">
                    ←&nbsp;
                    {% if has_prev %}
                        <a href="{{ path('radio', {'codename': radio.codeName, 'date': prev_date |date("Y-m-d") }) }}">{{ prev_date |format_date('short', locale=app.request.locale, timezone=timezone) | capitalize }}</a>
                    {% else %}
                        {{ prev_date |format_date('short', locale=app.request.locale, timezone=timezone) | capitalize }}
                    {% endif %} |
<!--                        | <a href="{{ path('radio', {'codename': radio.codeName, 'date': 'now' |date('Y-m-d') }) }}">{{ 'page.radio.today'|trans }}</a> |-->
                    {% if has_next %}
                        <a href="{{ path('radio', {'codename': radio.codeName, 'date': next_date |date('Y-m-d')}) }}">{{ next_date |format_date('short', locale=app.request.locale, timezone=timezone) | capitalize }}</a>
                    {% else %}
                        {{ next_date |format_date('short', locale=app.request.locale, timezone=timezone) | capitalize }}
                    {% endif %}
                    &nbsp;→
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-2 mt-2 mt-sm-0 text-center text-sm-start">
                    <a class="spa-link" href="{{ absolute_url('/' ~ app.request.locale ~ '/schedule/' ~ radio.collection.codeName) }}">{{ 'page.radio.back'|trans }}</a><br>
                </div>
            </div>

            {% set is_today = date|date("mdY") == "now"|date("mdY") %}

            {% if is_today %}
                <div class="row">
                    <div class="col-md-12 mb-4 mt-sm-0 text-center text-sm-start">
                        <a href="#media-current">{{ 'page.radio.current'|trans }}</a>
                    </div>
                </div>
            {% endif %}

            {% if is_today == false %}
                <div class="row">
                    <div class="col-md-12 mb-3 mt-2 text-center text-sm-start">
                        <div class="alert alert-light">
                            <i class="bi bi-exclamation-circle-fill"></i>&nbsp;
                            {{ 'page.radio.not_today'|trans }}:
                            <a href="{{ path('radio_spa', {'collection': radio.codeName }) }}">
                                {{ 'page.radio.goto_today'|trans }}
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="radio-page-shows">
            {% for show in schedule %}
                {{ self.is_current_anchor(show.start_at, show.end_at) }}
                <div class="d-flex align-items-stretch{{ self.is_current(show.start_at, show.end_at) }}">
                    <div class="flex-shrink-0 media-timeline">
                        .
                    </div>
                    {% if show.picture_url %}
                    <div class="flex-shrink-0">
                        <img alt="" class="img-fluid img-show mb-2"
                            src="{{ asset('/media/cache/page_thumb/media/program/' ~ show.picture_url) }}">
                    </div>
                    {% endif %}
                    <div class="flex-fill ps-3 mb-3">
                        <h6 class="fw-bold mb-0">{{ show.start_at | format_time('short', locale=app.request.locale, timezone=timezone) | capitalize }}-{{ show.end_at | format_time('short', locale=app.request.locale, timezone=timezone) | capitalize }} - {{ show.title }}</h6>
                        {% if show.host %}
                            <div>{{ show.host }}</div>
                        {% endif %}
                        {% if show.description %}
                            <p class="fw-light mt-2">{{ show.description | nl2br }}</p>
                        {% endif %}

                        {% if show.sections is defined %}
                            <div class="mt-1">
                            {% for section in show.sections %}
                                <div class="d-flex mb-2 align-items-stretch">
                                    {% if section.picture_url %}
                                    <div class="flex-shrink-0">
                                        <img alt="" class="img-fluid" style="max-width: 48px; max-height: 48px"
                                             src="{{ asset('/media/cache/page_thumb/media/program/' ~ section.picture_url) }}">
                                    </div>
                                    {% endif %}
                                    <div class="flex-fill ps-3 mb-3">
                                        <h6 class="mt-0">{{ section.start_at | format_time('short', locale=app.request.locale, timezone=timezone) | capitalize }} - {{ section.title }}</h6>
                                        {% if section.presenter %}
                                        <div><i>{{ section.presenter }}</i></div>
                                        {% endif %}
                                        {% if section.description %}
                                            <div class="mt-1">{{ section.description }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <div class="alert alert-warning" role="alert">{{ 'page.radio.no_schedule'|trans }}</div>
            {% endfor %}
            </div>
        </div>
        <div class="col-md-2 col-12">
            <div class="d-flex flex-sm-column flex-row flex-wrap radio-page-more">
                <div class="text-center mb-2 radio-page-more-header d-none d-sm-block">
                    {{ 'page.radio.more_radios'|trans }}
                </div>
                {% for entry in more_radios %}
                    <a class="radio-page-more-one d-flex align-items-center justify-content-center"
                       href="{{ path('radio', {'codename': entry.codeName}) }}" title="{{ entry.name }}">
                        <img class="radio-page-more-one-logo align-self-center" alt="{{ entry.name }}" src="{{ asset('/img/radio/page/' ~ entry.codeName ~ '.png') }}">
                    </a>
                {% endfor %}
            </div>

        </div>
    </div>
    <div class="row d-none d-sm-block">
        <div class="col-8 offset-2">
            <div class="text-left mt-3 mb-3 radio-page-more-header">
                {{ 'page.radio.more_radios'|trans }}
            </div>
            <div class="d-flex flex-row justify-content-evenly align-items-center mt-3">
                {% for entry in more_radios2 %}
                    <a class="radio-page-more-one d-flex align-items-center justify-content-center"
                       href="{{ path('radio', {'codename': entry.codeName}) }}" title="{{ entry.name }}">
                        <img class="radio-page-more-one-logo align-self-center" alt="{{ entry.name }}" src="{{ asset('/img/radio/page/' ~ entry.codeName ~ '.png') }}">
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
