{% extends 'base.html.twig' %}

{% import _self as self %}

{% block javascripts %}
    {{ parent() }}
    {% include('_partials/mini_player.html.twig') %}
{#    {% if app.request.locale != 'fr' %}#}
        {{ include('_partials/adsense.html.twig') }}
{#    {% endif %}#}
{% endblock %}

{% block title %}{{ 'page.stream.title'|trans({'%radio%': stream.name}) }}{% endblock %}
{% block description %}{{ 'page.stream.description'|trans({'%radio%': stream.name}) }}{% endblock %}

{% macro picture(stream) %}
    {% if stream.radioStream.id is defined and stream.radioStream.id is not null %}
        /img/radio/page/{{ stream.radioStream.radio.codeName }}.png
    {% elseif stream.img is not null and stream.img != '' %}
        /media/stream/{{ stream.img }}
    {% else %}
        /img/stream-placeholder.png
    {% endif %}
{% endmacro %}

{% macro topic(stream) %}url:{{ stream.streamUrl }}{% endmacro %}

{% macro stream_code_name(stream) %}
{% if stream.radioStream.radio.codeName is defined %}{{ stream.radioStream.radio.codeName }}{% else %}{{ stream.streamSongCodeName|default(stream.id) }}{% endif %}
{% endmacro %}

{% block body %}
<div class="container stream-page">
    <div class="row">
        <div class="col-sm-2 col-12">
            <div class="radio-page-side sticky">
                <div class="text-center mb-3">
                    <img class="radio-page-logo" alt="{{ stream.name }}" src="{{ self.picture(stream) }}">
                </div>
            </div>
            {% if stream.radioStream %}
                <div class="mt-5 text-center w-50 d-none d-sm-block" style="margin:auto">
                    <a href="{{ constant('App\\Service\\Host::DATA')['progradio']['url'] }}{{ path('radio_spa', {collection: stream.radioStream.radio.codeName }) }}">
                        <small>{{ 'page.radio.goto_schedule'|trans|raw }}</small>
                    </a>
                </div>
            {% endif %}

        </div>
        <div class="col-sm-10 col-10 offset-1 offset-sm-0 pb-3">
            <div class="row">
                <div class="col-sm-9 col-12 order-2 order-sm-1">
                    <h4 class="mb-5">{{ stream.name }}</h4>

                    {% if stream.enabled== false %}
                        <div class="alert alert-warning mb-5" role="alert">
                            <i class="bi bi-exclamation-circle"></i>&nbsp;&nbsp;{{ 'page.stream.disabled'|trans }}
                        </div>
                    {% endif %}

                    <div class="stream-page-stream mt-0 mb-5" v-scope>
                        <div class="radio-page-streams-one d-none d-flex align-items-center justify-content-center justify-content-sm-start"
                             @vue:mounted="$el.classList.remove('d-none')">
                            <div>
                                <div
                                    v-if="playing === false"
                                    @click="play('{{ stream.streamUrl }}', '{{ stream.id }}', '{{ self.topic(stream) }}', '{{ self.stream_code_name(stream) }}')"
                                    class="radio-page-play">
                                    <img alt="{{ 'page.radio.play'|trans({'%radio%': stream.name}) }}"
                                         src="/img/play-button-inside-a-circle.svg">
                                </div>
                                <div
                                    v-if="playing === true"
                                    @click="stop('{{ stream.id }}')"
                                    class="radio-page-play">
                                    <img alt="{{ 'page.radio.stop'|trans() }}"
                                         src="/img/rounded-pause-button.svg">
                                </div>
                            </div>

                            <div class="ps-2">
                                <div
                                        v-if="playing === false"
                                        @click="play('{{ stream.streamUrl }}', '{{ stream.id }}', '{{ self.topic(stream) }}', '{{ self.stream_code_name(stream) }}')"
                                        class="radio-page-play">
                                    <div>&nbsp;{{ 'page.radio.play'|trans({'%radio%': stream.name}) }}</div>
                                </div>
                                <div
                                        v-if="playing === true"
                                        @click="stop('{{ stream.id }}')"
                                        class="radio-page-play">
                                    <div>&nbsp;{{ 'page.radio.stop'|trans({'%radio%': stream.name}) }}</div>
                                </div>
                            </div>
                        </div>

                        <div id="playing-alert" class="alert alert-danger d-none mt-5 mb-5" role="alert">
                            <i class="bi bi-x-circle"></i>&nbsp;&nbsp;{{ 'page.stream.playing_error'|trans }}
                        </div>

                        <div class="mt-5" v-if="song !== null || listeners !== null">
                            <div class="mb-4" v-if="song !== null">
                                <div>
                                    <strong>{{ 'page.stream.playing'|trans }}:&nbsp;&nbsp;</strong>
                                    {% verbatim %}♫ {{ song }}{% endverbatim %}
                                </div>
                                <div class="mt-4" v-if="song !== undefined && song !== null && song.trim() !== ''">
                                    <strong>{{ 'page.stream.find'|trans }}:</strong>&nbsp;&nbsp;
                                    <a class="link-no-to-bold" target="_blank" title="{{ 'page.stream.find_youtube'|trans }}"
                                       :href="encodeURI(`https://www.youtube.com/results?search_query=${song}`)">
                                        <i class="bi bi-youtube"></i> YouTube
                                    </a>&nbsp;&nbsp;
                                    <a class="link-no-to-bold" target="_blank" title="{{ 'page.stream.find_spotify'|trans }}"
                                       :href="encodeURI(`https://open.spotify.com/search/${song}`)">
                                        <i class="bi bi-spotify"></i> Spotify
                                    </a>&nbsp;&nbsp;
                                    <a class="link-no-to-bold" target="_blank" title="{{ 'page.stream.find_deezer'|trans }}"
                                       :href="encodeURI(`https://www.deezer.com/search/${song}`)">
                                        <img src="{{ asset('img/deezericon.png') }}" alt="{{ 'page.stream.find_deezer'|trans }}"> Deezer
                                    </a>&nbsp;&nbsp;
                                </div>
                            </div>
                        </div>

                        <div class="mb-4" v-if="listeners !== null">
                            <div>
                                <strong>{{ 'page.stream.listeners'|trans }}:&nbsp;&nbsp;</strong>
                                {% verbatim %}
                                  <i v-if="listeners === 1" class="bi bi-person-fill"></i>
                                  <i v-if="listeners > 1" class="bi bi-people-fill"></i>
                                  &nbsp;{{ listeners }}
                                {% endverbatim %}
                            </div>
                        </div>
                    </div>

                    {% if stream.countryCode is not null and stream.countryCode != '' %}
                        <div class="mb-4">
                            <strong>{{ 'page.stream.country'|trans }}:</strong>
                            {{ stream.getCountry(app.request.locale) }}
                        </div>
                    {% endif %}

                    {% if stream.website is defined and stream.website is not null %}
                        <div class="mb-4">
                            <strong>{{ 'page.stream.website'|trans }}:</strong> <a target="_blank" href="{{ stream.website }}">{{ stream.website }}</a>
                        </div>
                    {% endif %}

                    {% if stream.tags is not null and stream.tags != '' %}
                        <div class="row">
                            <div class="col-12 col-sm-9">
                                <div class="stream-one-tags">
                                    <div class="d-flex flex-wrap">
                                        {% for tag in stream.tags|split(',') %}
                                            <a href="{{ path('streaming_spa') }}/all?s={{ tag }}">
                                            <span class="badge badge-inverse badge-link">
                                                {{ tag }}
                                            </span>
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="pt-5 px-3 d-sm-none">
                        {% if app.environment == 'prod' %}
                            {{ include('_partials/adblock.html.twig', {vertical: false}) }}
                        {% endif %}
                    </div>

                    <div class="more-streams">
                        <div class="mt-5 mb-1"><strong>{{ 'page.stream.suggested'|trans }}</strong></div>

                        {% if stream.countryCode is not null and stream.countryCode != '' %}
                            <div class="mt-3 mb-3">
                                <a href="{{ path('streaming_spa') }}/{{ stream.countryCode }}">{{ 'page.top.more'|trans({'%country%': stream.getCountry(app.request.locale)}) }}</a>
                            </div>
                        {% endif %}

                        <div class="d-flex clearfix streams">
                            {% for entry in more_streams %}
                                <div class="streams-one streams-one-more streams-one-play-hide">
                                    <div class="streams-one-img" style="background-image: url({{ self.picture(entry) }})"></div>

                                    <div class="streams-one-name" title="{{ entry.name }}">
                                        <a class="streams-one-name-detail" href="{{ path('streams_one_short', {'shortId': entry.code_name|shortid, 'codename': entry.name|slug}) }}">{{ entry.name }}</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="clearfix mt-5 mb-5">
                            <a class="more-link" href="{{ path('streaming_spa') }}">{{ 'page.stream.discover'|trans }}</a>
                        </div>
                    </div>
                </div>
                <div class="offset-sm-0 col-sm-3 d-none d-sm-block order-sm-2 pt-4 pt-sm-2 text-center">
                    {% if app.environment == 'prod' %}
                        {{ include('_partials/adblock.html.twig', {vertical: true}) }}
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
