{% extends 'base.html.twig' %}

{% import _self as self %}

{% block javascripts %}
    {{ parent() }}
    {% include('_partials/mini_player.html.twig') %}
{% endblock %}

{% block title %}{{ 'page.stream.title'|trans({'%radio%': stream.name}) }}{% endblock %}
{% block description %}{{ 'page.stream.description'|trans({'%radio%': stream.name}) }}{% endblock %}

{% macro picture(stream) %}
    {% if stream.radioStream.id is defined and stream.radioStream.id is not null %}
        /img/radio/page/{{ stream.radioStream.radio.codeName }}.png
    {% elseif stream.img is not null and stream.img != '' %}
        /media/stream/{{ stream.img }}
    {% else %}
        /img/stream-placeholder.png
    {% endif %}
{% endmacro %}

{% block body %}
<div class="container stream-page">
    <div class="row">
        <div class="col-sm-2 col-12">
            <div class="radio-page-side sticky">
                <div class="text-center mb-4">
                    <img class="radio-page-logo" alt="{{ stream.name }}" src="{{ self.picture(stream) }}">
                </div>
            </div>
        </div>
        <div class="col-sm-10 col-10 offset-1 offset-sm-0 pb-3">
            <h4 class="mb-4">{{ stream.name | capitalize }}</h4>

            <div class="stream-page-stream mt-3 mb-4" v-scope>
                <div class="radio-page-streams-one d-none d-flex align-items-center justify-content-center justify-content-sm-start"
                     @mounted="$el.classList.remove('d-none')">
                    <div>
                        <div
                            v-if="playing === false"
                            @click="play('{{ stream.streamUrl }}', '{{ stream.id }}')"
                            class="radio-page-play">
                            <img alt="{{ 'page.radio.play'|trans({'%radio%': stream.name}) }}"
                                 src="/img/play-button-inside-a-circle.svg">
                        </div>
                        <div
                            v-if="playing === true"
                            @click="stop('{{ stream.id }}')"
                            class="radio-page-play">
                            <img alt="{{ 'page.radio.stop'|trans() }}"
                                 src="/img/rounded-pause-button.svg">
                        </div>
                    </div>

                    <div class="ps-2">
                        <div
                            v-if="playing === false"
                            @click="play('{{ stream.streamUrl }}', '{{ stream.id }}')"
                            class="radio-page-play">
                            <div>{{ 'page.radio.play'|trans({'%radio%': stream.name}) }}</div>
                        </div>
                        <div
                            v-if="playing === true"
                            @click="stop('{{ stream.id }}')"
                            class="radio-page-play">
                            <div>{{ 'page.radio.stop'|trans() }}</div>
                        </div>
                    </div>
                </div>
            </div>

            {% if stream.countryCode is not null %}
                <div class="mb-3">
                    <strong>{{ 'page.stream.country'|trans }}:</strong> {{ stream.getCountry(app.request.locale) }}
                </div>
            {% endif %}

            {% if stream.website is defined and stream.website is not null %}
            <div class="mb-3">
                <strong>{{ 'page.stream.website'|trans }}:</strong> <a target="_blank" href="{{ stream.website }}">{{ stream.website }}</a>
            </div>
            {% endif %}

            {% if stream.tags is not null and stream.tags != '' %}
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="stream-one-tags">
                            <div class="mb-1"><strong>{{ 'page.stream.tags'|trans }}:</strong></div>
                            <div class="d-flex flex-wrap">
                                {% for tag in stream.tags|split(',') %}
                                    <span class="badge badge-inverse">
                                        {{ tag }}
                                    </span>
                                 {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="more-streams">
                <div class="mt-5 mb-1"><strong>{{ 'page.stream.suggested'|trans }}</strong></div>
                <div class="d-flex flex-wrap clearfix">
                    {% for entry in more_streams %}
                    <a class="more-streams-one" href="{{ path('streams_one', {'id': entry.code_name, 'codename': entry.name|slug }) }}">
                        <div class="h-100 mb-1 text-center d-flex flex-column align-items-center">
                            <div class="mt-auto mb-auto">
                                <img src="/media/stream/{{ entry.img }}" alt="" title="{{ entry.name }}">
                            </div>
                            <div class="pt-1">
                                {{ entry.name }}
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
                <div class="clearfix mt-4">
                    <a class="more-link" href="{{ path('streaming_spa') }}">{{ 'page.stream.discover'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
