{% extends 'base_site.html.twig' %}

{% form_theme form 'bootstrap_5_horizontal_layout.html.twig' %}

{% block title %}Suggest Modification{% endblock %}

{% block head_supp %}
    {{ parent() }}

    <meta name="robots" content="noindex">
{% endblock %}

{% block body %}
<div id="admin" class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <h3 class="mb-4">{{ 'page.stream.modification.suggest'|trans }}</h3>

            <div class="alert alert-light text-center mb-4" role="alert">
                {{ 'sponsor.suggestion_page'|trans({'%name%': stream.name, '%url%': stream.streamUrl|url_encode})|raw }}
            </div>

            <h5>{{ 'page.stream.modification.radio'|trans }}: {{ stream.name }}</h5>

            <div class="alert alert-info py-3 px-3 my-4">
                {{ 'page.stream.modification.at_least_one'|trans }}
            </div>


            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}" role="alert">{{ message }}</div>
                {% endfor %}
            {% endfor %}

            {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.img) }}
                {{ form_row(form.streamUrl) }}
                {{ form_row(form.website) }}
                {{ form_row(form.slogan) }}
                {{ form_row(form.description) }}
                {{ form_row(form.tags) }}
                {{ form_row(form.message) }}
                {{ form_row(form.captcha) }}
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}