{% extends 'base.html.twig' %}

{% import _self as self %}

{% macro picture(stream) %}{%- if stream.radioStream.id is defined and stream.radioStream.id is not null %}/img/radio/page/{{ stream.radioStream.radio.codeName }}.png{%- elseif stream.img_alt is defined and stream.img_alt is not null %}/img/radio/page/{{ stream.img_alt }}.png{%- elseif stream.img is not null and stream.img != '' %}/media/stream/{{ stream.img }}{%- else %}/img/stream-placeholder.png{% endif -%}{% endmacro %}

{% macro topic(stream) %}
{% if stream.radioStream is defined and stream.radioStream.currentSong is defined and stream.radioStream.currentSong == true %}song:{{ stream.radioStream.codeName }}{% elseif stream.radioStream is defined and stream.radioStream.url is defined %}url:{{ stream.radioStream.url }}{% else %}url:{{ stream.streamUrl }}{% endif %}
{% endmacro %}

{% macro stream_code_name(stream) %}
{% if stream.radioStream.radio.codeName is defined %}{{ stream.radioStream.radio.codeName }}{% else %}{{ stream.streamSongCodeName|default(stream.id) }}{% endif %}
{% endmacro %}

{% macro stream_url(stream) %}
{% if stream.radioStream is defined and stream.radioStream.url is defined %}{{ stream.radioStream.url }}{% else %}{{ stream.streamUrl }}{% endif %}
{% endmacro %}

{% macro extractYouTubeIdAndProvideiFrame(url) %}
    {% set youtube_id = url | replace({
        'https://youtu.be/': '',
        'https://www.youtube.com/live/': '',
        'https://www.youtube.com/watch?v=': ''
    }) | split('?') | first %}
    <iframe width="325" height="183" src="https://www.youtube.com/embed/{{ youtube_id }}" title="YouTube video player" frameborder="0"
        sandbox="allow-forms allow-pointer-lock allow-same-origin allow-scripts allow-top-navigation allow-presentation"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
{% endmacro %}

{% block head_supp %}
    {{ parent() }}
    <meta property="og:title" content="{{ 'page.stream.title'|trans({'%radio%': stream.name}) }}">
    <meta property="og:url" content="{{ absolute_url(path(app.request.get('_route'), app.request.get('_route_params'))) }}">
    <meta property="og:type" content="website"><meta property="og:site_name" content="{{ getDomainName(app.request) }}">
    <meta property="og:image" content="https://www.{{ getDomainRootDomain(app.request) }}{{- self.picture(stream) -}}">
    <meta property="og:description" content="{{ 'page.stream.description'|trans({'%radio%': stream.name}) }}">
    <meta name="thumbnail" content="https://www.{{ getDomainRootDomain(app.request) }}{{- self.picture(stream) -}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include('_partials/mini_player.html.twig') %}
{#    {% if app.request.locale != 'fr' %}#}
        {{ include('_partials/adsense.html.twig') }}
{#    {% endif %}#}

{# todo: move to own file if reused #}
<script type="application/javascript">
  const shareButton = document.querySelector('.share-button');

   shareButton.addEventListener('click', event => {
    if (navigator.share) {
      navigator.share({
        title: '{{ 'page.stream.title'|trans({'%radio%': stream.name}) }}',
        url: '{{ path('streams_one_short', {'shortId': stream.id|shortid, 'codename': stream.name|slug }) }}'
      }).then(() => {
        // console.log('Thanks for sharing!');
      })
      .catch(console.error);
    } else {
      // fallback
    }
  });
</script>
{% endblock %}

{% block title %}
{% if stream.countryCode is not null and stream.countryCode != '' %}
   {{ 'page.stream.title_country'|trans({'%radio%': stream.name, '%country%': stream.getCountry(app.request.locale)}) }}
{% else %}
    {{ 'page.stream.title'|trans({'%radio%': stream.name}) }}
{% endif %}
{% endblock %}

{% block description %}{{ 'page.stream.description'|trans({'%radio%': stream.name}) }}{% endblock %}

{% block body %}
<div class="container stream-page">
    <div class="row">
        <div class="col-sm-2 col-12">
            <div class="radio-page-side sticky">
                <div class="text-center mb-3">
                    <img class="radio-page-logo" alt="{{ stream.name }}" src="{{ self.picture(stream) }}">
                </div>
            </div>
            {% if stream.radioStream %}
                <div class="mt-5 text-center w-50 d-none d-sm-block" style="margin:auto">
                    <a href="{{ constant('App\\Service\\Host::DATA')['progradio']['url'] }}{{ path('radio_spa', {collection: stream.radioStream.radio.codeName }) }}">
                        <small>{{ 'page.radio.goto_schedule'|trans|raw }}</small>
                    </a>
                </div>
            {% endif %}

        </div>
        <div class="col-sm-10 col-12 offset-sm-0 pb-3">
            <div class="row">
                <div class="col-sm-9 col-12 order-2 order-sm-1">
                    <div>
                        <div class="float-end text-end">
                            <span class="d-none d-sm-block"><a target="_blank" class="link-no-to-bold" href="{{ path('streams_suggestion', {id: stream.id}) }}">{{ 'page.stream.modification.suggest'|trans }}</a></span>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a target="_blank" href="{{ path('admin_overloading', {streamId: stream.id}) }}">{{ 'admin.stream_errors.edit'|trans }}</a>
                        {% endif %}
                        </div>
                        <h4 class="mb-4">{{ stream.name }}</h4>
                    </div>

                    {% if stream.enabled== false %}
                        <div class="alert alert-warning mb-5" role="alert">
                            <i class="bi bi-exclamation-circle"></i>&nbsp;&nbsp;{{ 'page.stream.disabled'|trans }}
                        </div>
                    {% endif %}

                    <div class="stream-page-stream mt-0 mb-4 py-1" v-scope>
                        {% if stream.banned == true %}
                            <div class="alert alert-danger">{{ 'page.stream.banned'|trans }}</div>

                        {% elseif 'youtu.be' in stream.streamUrl or 'youtube.com' in stream.streamUrl %}
                            {{ self.extractYouTubeIdAndProvideiFrame(stream.streamUrl) }}
                        {% else %}
                            <div class="radio-page-streams-one py-1 d-none d-flex align-items-center justify-content-center justify-content-sm-start"
                                 @vue:mounted="$el.classList.remove('d-none')" v-cloak>
                                <div>
                                    <div
                                        v-if="playing === PLAYER_STATE_STOPPED"
                                        @click="play('{{- self.stream_url(stream) -}}', '{{- stream.id -}}', {force_hls: {{- stream.forceHls ? 'true' : 'false' -}}, force_mpd: {{- stream.forceMpd ? 'true' : 'false' -}}, topic: '{{- self.topic(stream)|spaceless -}}', streamCodeName: '{{- self.stream_code_name(stream)|spaceless -}}'})"
                                        class="radio-page-play">
                                        <img alt="{{ 'page.radio.play'|trans({'%radio%': stream.name}) }}"
                                             src="/img/play-button-inside-a-circle.svg">
                                    </div>
                                    <div
                                        v-if="playing === PLAYER_STATE_PLAYING"
                                        @click="stop('{{ stream.id }}')"
                                        class="radio-page-play">
                                        <img alt="{{ 'page.radio.stop'|trans({'%radio%': stream.name}) }}"
                                             src="/img/rounded-pause-button.svg">
                                    </div>
                                    <div
                                        v-if="playing === PLAYER_STATE_LOADING"
                                        @click="stop('{{ stream.id }}')"
                                        class="radio-page-play"
                                        style="margin-right: 7px; margin-bottom: 2px;">
                                        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status"
                                            title="{{ 'page.radio.stop'|trans({'%radio%': stream.name}) }}">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="ps-2">
                                    <div
                                        v-if="playing === PLAYER_STATE_STOPPED"
                                        @click="play('{{- self.stream_url(stream) -}}', '{{- stream.id -}}', {force_hls: {{- stream.forceHls ? 'true' : 'false' -}}, force_mpd: {{- stream.forceMpd ? 'true' : 'false' -}}, topic: '{{- self.topic(stream)|spaceless -}}', streamCodeName: '{{- self.stream_code_name(stream)|spaceless -}}'})"
                                        class="radio-page-play">
                                        <div>&nbsp;{{ 'page.radio.play'|trans({'%radio%': stream.name}) }}</div>
                                    </div>
                                    <div
                                            v-if="playing !== PLAYER_STATE_STOPPED"
                                            @click="stop('{{ stream.id }}')"
                                            class="radio-page-play">
                                        <div>&nbsp;{{ 'page.radio.stop'|trans({'%radio%': stream.name}) }}</div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        <div id="playing-alert" class="alert alert-danger d-none mt-5 mb-5" role="alert">
                            <i class="bi bi-x-circle"></i>&nbsp;&nbsp;{{ 'page.stream.playing_error'|trans }}
                        </div>

                        <div class="mt-4 py-3 py-sm-4 px-sm-3 stream-page-live" v-if="song !== null || listeners !== null" v-cloak>
                            <div class="mb-3" v-if="song !== null">
                                <div>
                                    <strong>{{ 'page.stream.playing'|trans }}:&nbsp;&nbsp;</strong>
                                    {% verbatim %}♫ {{ song }}{% endverbatim %}
                                </div>
                                <div class="mt-3" v-if="song !== undefined && song !== null && song.trim() !== ''">
                                    <strong>{{ 'page.stream.find'|trans }}:</strong>&nbsp;&nbsp;
                                    <a class="link-no-to-bold" target="_blank" title="{{ 'page.stream.find_amazon'|trans }}"
                                       :href="encodeURI(`https://www.amazon.com/gp/search?ie=UTF8&tag=${amazon_affiliate_id}&linkCode=ur2&index=digital-music&keywords=${song}`)">
                                        <i class="bi bi-amazon"></i> Amazon
                                    </a>&nbsp;&nbsp;
                                    <a class="link-no-to-bold" target="_blank" title="{{ 'page.stream.find_youtube'|trans }}"
                                       :href="encodeURI(`https://www.youtube.com/results?search_query=${song}`)">
                                        <i class="bi bi-youtube"></i> YouTube
                                    </a>&nbsp;&nbsp;
                                    <a class="link-no-to-bold" target="_blank" title="{{ 'page.stream.find_spotify'|trans }}"
                                       :href="encodeURI(`https://open.spotify.com/search/${song}`)">
                                        <i class="bi bi-spotify"></i> Spotify
                                    </a>&nbsp;&nbsp;
                                    <a class="link-no-to-bold" target="_blank" title="{{ 'page.stream.find_deezer'|trans }}"
                                       :href="encodeURI(`https://www.deezer.com/search/${song}`)">
                                        <img src="{{ asset('img/deezericon.png') }}" alt="{{ 'page.stream.find_deezer'|trans }}"> Deezer
                                    </a>&nbsp;&nbsp;
                                </div>
                            </div>

                            <div v-if="listeners !== null">
                              <strong>{{ 'page.stream.listeners'|trans }}:&nbsp;&nbsp;</strong>
                                {% verbatim %}
                              <i v-if="listeners === 1" class="bi bi-person-fill"></i>
                              <i v-if="listeners > 1" class="bi bi-people-fill"></i>
                              &nbsp;{{ listeners }}
                            {% endverbatim %}
                            </div>
                        </div>
                    </div>

                    {% if stream.countryCode is not null and stream.countryCode != '' %}
                        <div class="mb-3">
                            <strong>{{ 'page.stream.country'|trans }}:</strong>
                            {{ stream.getCountry(app.request.locale) }}
                        </div>
                    {% endif %}

                    {% if stream.website is defined and stream.website is not null %}
                        <div class="mb-3">
                            <strong>{{ 'page.stream.website'|trans }}:</strong> <a target="_blank" href="{{ stream.website }}">{{ stream.website }}</a> ↗
                        </div>
                    {% endif %}

                    <div class="pt-2 pb-3 px-3 d-block d-sm-none">
                        {{ include('_partials/adblock.html.twig', {style: 'horizontal', class: 'd-block d-sm-none'}) }}
                    </div>

                    {% if stream.tags is not null and stream.tags != '' %}
                        <div class="row">
                            <div class="col-12 col-sm-9">
                                <div class="stream-one-tags">
                                    <div class="d-flex flex-wrap align-items-center">
{#                                        <div class="me-2"><strong>{{ 'page.stream.tags'|trans }}:</strong></div>#}
                                        {% for tag in stream.tags|split(',') %}
                                            <a href="{{ path('streaming_spa') }}/all?s={{ tag }}">
                                            <span class="badge badge-inverse badge-link">
                                                {{ tag }}
                                            </span>
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if stream.slogan %}<h5 class="mt-4">{{ stream.slogan }}</h5>{% endif %}
                    {% if stream.description %}<p>{{ stream.description | nl2br }}</p>{% endif %}

                    <div class="d-sm-none mt-4 mb-2 text-center">
                        <div class="mb-4"><a target="_blank" class="link-no-to-bold" href="{{ path('streams_suggestion', {id: stream.id}) }}">{{ 'page.stream.modification.suggest'|trans }}</a></div>

                        <button type="button" class="btn btn-sm share-button">
                            <i class="bi bi-share-fill"></i>&nbsp;&nbsp;{{ 'page.stream.share'|trans }}
                        </button>
                    </div>

                    <div class="more-streams">
                        <div class="mt-5 mb-1"><strong>{{ 'page.stream.suggested'|trans }}</strong></div>

                        {% if stream.countryCode is not null and stream.countryCode != '' %}
                            <div class="mt-3 mb-3">
                                <a href="{{ path('streaming_spa') }}/{{ stream.countryCode }}">{{ 'page.top.more'|trans({'%country%': stream.getCountry(app.request.locale)}) }}</a>
                            </div>
                        {% endif %}

                        <div class="d-flex clearfix streams mb-4">
                            {% for entry in more_streams %}
                                <div class="streams-one streams-one-more streams-one-play-hide {% if loop.last == true %}d-sm-none{% endif %}">
                                    <a href="{{ path('streams_one_short', {'shortId': entry.code_name|shortid, 'codename': entry.name|slug}) }}">
                                        <div class="streams-one-img" style="background-image: url('{{ self.picture(entry) }}')"></div>
                                    </a>

                                    <div class="streams-one-name" title="{{ entry.name }}">
                                        <a class="streams-one-name-detail" href="{{ path('streams_one_short', {'shortId': entry.code_name|shortid, 'codename': entry.name|slug}) }}">{{ entry.name }}</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="clearfix mt-5 mb-5">
                            <br><br>
                            <a class="more-link" href="{{ path('streaming_spa') }}">{{ 'page.stream.discover'|trans }}</a>
                        </div>
                    </div>

{#                    <div class="pt-3 d-block d-sm-none">#}
{#                        {% if app.environment == 'prod' %}#}
{#                            {{ include('_partials/affiliate.twig') }}#}
{#                        {% endif %}#}
{#                    </div>#}
                </div>
                <div class="offset-sm-0 col-sm-3 d-none d-sm-block order-sm-2 pt-4 pt-sm-2 text-center">
                    {{ include('_partials/adblock.html.twig', {style: random(['vertical', 'vertical2']), class: 'd-none d-sm-block'}) }}

{#                    {% if app.environment == 'prod' %}#}
{#                        {{ include('_partials/affiliate.twig') }}#}
{#                    {% endif %}#}
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
