{% extends 'default/admin/admin_base.html.twig' %}

{% macro active(entry, route) %}
    {{ entry == route ? 'class="nav-link active" aria-current="page"' : 'class="nav-link"' }}
{% endmacro %}

{% set current_path = app.request.get('_route') %}

{% block body %}
    <div id="admin" class="container-fluid">
        <div class="row">
            <div class="col-md-2 admin-listening-side test">
                <ul class="nav nav-pills flex-column mt-3">
                    <li class="nav-item mb-1"><a {{ _self.active('admin_api', current_path) }} href="{{ path('admin_api') }}">{{ 'admin.api.cache.menu'|trans }}</a></li>
                    <li class="nav-item"><a {{ _self.active('admin_search', current_path) }} href="{{ path('admin_search') }}">{{ 'admin.api.search.menu'|trans }}</a></li>
                 </ul>
            </div>

            <div class="col-md-10">
                {% block action_body %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
