{% extends 'default/admin/admin_base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% import _self as self %}

{% macro trend(value) %}
    {% set class = '' %}
    {% set sign = '' %}
    {% if value > 0 %}
        {% set class = 'trend-up' %}
        {% set sign = '+' %}
    {% elseif value < 0 %}
        {% set class = 'trend-down' %}
    {% endif %}

    <span class="trend {{ class }}">{{ sign }}{{ value }}</span>
{% endmacro %}

{% macro nb(value, zerowarning) %}
    {% set class = '' %}
    {% if value == 0 and zerowarning == true %}
        {% set class = 'trend-zero' %}
    {% endif %}

    <span class="trend {{ class }}">{{ value }}</span>
{% endmacro %}

{% macro streamPicture(stream) %}
    {% if stream.radioStream.id is defined and stream.radioStream.id is not null %}
        /img/radio/page/{{ stream.radioStream.radio.codeName }}.png
    {% elseif stream.img is not null and stream.img != '' %}
        /media/stream/{{ stream.img }}
    {% else %}
        /img/stream-placeholder.png
    {% endif %}
{% endmacro %}

{% block body %}
<div id="admin" class="container-fluid">
    <div class="row">
        <div class="col-md-1">
            <ul class="nav nav-pills flex-column" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active w-100 text-left" id="brief-tab" data-bs-toggle="tab" data-bs-target="#brief" type="button" role="tab" aria-controls="brief" aria-selected="true">Résumé</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link w-100 text-left" id="table-tab" data-bs-toggle="tab" data-bs-target="#table" type="button" role="tab" aria-controls="table" aria-selected="false">Tableau</button>
                </li>
            </ul>
        </div>
        <div class="col-md-11">
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="brief" aria-labelledby="brief-tab">
                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <h5>Comptes</h5>
                            <p><strong>{{ userCount }} comptes</strong> actifs.</p>
                            <table class="table table-striped">
                                <thead>
                                    <tr><th>Email</th><th>Création</th></tr>
                                </thead>
                                {% for user in users %}
                                    <tr>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.createdAt|date }}</td>
                                    </tr>
                                {% endfor %}
                                <tfoot>
                                <tr>
                                    <th colspan="2">(10 derniers)</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <h5>Radios sans programmes aujourd'hui</h5>
                            <table class="table table-striped schedule-stats">
                                {% set schedule_errors = 0 %}
                                {% for radio in radios %}
                                    {% if stats[radio.codeName][0].total == 0 %}
                                        {% set schedule_errors = schedule_errors + 1 %}
                                        <tr>
                                            <td class="radio-header"><img title="{{ radio.name }}" alt="{{ radio.name }}" src="{{ asset('img/radio/schedule/' ~ radio.codeName ~ '.png') }}"></td>
                                            <td class="td-auto">
                                                <div class="row">
                                                    <div class="offset-md-1 col-md-2">{{ self.nb(stats[radio.codeName][0].total, true) }}</div>
                                                    <div class="col-md-3">{{ self.trend(stats[radio.codeName][0].diff) }}</div>
                                                    <div class="offset-md-1 col-md-2">{{ self.nb(stats[radio.codeName][0].section_total, false) }}</div>
                                                    <div class="col-md-3">{{ self.trend(stats[radio.codeName][0].section_diff) }}</div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}

                                {% if schedule_errors == 0 %}
                                    <tr><td class="radio-streaming-brief"><i class="bi bi-check-circle"></i>&nbsp;&nbsp;Toutes les radios ont des programmes affichés.</td></tr>
                                {% else %}
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>
                                            <div class="row">
                                                <div class="col-md-6">Programmes</div>
                                                <div class="col-md-6">Chroniques</div>
                                            </div>
                                        </th>
                                    </tr>
                                    </thead>
                                {% endif %}
                            </table>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <h5>Erreurs streams</h5>
                            <table class="table table-striped schedule-stats">
                                {% set stream_errors = 0 %}
                                {% for radioStream in radio_streams_status %}
                                    {% if radioStream.status == false %}
                                        {% set stream_errors = stream_errors + 1 %}
                                        <tr>
                                            <td class="radio-header"><img title="{{ radioStream.name }}" alt="{{ radioStream.name }}" src="{{ asset('img/radio/schedule/' ~ radioStream.radio_code_name ~ '.png') }}"></td>
                                            <td class="td-auto">Erreurs pour <strong>{{ radioStream.retries }}</strong> checks.</td>
                                            <td><a target="_blank" href="{{ radioStream.url }}">lien</a></td>
                                            <td><a href="{{ path('admin_reset_stream_retries', {'id': radioStream.id}) }}"><i class="bi bi-trash"></i></a></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}

                                {% if stream_errors == 0 %}
                                    <tr><td class="radio-streaming-brief"><i class="bi bi-check-circle"></i>&nbsp;&nbsp;Tous les streams fonctionnent</td></tr>
                                {% endif %}
                            </table>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div>
                                <div class="float-end"><a href="{{ path('admin_reset_current_song_retries_all') }}">reset all</a></div>
                                <h5>Erreurs titre en cours</h5>
                            </div>
                            <table class="table table-striped schedule-stats">
                                {% for radioStream in current_song_status %}
                                    <tr>
                                        <td class="radio-header"><img title="{{ radioStream.name }}" alt="{{ radioStream.name }}" src="{{ asset('img/radio/schedule/' ~ radioStream.radio_code_name ~ '.png') }}"></td>
                                        <td class="td-auto">Erreurs pour <strong>{{ radioStream.currentSongRetries }}</strong> checks.</td>
                                        <td><a target="_blank" href="{{ radioStream.url }}">lien</a></td>
                                        <td><a href="{{ path('admin_reset_current_song_retries', {'id': radioStream.id}) }}"><i class="bi bi-trash"></i></a></td>
                                    </tr>
                                {% endfor %}
                                {% for stream in stream_song_status %}
                                    <tr>
                                        <td class="radio-header"><img title="{{ stream.name }}" alt="{{ stream.name }}" src="{{ self.streamPicture(stream) }}"></td>
                                        <td class="td-auto">Erreurs pour <strong>{{ stream.retries }}</strong> checks.</td>
                                        <td><a target="_blank" href="{{ path('streams_one_short', {'shortId': stream.id|shortid, 'codename': stream.name|slug }) }}">lien</a></td>
                                    </tr>
                                {% endfor %}
                                {% if current_song_status|length == 0 and stream_song_status|length == 0 %}
                                    <tr><td class="radio-streaming-brief"><i class="bi bi-check-circle"></i>&nbsp;&nbsp;Pas d'erreur enregistrées</td></tr>
                                {% endif %}
                            </table>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="table" aria-labelledby="table-tab">
                    <table class="table schedule-stats table-striped table-bordered">
                        <tr>
                            <th></th>
                            <th></th>
                            {% for entry in stats|first %}
                                <th>{{ entry.day | date('D d/m/Y') }}</th>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th></th>
                            <th>St.</th>
                            {% for entry in stats|first %}
                                <th>
                                    <div class="row">
                                        <div class="col-md-6">Programmes</div>
                                        <div class="col-md-6">Chroniques</div>
                                    </div>
                                </th>
                            {% endfor %}
                        </tr>

                        {% for radio in radios %}
                            <tr>
                                <td class="radio-header">
                                    <img title="{{ radio.name }}" alt="{{ radio.name }}" src="{{ asset('img/radio/schedule/' ~ radio.codeName ~ '.png') }}">
                                </td>
                                <td class="radio-streaming">
                                    {% if radio.streamingStatus == true %}
                                        <i class="bi bi-check-circle"></i>
                                    {% else %}
                                        <span class="badge">{{ radio.streamingRetries }}</span>
                                    {% endif %}
                                </td>
                                {% for entry in stats[radio.codeName] %}
                                    <td>
                                        <div class="row">
                                            <div class="offset-md-1 col-md-2">{{ self.nb(entry.total, true) }}</div>
                                            <div class="col-md-3">{{ self.trend(entry.diff) }}</div>
                                            <div class="offset-md-1 col-md-2">{{ self.nb(entry.section_total, false) }}</div>
                                            <div class="col-md-3">{{ self.trend(entry.section_diff) }}</div>
                                        </div>
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
