{% extends 'default/admin/admin_base.html.twig' %}

{% set active_tab = 'radios' %}

{% block title %}{{ 'admin.listening.title'|trans }}{% endblock %}

{% macro dateRangeActive(current, dateRange) %}
    {% if current == dateRange %}active{% endif %}
{% endmacro %}

{% block head_supp %}
    {% if dateRange == 'today' %}
        <meta http-equiv="refresh" content="130">
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="module">
      // import { createApp } from 'https://unpkg.com/petite-vue?module'
      import { createApp } from 'https://unpkg.com/petite-vue@0.4.0/dist/petite-vue.es.js'

      // @url https://stackoverflow.com/questions/2631001/test-for-existence-of-nested-javascript-object-key
      const checkNested = (obj, level,  ...rest) => {
        if (obj === undefined || obj === null) return false
        if (rest.length === 0 && obj.hasOwnProperty(level)) return true
        return checkNested(obj[level], ...rest)
      }

      const getTotal = (data) => {
        return (checkNested(data, 'count', 'web', 'total_radios') ? data.count.web.total_radios : 0)
          + (checkNested(data, 'count', 'web', 'total_streams') ? data.count.web.total_streams : 0)
          + (checkNested(data, 'count', 'seo', 'total_radios') ? data.count.seo.total_radios : 0)
          + (checkNested(data, 'count', 'seo', 'total_streams') ? data.count.seo.total_streams : 0)
          + (checkNested(data, 'count', 'android', 'total_radios') ? data.count.android.total_radios : 0)
          + (checkNested(data, 'count', 'android', 'total_streams') ? data.count.android.total_streams : 0);
      }

      // @url https://medium.com/@alperen.talaslioglu/building-dynamic-favicon-with-javascript-223ad7999661
      const setFavicon = (data) => {
        const total = getTotal(data);

        const favicon = document.getElementById('favicon');
        const faviconSize = 16;

        const canvas = document.createElement('canvas');
        canvas.width = faviconSize;
        canvas.height = faviconSize;

        const context = canvas.getContext('2d');
        const img = document.createElement('img');
        img.crossOrigin = 'anonymous';
        img.src = favicon.href;

        img.onload = () => {
          // Draw Original Favicon as Background
          context.drawImage(img, 0, 0, faviconSize, faviconSize);

          // Draw Notification Circle
          context.beginPath();
          context.arc(canvas.width - faviconSize / 3 , faviconSize / 3, faviconSize / 3, 0, 2*Math.PI);
          context.fillStyle = total === 0 ? '#FF0000' :  '#a337b6';
          context.fill();

          // Draw Notification Number
          context.font = '10px "helvetica", sans-serif';
          context.textAlign = "center";
          context.textBaseline = "middle";
          context.fillStyle = '#FFFFFF';
          context.fillText(total, canvas.width - faviconSize / 3, faviconSize / 3);

          // Replace favicon
          favicon.href = canvas.toDataURL('image/png');
        };
      }

      const sources = ['web', 'seo', 'android'];

      createApp({
        data: null,
        // getters
        get total() {
          return getTotal(this.data);
        },
        get totalWebRadios() {
          return checkNested(this.data, 'count', 'web', 'total_radios') ? this.data.count.web.total_radios : '-';
        },
        get totalWebStreams() {
          return checkNested(this.data, 'count', 'web', 'total_streams') ? this.data.count.web.total_streams : '-';
        },
        get totalSeoRadios() {
          return checkNested(this.data, 'count', 'seo', 'total_radios') ? this.data.count.seo.total_radios : '-';
        },
        get totalSeoStreams() {
          return checkNested(this.data, 'count', 'seo', 'total_streams') ? this.data.count.seo.total_streams : '-';
        },
        get totalAndroidRadios() {
          return checkNested(this.data, 'count', 'android', 'total_radios') ? this.data.count.android.total_radios : '-';
        },
        get totalAndroidStreams() {
          return checkNested(this.data, 'count', 'android', 'total_streams') ? this.data.count.android.total_streams : '-';
        },
        totalOfRadio(type, radio_id) {
          let count = 0;

          sources.forEach((source) => {
            if (checkNested(this.data, 'count', source, `list_${type}s`, radio_id)) {
              count += this.data.count[source][`list_${type}s`][radio_id];
            }
          });

          return count;
        },
        // methods
        updateData() {
          fetch('{{ path('admin_listening_webcount') }}')
            .then((response) => {
              response.json().then(data => {
                this.data = data;
                setFavicon(data);
              });
            });
        },
        start() {
          this.updateData();
          setInterval(() => {
            this.updateData();
          }, 10000);
        }
      }).mount()
    </script>
{% endblock %}

{% block body %}
    <div id="admin" class="container-fluid">
        <div class="row">
            <div class="col-md-2 admin-listening-side test">
                {% verbatim %}
                <div class="alert alert-info" role="alert" v-scope v-cloak
                  @vue:mounted="start">
                    <table style="width: 100%">
                        <tr>
                            <td style="width:40%;"><strong>Live web</strong></td>
                            <td style="width:30%;" class="text-center">Radios:&nbsp;<span>{{ totalWebRadios }}</span></td>
                            <td class="text-center">Streams:&nbsp;<span>{{ totalWebStreams }}</span></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="width:40%;"><strong>Live seo</strong></td>
                            <td style="width:30%;" class="text-center">Radios:&nbsp;<span>{{ totalSeoRadios }}</span></td>
                            <td class="text-center">Streams:&nbsp;<span>{{  totalSeoStreams }}</span></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="width:40%;"><strong>Live apps</strong></td>
                            <td style="width:30%;" class="text-center">Radios:&nbsp;<span>{{ totalAndroidRadios }}</span></td>
                            <td class="text-center">Streams:&nbsp;<span>{{  totalAndroidStreams }}</span></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                {% endverbatim %}

                <div class="alert alert-light mt-3">
                    {% if dateEnd is null %}
                        <div>Le {{ dateStart|date('d/m/Y') }}</div>
                    {% else %}
                        <div>Du {{ dateStart|date('d/m/Y') }}</div>
                        <div>au {{ dateEnd|date('d/m/Y') }}</div>
                    {% endif %}
                </div>

                <ul class="nav nav-pills flex-column mt-3">
                    <li class="nav-item"><a class="nav-link daylink {{ _self.dateRangeActive(dateRange, 'today') }}" href="{{ path(app.request.get('_route'), {'dateRange': 'today'}) }}">{{ 'admin.listening.today'|trans }}</a></li>
                    <li class="nav-item"><a class="nav-link daylink {{ _self.dateRangeActive(dateRange, 'yesterday') }}" href="{{ path(app.request.get('_route'), {'dateRange': 'yesterday'}) }}">{{ 'admin.listening.yesterday'|trans }}</a></li>
                    <li class="nav-item"><a class="nav-link daylink {{ _self.dateRangeActive(dateRange, 'thismonth') }}" href="{{ path(app.request.get('_route'), {'dateRange': 'thismonth'}) }}">{{ 'admin.listening.this_month'|trans }}</a></li>
                    <li class="nav-item"><a class="nav-link daylink {{ _self.dateRangeActive(dateRange, 'lastmonth') }}" href="{{ path(app.request.get('_route'), {'dateRange': 'lastmonth'}) }}">{{ 'admin.listening.last_month'|trans }}</a></li>
                    <li class="nav-item d-none d-sm-block"><a class="nav-link daylink {{ _self.dateRangeActive(dateRange, 'ratings') }}" href="{{ path(app.request.get('_route'), {'dateRange': 'ratings', 'countryCode': 'fr'}) }}">{{ 'admin.listening.ratings'|trans }}</a></li>
                </ul>
            </div>

            <div class="col-md-10">
                {% include('default/admin/listening/total.html.twig') %}

                {% if old_view == true %}
                    {% include('default/admin/listening/radios_old.html.twig') %}
                {% else %}
                    {% include('default/admin/listening/radios.html.twig') %}
                {% endif %}
                {% include('default/admin/listening/streams.html.twig') %}
            </div>
        </div>
    </div>
{% endblock %}
