{% extends 'default/admin/admin_base.html.twig' %}

{% set active_tab = 'radios' %}

{% block title %}Ecoutes{% endblock %}

{% macro dateRangeActive(current, dateRange) %}
    {% if current == dateRange %}active{% endif %}
{% endmacro %}

{% block head_supp %}
    <meta http-equiv="refresh" content="130">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="module">
      import { createApp } from 'https://unpkg.com/petite-vue?module'

      // @url https://stackoverflow.com/questions/2631001/test-for-existence-of-nested-javascript-object-key
      const checkNested = (obj, level,  ...rest) => {
        if (obj === undefined || obj === null) return false
        if (rest.length == 0 && obj.hasOwnProperty(level)) return true
        return checkNested(obj[level], ...rest)
      }

      const sources = ['web', 'seo'];

      createApp({
        data: null,
        // getters
        get totalWebRadios() {
          return checkNested(this.data, 'count', 'web', 'total_radios') ? this.data.count.web.total_radios : '-';
        },
        get totalWebStreams() {
          return checkNested(this.data, 'count', 'web', 'total_streams') ? this.data.count.web.total_streams : '-';
        },
        get totalSeoRadios() {
          return checkNested(this.data, 'count', 'seo', 'total_radios') ? this.data.count.seo.total_radios : '-';
        },
        get totalSeoStreams() {
          return checkNested(this.data, 'count', 'seo', 'total_streams') ? this.data.count.seo.total_streams : '-';
        },
        totalOfRadio(type, radio_id) {
          let count = 0;

          sources.forEach((source) => {
            if (checkNested(this.data, 'count', source, `list_${type}s`, radio_id)) {
              count += this.data.count[source][`list_${type}s`][radio_id];
            }
          });

          return count;
        },
        // methods
        updateData() {
          fetch('{{ path('admin_listening_webcount') }}')
            .then((response) => {
              response.json().then(data => {
                this.data = data;
              });
            });
        },
        start() {
          this.updateData();
          setInterval(() => {
            this.updateData();
          }, 10000);
        }
      }).mount()
    </script>
{% endblock %}

{% block body %}
    <div id="admin" class="container-fluid">
        <div class="row">
            <div class="col-md-2 admin-listening-side test">
                {% verbatim %}
                <div class="alert alert-info" role="alert" v-scope v-cloak
                  @mounted="start">
                    <table style="width: 100%">
                        <tr>
                            <td style="width:40%;"><strong>Live web app</strong></td>
                            <td style="width:30%;" class="text-center">Radios:&nbsp;<span>{{ totalWebRadios }}</span></td>
                            <td class="text-center">Streams:&nbsp;<span>{{ totalWebStreams }}</span></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="width:40%;"><strong>Live seo pages</strong></td>
                            <td style="width:30%;" class="text-center">Radios:&nbsp;<span>{{ totalSeoRadios }}</span></td>
                            <td class="text-center">Streams:&nbsp;<span>{{  totalSeoStreams }}</span></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                {% endverbatim %}

                <div class="alert alert-light mt-3">
                    {% if dateEnd is null %}
                        <div>Le {{ dateStart|date('d/m/Y') }}</div>
                    {% else %}
                        <div>Du {{ dateStart|date('d/m/Y') }}</div>
                        <div>au {{ dateEnd|date('d/m/Y') }}</div>
                    {% endif %}
                </div>

                <ul class="nav nav-pills flex-column mt-3">
                    <li class="nav-item"><a class="nav-link daylink {{ _self.dateRangeActive(dateRange, 'today') }}" href="{{ path(app.request.get('_route'), {'dateRange': 'today'})  }}">Aujourd'hui</a></li>
                    <li class="nav-item"><a class="nav-link daylink {{ _self.dateRangeActive(dateRange, 'yesterday') }}" href="{{ path(app.request.get('_route'), {'dateRange': 'yesterday'})  }}">Hier</a></li>
                    <li class="nav-item"><a class="nav-link daylink {{ _self.dateRangeActive(dateRange, 'thisweek') }}" href="{{ path(app.request.get('_route'), {'dateRange': 'thisweek'})  }}">Cette semaine</a></li>
                    <li class="nav-item"><a class="nav-link daylink {{ _self.dateRangeActive(dateRange, 'thismonth') }}" href="{{ path(app.request.get('_route'), {'dateRange': 'thismonth'})  }}">Ce mois-ci</a></li>
                    <li class="nav-item"><a class="nav-link daylink {{ _self.dateRangeActive(dateRange, 'lastweek') }}" href="{{ path(app.request.get('_route'), {'dateRange': 'lastweek'})  }}">Semaine dernière</a></li>
                    <li class="nav-item"><a class="nav-link daylink {{ _self.dateRangeActive(dateRange, 'lastmonth') }}" href="{{ path(app.request.get('_route'), {'dateRange': 'lastmonth'})  }}">Mois dernier</a></li>
                    <li class="nav-item d-none d-sm-block"><a class="nav-link daylink {{ _self.dateRangeActive(dateRange, 'ratings') }}" href="{{ path(app.request.get('_route'), {'dateRange': 'ratings'})  }}">Sondages</a></li>
                </ul>
            </div>

            <div class="col-md-10">
                {% include('default/admin/listening/total.html.twig') %}

                {% if old_view == true %}
                    {% include('default/admin/listening/radios_old.html.twig') %}
                {% else %}
                    {% include('default/admin/listening/radios.html.twig') %}
                {% endif %}
                {% include('default/admin/listening/streams.html.twig') %}
            </div>
        </div>
    </div>
{% endblock %}
