{% extends 'default/admin/admin_base.html.twig' %}

{% set active_tab = 'radios' %}

{% block title %}Ecoutes{% endblock %}

{% macro dateRangeActive(current, dateRange) %}
    {% if current == dateRange %}active{% endif %}
{% endmacro %}

{% block javascripts %}
    {# Todo: use Vue #}

    {{ parent() }}
    <script>
      // live
      const getCount = () => {
        fetch('{{ path('admin_listening_webcount') }}')
          .then(function(response) {
            response.json().then(data => {
              document.getElementById("webcount-webapp-radios").innerHTML = data.count.web.total_radios;
              document.getElementById("webcount-webapp-streams").innerHTML = data.count.web.total_streams;
              document.getElementById("webcount-seo-radios").innerHTML = data.count.seo.total_radios;
              document.getElementById("webcount-seo-streams").innerHTML = data.count.seo.total_streams;
            });
          });
      };

      getCount();

      setInterval(() => {
        getCount();
      }, 15000);
    </script>
{% endblock %}

{% block body %}
    <div id="admin" class="container-fluid">
        <div class="row">
            <div class="col-md-2 admin-listening-side test">
                <div class="alert alert-info" role="alert">
                    <table style="width: 100%">
                        <tr>
                            <td style="width:40%;"><strong>Live web app</strong></td>
                            <td style="width:30%;" class="text-center">Radios:&nbsp;<span id="webcount-webapp-radios">-</span></td>
                            <td class="text-center">Streams:&nbsp;<span id="webcount-webapp-streams">-</span></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="width:40%;"><strong>Live seo pages</strong></td>
                            <td style="width:30%;" class="text-center">Radios:&nbsp;<span id="webcount-seo-radios">-</span></td>
                            <td class="text-center">Streams:&nbsp;<span id="webcount-seo-streams">-</span></td>
                            <td></td>
                        </tr>
                    </table>
                </div>

                <div class="alert alert-light mt-3">
                    {% if dateEnd is null %}
                        <div>Le {{ dateStart|date('d/m/Y') }}</div>
                    {% else %}
                        <div>Du {{ dateStart|date('d/m/Y') }}</div>
                        <div>au {{ dateEnd|date('d/m/Y') }}</div>
                    {% endif %}
                </div>

                <ul class="nav nav-pills flex-column mt-3">
                    <li class="nav-item"><a class="nav-link daylink {{ _self.dateRangeActive(dateRange, 'today') }}" href="{{ path(app.request.get('_route'), {'dateRange': 'today'})  }}">Aujourd'hui</a></li>
                    <li class="nav-item"><a class="nav-link daylink {{ _self.dateRangeActive(dateRange, 'yesterday') }}" href="{{ path(app.request.get('_route'), {'dateRange': 'yesterday'})  }}">Hier</a></li>
                    <li class="nav-item"><a class="nav-link daylink {{ _self.dateRangeActive(dateRange, 'thisweek') }}" href="{{ path(app.request.get('_route'), {'dateRange': 'thisweek'})  }}">Cette semaine</a></li>
                    <li class="nav-item"><a class="nav-link daylink {{ _self.dateRangeActive(dateRange, 'thismonth') }}" href="{{ path(app.request.get('_route'), {'dateRange': 'thismonth'})  }}">Ce mois-ci</a></li>
                    <li class="nav-item"><a class="nav-link daylink {{ _self.dateRangeActive(dateRange, 'lastweek') }}" href="{{ path(app.request.get('_route'), {'dateRange': 'lastweek'})  }}">Semaine dernière</a></li>
                    <li class="nav-item"><a class="nav-link daylink {{ _self.dateRangeActive(dateRange, 'lastmonth') }}" href="{{ path(app.request.get('_route'), {'dateRange': 'lastmonth'})  }}">Mois dernier</a></li>
                    <li class="nav-item d-none d-sm-block"><a class="nav-link daylink {{ _self.dateRangeActive(dateRange, 'ratings') }}" href="{{ path(app.request.get('_route'), {'dateRange': 'ratings'})  }}">Deux derniers mois et demi</a></li>
                </ul>
            </div>

            <div class="col-md-10">
                {% include('default/admin/listening/total.html.twig') %}

                {% include('default/admin/listening/radios.html.twig') %}
                {% include('default/admin/listening/streams.html.twig') %}
            </div>
        </div>
    </div>
{% endblock %}
