{% extends 'default/admin/listening_base.html.twig' %}

{% import "default/admin/macro/format.html.twig" as format %}

{% set active_tab = 'streams' %}

{% block tab_content %}
    <table class="table schedule-stats table-striped table-bordered">
        <tr>
            {% for i in 0..4 %}
                <th style="width: 20%">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-3">Sess.</div>
                        <div class="col-md-3">Moy.</div>
                        <div class="col-md-3">Total</div>
                    </div>
                </th>
            {% endfor %}
        </tr>

        {% for entries in streams_listening|batch(5) %}
            <tr>
                {% for one in entries %}
                    <td>
                        {% if one != 'empty' %}
                            <div class="col-md-3">
                                <a target="_blank" href="{{ path('app') }}#/streaming/{{ one.id }}">
                                <img title="{{ one.name }}" alt="{{ one.name }}"
                                {% if one.img is null %}
                                   src="{{ asset('/img/stream-placeholder.png') }}"
                                {% else %}
                                    src="{{ asset('media/stream/' ~ one.img) }}"
                                {% endif %}>
                                </a></div>
                            <div class="col-md-3">{{ one.total_sessions }}</div>
                            <div class="col-md-3">
                                {% if (one.total_sessions > 0) %}
                                    {{ format.secondsToMinutes(one.total_seconds / one.total_sessions) }}
                                {% else %}
                                    0
                                {% endif %}
                            </div>
                            <div class="col-md-3">{{ format.secondsToMinutes(one.total_seconds) }}</div>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <table class="table schedule-stats table-striped table-bordered">
        <tr>
            <th style="width: 20%">
                <div class="row">
                    <div class="col-md-2">
                        Total
                    </div>
                    <div class="col-md-3">
                        {{ sessions_total.total_sessions }}
                    </div>
                    <div class="col-md-3">
                        {% if sessions_total.total_sessions > 0 %}
                            {{ format.secondsToMinutes(sessions_total.total_seconds / sessions_total.total_sessions) }}
                        {% else %}
                            -
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                        {% if sessions_total.total_sessions > 0 %}
                            {{ format.secondsToMinutes(sessions_total.total_seconds) }}
                        {% else %}
                            -
                        {% endif %}
                    </div>
                </div>
            </th>
            <td style="width: 20%">
                <div class="col-md-3">
                    <strong>Web</strong>
                </div>
                <div class="col-md-2">
                    {% if sessions_device['web'] is defined %}
                        {{ sessions_device['web'].total_sessions }}
                    {% endif %}
                </div>
                <div class="col-md-3">
                    {% if sessions_device['web'] is defined and sessions_device['web'].total_sessions > 0 %}
                        {{ format.secondsToMinutes(sessions_device['web'].total_seconds / sessions_device['web'].total_sessions) }}
                    {% else %}
                        -
                    {% endif %}
                </div>
                <div class="col-md-4">
                    {% if sessions_device['web'] is defined and sessions_device['web'].total_sessions > 0 %}
                        {{ format.secondsToMinutes(sessions_device['web'].total_seconds) }}
                    {% else %}
                        -
                    {% endif %}
                </div>
            </td>
            <td style="width: 20%">
                <div class="col-md-3">
                    <strong>Android</strong>
                </div>
                <div class="col-md-2">
                    {% if sessions_device['android'] is defined %}
                        {{ sessions_device['android'].total_sessions }}
                    {% endif %}
                </div>
                <div class="col-md-3">
                    {% if sessions_device['android'] is defined and sessions_device['android'].total_sessions > 0 %}
                        {{ format.secondsToMinutes(sessions_device['android'].total_seconds / sessions_device['android'].total_sessions) }}
                    {% else %}
                        -
                    {% endif %}
                </div>
                <div class="col-md-4">
                    {% if sessions_device['android'] is defined and sessions_device['android'].total_sessions > 0 %}
                        {{ format.secondsToMinutes(sessions_device['android'].total_seconds) }}
                    {% else %}
                        -
                    {% endif %}
                </div>
            </td>
            <td style="width: 20%">
            </td>
            <td style="width: 20%">
            </td>
        </tr>
    </table>
{% endblock %}
