{% extends 'default/admin/admin_base.html.twig' %}

{% form_theme form 'bootstrap_5_horizontal_layout.html.twig' %}

{% block title %}Stream Overloading{% endblock %}

{% block body %}
<div id="admin" class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <h3 class="mb-4">Stream Overloading</h3>
            <div>
                <div class="float-end">
                    <a target="_blank" href="{{ path('streams_one_short', {'shortId': stream.id|shortid, 'codename': stream.name|slug }) }}">{{ 'admin.stream_errors.view'|trans }}</a> /
                    <a target="_blank" href="{{ path('app') }}streaming/{{ stream.id }}">{{ 'admin.stream_errors.view'|trans }}</a>
                </div>
                <h5>{{ stream.name }}</h5></div>

            <div class="d-flex mb-3 mt-3">
                <div class="me-5"><a target="_blank" href="https://www.google.com/search?tbm=isch&q={{ stream.name }}">Search Google Images</a></div>
                <div><a target="_blank" href="https://www.google.com/search?q={{ stream.name }}">Search Google</a></div>
            </div>

            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}" role="alert">{{ message }}</div>
                {% endfor %}
            {% endfor %}

            {{ form_start(form) }}
                {{ form_errors(form) }}
{#            {{ form_widget(form) }}#}
                {{ form_row(form.name) }}
                {{ form_row(form.img) }}
                {{ form_row(form.streamUrl) }}

                <div id="streamUrlHelpBlock" class="d-flex justify-content-between form-text">
                    <div>https://playerservices.streamtheworld.com/api/livestream-redirect/</div>
                    <div>https://stream.zeno.fm/</div>
                </div>

                <div class="d-flex justify-content-between mt-4">
                    <div class="flex-fill">{{ form_row(form.forceHls) }}</div>
                    <div class="flex-fill">{{ form_row(form.forceMpd) }}</div>
                </div>

                {{ form_row(form.countryCode) }}
                {{ form_row(form.website) }}
                {{ form_row(form.redirect) }}

            {{ form_end(form) }}
        </div>
        <div class="col-12 col-md-5 offset-md-1">
            <h5 class="mt-2">Stream data</h5>
            <div class="mb-1"><strong>Name:</strong> {{ stream.name }}</div>
            <div class="mb-1"><strong>Stream url:</strong> <a target="_blank" href="{{ stream.streamUrl }}">{{ stream.streamUrl }}</a></div>

            {% if stream.originalStreamUrl is defined and stream.originalStreamUrl is not empty %}
                <div class="mb-1"><strong>Original stream url:</strong> <a target="_blank" href="{{ stream.originalStreamUrl }}">{{ stream.originalStreamUrl }}</a></div>
            {% endif %}

            <div class="mb-1"><strong>Tags:</strong> {{ stream.tags }}</div>

            {% if stream.originalTags is defined and stream.originalTags is not empty %}
                <div class="mb-1"><strong>Original tags:</strong> {{ stream.originalTags }}</a></div>
            {% endif %}

            <div class="mb-1"><strong>Country:</strong> {{ stream.countryCode }}</div>
            <div class="mb-1"><strong>Website:</strong> <a target="_blank" href="{{ stream.website }}">{{ stream.website }}</a></div>

            <div class="mb-1"><strong>Enabled:</strong>
                {% if stream.enabled == true %}Yes{% else %}No{% endif %}
            </div>

            {% if stream.img is defined and stream.img is not empty %}
                <div class="mb-1"><strong>Picture:</strong></div>
                {% if stream.originalStreamUrl is defined and stream.originalStreamUrl is not empty %}
                    <div class="mb-1"><strong>Original:</strong> <a target="_blank" href="{{ stream.originalImg }}">{{ stream.originalImg }}</a></div>
                {% endif %}
                <div class="mb-1"><img src="{{ asset('media/stream/' ~ stream.img) }}" /></div>
                <div class="mb-1"><a href="{{ path('admin_delete_stream_picture', {id: stream.id}) }}">Delete</a></div>
            {% endif %}

            {% if stream.redirectToStream is not empty %}
                <div class="mt-5 mb-1"><strong>Redirect:</strong>
                    <div class="mb-1"><a target="_blank" href="{{ path('admin_overloading', {streamId: stream.redirectToStream.id}) }}">{{ stream.redirectToStream.name }}</a> - {{ stream.redirectToStream.id }}</div>
                    <div class="mb-1"><a href="{{ path('admin_reset_redirect', {id: stream.id}) }}">Remove</a></div>
                </div>
            {% endif %}

            <div class="mt-5 mb-1"><strong>Playing errors:</strong> {{ stream.playingError }}</div>
            <div class="mb-1"><a href="{{ path('admin_reset_stream_paying_error', {id: stream.id}) }}">Reset</a></div>
        </div>
    </div>
</div>
{% endblock %}
