{% extends 'default/admin/admin_base.html.twig' %}

{% form_theme form 'bootstrap_5_horizontal_layout.html.twig' %}

{% block title %}Stream Overloading{% endblock %}

{% block body %}
<div id="admin" class="container">
    <div class="row">
        <div class="col-md-6">
            <h3 class="mb-4">Stream Overloading</h3>

            <div class="d-flex justify-content-between mb-3">
                <div><h5>{{ stream.name }}</h5></div>
                <div><a target="_blank" href="https://www.google.com/search?tbm=isch&q={{ stream.name }}">Search Google Images</a></div>
                <div><a target="_blank" href="https://www.google.com/search?q={{ stream.name }}">Search Google</a></div>
            </div>

            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}" role="alert">{{ message }}</div>
                {% endfor %}
            {% endfor %}

            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}

        </div>
    </div>
</div>
{% endblock %}
