{% extends 'emails/base_email.html.twig' %}
{% trans_default_domain 'email' %}

{% block content %}
<h3>{{ 'reset.header'|trans }}</h3>

<p>
    {{ 'general.hello'|trans }}<br>
</p>

<p>
    {{ 'reset.text_1'|trans({'%url%': url}) }}
</p>

<p>
    {% set link = '<a href="' ~ url('reset_password', {'token': token}, false) ~ '">' ~ url('reset_password', {'token': token}, false) ~ '</a>' %}
    {{ 'reset.text_2'|trans({'%link%': link})|raw }}
</p>

<p>
    {{ 'reset.text_3'|trans }}
</p>

<p>
    {{ 'signature.regards'|trans }}<br>
    {{ name }}
</p>
{% endblock %}
