{% trans_default_domain 'email' %}

<h3>{{ 'signup.welcome'|trans }}</h3>

<p>
    {{ 'general.hello'|trans }}
</p>

<p>
    {{ 'signup.text_1'|trans({'%link%': '<a href="' ~ url ~ '">' ~ name ~'</a>'})|raw }}
</p>

<p>
    {{ 'signup.text2'|trans }}
</p>

<p>
    {{ 'signature.regards'|trans }}<br>
    {{ name }}
</p>
