{% trans_default_domain 'email' %}

<h3>{{ 'email_change.header'|trans }}</h3>

<p>
    {{ 'general.hello'|trans }}
</p>

<p>
    {{ 'reset.text_1'|trans({'%new_email%': new_email}) }}
</p>

<p>
    {% set link = '<a href="' ~ url('revert_email', {'token': token}, false) ~ '">' ~ url('revert_email', {'token': token}, false) ~ '</a>' %}
    {{ 'email_change.text_3'|trans({'%link%': link})|raw }}
</p>

<p>
    {{ 'signature.regards'|trans }}<br>
    {{ 'signature.name'|trans }}
</p>
