{% trans_default_domain 'email' %}

<h3>{{ 'email_change.header'|trans }}</h3>

<p>
    {{ 'general.hello'|trans }}
</p>

<p>
<p>
    {{ 'email_change.text_1'|trans({'%new_email%': new_email, '%url%': url}) }}<br>
    {{ 'email_change.text_2'|trans({'%old_email%': old_email}) }}
</p>

<p>
    {% set link = '<a href="' ~ url('revert_email', {'token': token}, false) ~ '">' ~ url('revert_email', {'token': token}, false) ~ '</a>' %}
    {{ 'email_change.text_3'|trans({'%link%': link, '%old_email%': old_email, '%new_email%': new_email})|raw }}
</p>

<p>
    {{ 'email_change.text_4'|trans }}
</p>

<p>
    {{ 'signature.regards'|trans }}<br>
    {{ name }}
</p>
