{% trans_default_domain 'email' %}

<h3>{{ 'password_update.header'|trans }}</h3>

<p>
    {{ 'general.hello'|trans }}
</p>

<p>
    {{ 'password_update.text_1'|trans({'%url%': url}) }}
</p>

<p>
    {% set link = '<a href="' ~ url('reset_password', {'token': token}, false) ~ '">' ~ url('reset_password', {'token': token}, false) ~ '</a>' %}
    {{ 'password_update.text_2'|trans({'%link%': link})|raw }}
</p>

<p>
    {{ 'signature.regards'|trans }}<br>
    {{ name }}
</p>
