{% extends 'emails/base_email.html.twig' %}
{% trans_default_domain 'email' %}

{% block content %}
    <p>{{ 'stream_stats.top_1'|trans({'%user_email%': user_email}) }}</p>

    <p>
        {{ 'stream_stats.top_2'|trans }}<br>
    </p>

    <ul>
    {% for stat in stats %}
        <li>{{ 'stream_stats.stat'|trans({'%name%': stat.name, '%sessions%': stat.total_sessions, '%time%': stat.total_time })|raw }}</li>
    {% endfor %}
    </ul>

    <p>
        {{ 'signature.regards'|trans }}<br>
        <a href="https://www.radio-addict.com">Radio-Addict.com</a>
        {% if user_locale == 'fr' %}
            / <a href="https://www.programmes-radio.com">Programmes-Radio.com</a>
        {% endif %}
        <br>
        -----
    </p>

    <p>
        {{ 'general.sponsor'|trans|raw }}
    </p>

    <p>
        <small>{{ 'stream_stats.disable'|trans }}</small>
    </p>
{% endblock %}