{% import "utils/menu.html.twig" as menu %}

<!DOCTYPE html>
<html lang="{{ app.request.locale }}" class="h-100">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{{ 'general.main_title'|trans }}{% endblock %} - Programmes Radio</title>
    <meta name="description" content="{% block description %}{{ 'general.main_description'|trans }}{% endblock %}" />

    <link rel="preload" href="{{ asset('build/css/main.css') }}?v={{ releaseVersion() }}" as="style">
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" as="font" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap&text=Programmes%20Radio" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    {% block head_supp %}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />

    <link href="{{ asset('build/css/main.css') }}?v={{ releaseVersion() }}" rel="stylesheet">
    <style>
        {% block stylesheets %}
        {% endblock %}
    </style>

    <script type="text/javascript">
        {% block javascript_head %}
        // placeholder
        var scrollToCursor = function() {};
        {% endblock %}
    </script>
</head>
<body class="d-flex flex-column h-100"{% block bodysupp %}{% endblock %}>

{% include('_partials/navbar.html.twig') %}

{% block body %}{% endblock %}

<footer class="footer mt-auto">
    {% set other_locale = app.request.locale == 'fr' ? 'en' : 'fr' %}
    <div class="container text-center">
            {% block footer %}
               ©2017-{{ "now"|date("Y") }} <a href="http://www.funkybits.fr">FunkyBits</a> - <a href="{{ path('legal') }}">{{ 'legal'|trans }}</a> -
                        <a href="{{ path('app', {'_locale': other_locale}) }}">{{ other_locale }}</a>
            {% endblock %}
    </div>
</footer>

{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>#}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
{#<script src="{{ asset('js/bootstrap.min.js') }}?v={{ releaseVersion() }}"></script>#}
<script>
  // redirect IE to legacy website (while it's still working ...)
  function redirectIE() {
    var internetExplorer = navigator.userAgent.match(/Trident.*rv[ :]*11\./i);
    if (internetExplorer) {
      setTimeout(function () {
        // redirect to Chrome download page
        window.location.replace('{{ legacy }}');
      }, 250);
    }
  }

  redirectIE();

  // makes the bootstrap navbar collapse on click on mobile
  const navLinks = document.querySelectorAll('.nav-item:not(.dropdown)');
  const menuToggle = document.getElementById('navbarSupportedContent');
  const bsCollapse = new bootstrap.Collapse(menuToggle, {toggle: false});
  navLinks.forEach( function(l) {
    l.addEventListener('click', function() {
      // avoid flickering on desktop
      if (menuToggle.classList.contains('show')) {
        bsCollapse.toggle();
      }
    });
  });
</script>
{% block javascripts %}
{% endblock %}
{% if app.environment == 'prod' %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ analytics }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ analytics }}');
    </script>
{% endif %}
</body>
</html>
