{% extends 'base_site.html.twig' %}

{% block header_supp %}
    <link rel="preload" href="{{ asset('build/js/app.bundle.js', 'dynamic') }}" as="script">
{% endblock %}

{# now done in vue based on route #}
{#{% block bodysupp %} class="body-app"{% endblock %}#}

{% block javascript_head %}
const baseUrl = '/';
const gtCode = '{{ analytics }}';
const logged = {{ is_granted('IS_AUTHENTICATED_REMEMBERED') ? 'true' : 'false' }};
const locale = '{{ app.request.locale }}';
const geocode = '{{ geocode }}';
const defaultCountry ='{{ getField('default_country', app.request) }}';
const adsense_key = '{{ adsense_key }}';
const adsense_tag_vert_key = '{{ adsense_tag_radio_vert_key }}';
const adsense_tag_vert2_key = '{{ adsense_tag_radio_vert2_key }}';
const adsense_tag_horiz_key = '{{ adsense_tag_radio_horiz_key }}';
const adsense_tag_horiz_fix_key = '{{ adsense_tag_radio_horiz_fix_key }}';

const scrollToCursor = function() {
  const homePaths = ['/fr/', '/en/', '/es/', '/de/', '/pt/'];
  if (window.location.href.includes('schedule') || (homePaths.indexOf(window.location.pathname) !== -1)) {
    document.getElementById('app').__vue_app__.config.globalProperties.$pinia._s.get('schedule').scrollToCursor();
  }
  return false;
};
    {% block static_javascript_head %}
    {% endblock %}
{% endblock %}

{% block body %}
<div class="container-fluid" id="schedule-app">
    <div class="row" style="margin-right: 0 !important; margin-left: 0 !important">
        <div class="col-md-12" style="padding-right: 0 !important; padding-left: 0 !important">
            <div id="app">
{#                <router-view></router-view>#}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/app.js', 'dynamic') }}"></script>
{% endblock %}
