{% set other_locale = app.request.locale == 'fr' ? 'en' : 'fr' %}
{% set flag = app.request.locale == 'fr' ? 'gb' : 'fr' %}
{% set locale_name = 'footer.alternate_lang'|trans %}

<!DOCTYPE html>
<html lang="{{ app.request.locale }}" class="h-100{% block htmlsupp %}{% endblock %}{% if isDarkModeTime() %} progradio-dark{% endif %}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{{ 'general.main_title'|trans }}{% endblock %} - Programmes Radio</title>
    <meta name="description" content="{% block description %}{{ 'general.main_description'|trans }}{% endblock %}" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.gstatic.com/l/font?kit=neILzCirqoswsqX9_oC0OoliAvSRzBR3yET4sg&skey=7ed805a363b4659c&v=v23" as="font" crossorigin>
{#    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap&text=Programmes%20Radio" rel="stylesheet">#}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <link rel="preconnect" href="https://cdn.jsdelivr.net">
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"></noscript>

    {% block head_supp %}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />

    <link href="{{ asset('build/css/main_light.css') }}?v={{ releaseVersion() }}" rel="stylesheet">
    <link href="{{ asset('build/css/main_dark.css') }}?v={{ releaseVersion() }}" rel="stylesheet">
    <style>
        {% block stylesheets %}
        {% endblock %}
    </style>

    <script type="text/javascript">
        const darkModeStartHour = {{ constant('App\\Twig\\DarkMode::DARK_MODE_START_HOUR') }};
        const darkModeEndHour = {{ constant('App\\Twig\\DarkMode::DARK_MODE_END_HOUR') }};

        {% block javascript_head %}
            // placeholder
            const scrollToCursor = function() { return true; };
        {% endblock %}
    </script>
</head>
<body class="d-flex flex-column h-100"{% block bodysupp %}{% endblock %}>

{% include('_partials/navbar.html.twig') %}

{% block body %}{% endblock %}

<footer class="footer mt-auto">
    <div class="container text-center">
            {% block footer %}
               ©2017-{{ "now"|date("Y") }} <a href="http://www.funkybits.fr">FunkyBits</a> - <a href="{{ path('legal') }}">{{ 'legal'|trans }}</a> -
                <a title="{{ locale_name }}" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': other_locale})) }}"><img class="gb-flag gb-flag--micro" src="{{ asset('/img/flags/' ~ flag ~ '.svg') }}" alt="{{ locale_name }}"></a>
            {% endblock %}
    </div>
</footer>

{#<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>#}
<script async src="{{ asset('js/bootstrap.bundle.min.js') }}?v={{ releaseVersion() }}"></script>

<script>
  {# redirect IE to legacy website (while it's still working ...)  #}
  function redirectIE() {
    const internetExplorer = navigator.userAgent.match(/Trident.*rv[ :]*11\./i);
    if (internetExplorer) {
      setTimeout(function () {
        // redirect to Chrome download page
        window.location.replace('{{ legacy }}');
      }, 250);
    }
  }

  redirectIE();

  const sendGaEvent = (event, category, label, value) => {
    if (typeof gtag !== 'undefined') {
      gtag('event', event, {
        'event_category': category,
        'event_label': label,
        'value': value
      });
    }
  };
</script>

{% include('_partials/darkmode_script.html.twig') %}

{% block javascripts %}
{% endblock %}
{% if app.environment == 'prod' %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ analytics }}&l=dataLayer"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ analytics }}');
    </script>
{% endif %}
</body>
</html>
