{% import "utils/menu.html.twig" as menu %}

<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{{ 'general.main_title'|trans }}{% endblock %} - Programmes Radio</title>
    <meta name="description" content="{% block description %}{{ 'general.main_description'|trans }}{% endblock %}" />

    <link rel="preload" href="{{ asset('build/css/main.css') }}?v={{ releaseVersion() }}" as="style">
    <link rel="preload" href="{{ asset('build/fonts/glyphicons-halflings-regular.woff2') }}" as="font" crossorigin="anonymous">

    {% block head_supp %}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />

    <link href="{{ asset('build/css/main.css') }}?v={{ releaseVersion() }}" rel="stylesheet">
    <style>
        {% block stylesheets %}
        {% endblock %}
    </style>

    <script type="text/javascript">
        {% block javascript_head %}
        // placeholder
        var scrollToCursor = function() {};
        {% endblock %}
    </script>
</head>
<body{% block bodysupp %}{% endblock %}>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if 'Android' in app.request.headers.get('User-Agent') and 'progradio' not in app.request.headers.get('User-Agent') %}
                <div class="menu-appstore-icon-main">
                    <a href="https://play.google.com/store/apps/details?id=io.programmes_radio.www.progradio"><img src="{{ asset('img/icon-googleplay.png') }}" alt="Android app"></a>
                </div>
            {% endif %}
            <a class="navbar-brand" href="{{ path('app') }}#/schedule" onclick="scrollToCursor(this)">
                <div class="navbar-brand-name">
                    <img src="{{ asset('img/logo.png') }}" srcset="{{ asset('img/logo.svg') }}" alt="Programmes radios">Programmes Radio
                </div>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('app') }}#/schedule" onclick="scrollToCursor(this)" style="padding-right: 0">{{ 'menu.schedule'|trans }}</a></li>
                {{ menu.collections_mobile() }}
                {{ menu.collections() }}
                <li><a href="{{ path('app') }}#/streaming" style="padding-right: 0">{{ 'menu.streaming'|trans }}</a></li>
                <li class="dropdown hidden-xs">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li id="streaming-menu-favorites" {% if hasStreamFavorites(app.user, app.request.attributes) == false %} class="disabled"{% endif %}>
                            <a href="{{ absolute_url('/' ~ app.request.locale ~ '/#/streaming/favorites') }}">
                                {{ 'menu.favorites'|trans }}
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="hidden-sm hidden-md"><a href="{{ path('now') }}">{{ 'menu.now'|trans }}</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'menu.plus'|trans}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="visible-sm visible-md"><a href="{{ path('now') }}">{{ 'menu.now'|trans }}</a></li>
                        <li><a href="{{ path('faq') }}">{{ 'menu.faq'|trans }}</a></li>
                        <li><a href="{{ path('contact') }}">{{ 'menu.contact'|trans }}</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="https://play.google.com/store/apps/details?id=io.programmes_radio.www.progradio"><div class="menu-appstore-icon"><img src="{{ asset('img/icon-googleplay.png') }}" alt="Android app"></div>Play Store</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-user{{ is_granted('IS_AUTHENTICATED_REMEMBERED') ? ' menu-connected' : '' }}" aria-hidden="true"></span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('admin') }}">{{ 'menu.admin.dashboard'|trans }}</a></li>
                                <li><a href="{{ path('admin_shares') }}">{{ 'menu.admin.shares'|trans }}</a></li>
                                <li role="separator" class="divider"></li>
                            {% endif %}
                            <li><a href="{{ path('user_page') }}">{{ 'menu.account'|trans }}</a></li>
                            <li><a href="{{ path('app_logout') }}">{{ 'menu.logout'|trans }}</a></li>
                        {% else %}
                            <li><a href="{{ path('app_login') }}">{{ 'menu.signon'|trans }}</a></li>
                            <li><a href="{{ path('app_register') }}">{{ 'menu.signup'|trans }}</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block body %}{% endblock %}

<footer class="footer">
{% set other_locale = app.request.locale == 'fr' ? 'en' : 'fr' %}
    <div class="container">
        <div class="row">
            {% block footer %}
                <div class="col-md-12 col-xs-12"><p class="text-center">©2017-{{ "now"|date("Y") }} <a href="http://www.funkybits.fr">FunkyBits</a> - <a href="{{ path('legal') }}">{{ 'legal'|trans }}</a> -
<a href="{{ path('app', {'_locale': other_locale}) }}">{{ other_locale }}</a></p></div>
            {% endblock %}
        </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script>
  // makes the bootstrap navbar collapse on click on mobile
  $(document).on('click','.navbar-collapse.in',function(e) {
    if( $(e.target).is('a:not(".dropdown-toggle")') ) {
      $(this).collapse('hide');
    }
  });
</script>
{% block javascripts %}
{% endblock %}
{% if app.environment == 'prod' %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ analytics }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ analytics }}');
    </script>
{% endif %}
</body>
</html>
