{% set locales = ['fr', 'en', 'es', 'de', 'pt', 'it','pl','el', 'ar', 'ro'] %}
{% set flags = {'fr': 'fr', 'en': 'gb', 'es': 'es', 'de': 'de', 'pt': 'pt', 'it': 'it', 'pl': 'pl', 'el': 'gr', 'ar': 'ma', 'ro': 'ro'} %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}"{% if app.request.locale == "ar"%} dir="rtl"{% endif %} class="h-100{% block htmlsupp %}{% endblock %}" {% if isDarkModeTime(app.request) %}data-bs-theme="dark"{% endif %}>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{{ getField('title_key', app.request)|trans }}{% endblock %} - {{ getDomainName(app.request) }}</title>
    <meta name="description" content="{% block description %}{{ 'general.main_description'|trans }}{% endblock %}" />

    <link rel="preconnect" href="https://cdn.jsdelivr.net">
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">

{#    <link rel="preconnect" href="https://fonts.gstatic.com">#}
{#    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Lobster&text=AdictRadoProgmes&display=swap" as="font" crossorigin>#}

    <link rel="preload" as="font" href="/fonts/logo.woff2" crossorigin>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="{{ cdn_base_url }}">

    <noscript>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap">
    </noscript>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap" media="print" onload="this.onload=null;this.removeAttribute('media');" fetchpriority="high">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" media="print" onload="this.onload=null;this.removeAttribute('media');" fetchpriority="high">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    {% block head_supp %}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" id="favicon" type="image/png" href="/favicon.png" />

    <link rel="preload" href="{{ asset('build/css/theme.css', 'dynamic') }}" as="style">

    {#    <link href="{{ asset('build/css/main_light.css', 'dynamic') }}" rel="stylesheet">#}
    {#    <link href="{{ asset('build/css/main_dark.css', 'dynamic') }}">#}

    <link href="{{ asset('build/css/theme.css', 'dynamic') }}" rel="stylesheet">

    <style>
        {% block stylesheets %}
        {% endblock %}
    </style>

    {% set canonical_locale = (isProgRadio(app.request) == true) ? 'fr' : 'en' %}

    {% if stream is defined and stream is not null and stream.language is defined and stream.language is not null %}
        {% if 'french' in stream.language or 'francais' in stream.language or 'français' in stream.language %}
            {% set canonical_locale = 'fr' %}
        {% elseif 'spanish' in stream.language or 'español' in stream.language %}
            {% set canonical_locale = 'es' %}
        {% elseif 'portuguese' in stream.language %}
            {% set canonical_locale = 'pt' %}
        {% elseif 'polish' in stream.language %}
            {% set canonical_locale = 'pl' %}
        {% elseif 'greek' in stream.language %}
            {% set canonical_locale = 'el' %}
        {% elseif 'arabic' in stream.language %}
            {% set canonical_locale = 'ar' %}
        {% elseif 'german' in stream.language %}
            {% set canonical_locale = 'de' %}
        {% elseif 'italian' in stream.language %}
            {% set canonical_locale = 'it' %}
        {% elseif 'romanian' in stream.language %}
            {% set canonical_locale = 'ro' %}
        {% endif %}
    {% endif %}

    {% if 'www' in app.request.uri == false %}
        <link rel="canonical" hreflang="{{ canonical_locale }}" href="{{ absolute_url(path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': canonical_locale})))|replace({'https://': 'https://www.'})|default(app.request.uri) }}" />
    {%  else %}
        <link rel="canonical" hreflang="{{ canonical_locale }}" href="{{ absolute_url(path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': canonical_locale}))) }}" />
    {% endif %}

    {% if canonical_locale is defined %}
        {% for locale in locales %}
            {% if canonical_locale != locale %}
                <link rel="alternate" hreflang="{{ locale }}" href="{{ absolute_url(path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': locale}))) }}" />
            {% endif %}
        {% endfor %}
    {% endif %}

    <script type="text/javascript">
      const darkModeStartHour = {{ constant('App\\Twig\\DarkMode::DARK_MODE_START_HOUR') }};
      const darkModeEndHour = {{ constant('App\\Twig\\DarkMode::DARK_MODE_END_HOUR') }};

      const streamsProxy = '{{ streams_proxy }}';
      const streamsProxyKey = '{{ streams_proxy_key }}';
      const apiUrl = '{{ api_url }}';
      const cdnBaseUrl = '{{ cdn_base_url }}';
      const appEnv = '{{ app.environment }}';
      const isProgRadio = {% if isProgRadio(app.request) == true %}true{% else %}false{% endif%};
      {# const isAdProtected = {{ isAdProtected(app.request) == true ? 'true' : 'false' }}; #}
      {# const amazon_affiliate_id = '{{ amazon_affiliate_id }}'; #}

      {% block javascript_head %}
      // placeholder
      const scrollToCursor = function() { return true; };
      {% endblock %}
    </script>
</head>
<body class="d-flex flex-column h-100{% block bodyclasssupp %}{% endblock %}"{% block bodysupp %}{% endblock %}>

{% include('_partials/navbar.html.twig') %}

{% block body %}{% endblock %}

<footer class="footer mt-auto">
    <div class="container text-center">
        {% block footer %}
            ©2017-{{ "now"|date("Y") }} <a href="http://www.funkybits.fr">FunkyBits</a> - <a href="{{ path('legal') }}">{{ 'legal'|trans }}</a> -

            {% for locale in locales %}
                {% if app.request.locale != locale %}
                    {% set redirect_url = url(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': locale}))|url_encode %}
                    <a title="{{ "footer.#{locale}"|trans }}" href="{{ path('locale_switch', {'locale': locale}) }}?redirect={{ redirect_url }}">
                        <img class="gb-flag gb-flag--micro" src="{{ asset('img/flags/' ~ flags[locale] ~ '.svg') }}" alt="{{ "footer.#{locale}"|trans }}">
                    </a>
                {% endif %}
            {% endfor %}
        {% endblock %}
    </div>
</footer>

{#<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin"anonymous"></script>#}
<script type="module" async src="{{ asset('js/bootstrap.bundle.min.js', 'dynamic') }}"></script>

{#

Due to the data model evolving with subradios the IE compatible js no longer works
May try to update it later as there's still IE11 visits

<script nomodule>
// redirect IE to legacy website (while it's still working ...)
function redirectIE() {
  const internetExplorer = navigator.userAgent.match(/Trident.*rv[ :]*11\./i);
  if (internetExplorer) {
    setTimeout(function () {
      // redirect to Chrome download page
      window.location.replace('{{ legacy }}');
    }, 250);
  }
}

redirectIE();
</script>
#}

<script>
  const sendGaEvent = (event, category, label, value) => {
    if (typeof gtag !== 'undefined') {
      gtag('event', event, {
        'event_category': category,
        'event_label': label,
        'value': value
      });
    }
  };

  const setCookie = (name, state) => {
      {# imported from vue app #}
    const COOKIE_PARAMS = {
      path: '/',
      'max-age': 31536000,
      expires: 'mage-age',
      secure: true,
      SameSite: 'Lax'
    };

    // delete ?
    if (state === undefined || state === null) {
      document.cookie = `${name}=;path=${COOKIE_PARAMS.path};SameSite=${COOKIE_PARAMS.SameSite};secure=true;expires=Thu, 01 Jan 1970 00:00:01 GMT`;
      return;
    }

    const opts = Object.keys(COOKIE_PARAMS).map(k => `;${k}=${COOKIE_PARAMS[k]}`).join('');
    document.cookie = `${name}=${state === true ? '1' : '0'}${opts}`;
  };
</script>

{% include('_partials/darkmode_script.html.twig') %}

{% block javascripts %}
{% endblock %}

{% if app.environment == 'prod' %}
    <!-- Google tag (gtag.js) -->
    <script defer src="https://www.googletagmanager.com/gtag/js?id={{ analytics }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ analytics }}');
    </script>
{% endif %}
</body>
</html>
