{% extends 'base.html.twig' %}

{% block body_container %}
    {% include('_partials/navbar.html.twig') %}

    {% block body %}{% endblock %}

    <footer class="footer mt-auto">
        <div class="container text-center">
            {% block footer %}
                ©2017-{{ "now"|date("Y") }} <a href="https://www.funkybits.fr">FunkyBits</a> - <a href="{{ path('legal') }}">{{ 'legal'|trans }}</a> -

                {% for locale in locales %}
                    {% if app.request.locale != locale %}
                        <a title="{{ "footer.#{locale}"|trans }}" href="{{ url(app.current_route, app.current_route_parameters|merge({'_locale': locale})) }}">
                            <img class="gb-flag gb-flag--micro" loading="lazy" src="{{ asset('img/flags/' ~ flags[locale] ~ '.svg') }}" alt="{{ "footer.#{locale}"|trans }}">
                        </a>
                    {% endif %}
                {% endfor %}
            {% endblock %}
        </div>
    </footer>
{% endblock %}