{% set isProgRadioRequest = isProgRadio(app.request) %}
{% set isDarkModeRequest = isDarkModeTime(app.request) %}
{% set domainNameRequest = getDomainName(app.request) %}
{% set locales = ['fr', 'en', 'es', 'de', 'pt', 'it','pl','el', 'ar', 'ro','hu','tr'] %}
{% set flags = {'fr': 'fr', 'en': 'gb', 'es': 'es', 'de': 'de', 'pt': 'pt', 'it': 'it', 'pl': 'pl', 'el': 'gr', 'ar': 'ma', 'ro': 'ro', 'hu': 'hu', 'tr': 'tr'} %}
{# as this call his made a numerous place and seems expensive we put it as a global here #}
{% set is_logged = is_granted('IS_AUTHENTICATED_REMEMBERED') %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}"{% if app.request.locale == "ar"%} dir="rtl"{% endif %} class="h-100{% block htmlsupp %}{% endblock %}" {% if isDarkModeRequest %}data-bs-theme="dark"{% endif %}>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{{ getField('title_key', app.request)|trans }}{% endblock %} - {{ domainNameRequest }}</title>
    <meta name="description" content="{% block description %}{{ 'general.main_description'|trans }}{% endblock %}" />

    <link rel="preload" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">

{#    <link rel="preconnect" href="https://fonts.gstatic.com">#}
{#    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Lobster&text=AdictRadoProgmes&display=swap" as="font" crossorigin>#}

{#    {% set logo_font = asset('fonts/logo.woff2') %}#}
{#    <link rel="preload" as="font" href="{{ preload(logo_font, {as: 'font'}) }}" type="font/woff2" crossorigin="anonymous">#}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="{{ cdn_base_url }}">

    <noscript>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </noscript>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" media="print" onload="this.onload=null;this.removeAttribute('media');" fetchpriority="high">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    {% block head_supp %}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" id="favicon" type="image/png" href="/img/favicon.png" />

{#    {% set theme_css = asset('build/css/theme.css', 'dynamic') %}#}
{#    <link rel="preload" href="{{ preload(theme_css, {as: 'style'}) }}" as="style">#}
{#    <link href="{{ theme_css }}" rel="stylesheet">#}

    {% if app.environment == 'dev' %}
        <script type="module" src="http://localhost:8000/build/sass/main_global.scss"></script>
    {% endif %}

    {% if app.environment == 'prod' %}
        {{ vite_entry_link_tags('theme') }}
    {% endif %}

    <style>
        [v-cloak] {display: none}
        {% block stylesheets %}
        {% endblock %}
    </style>

    {% set canonical_locale = (isProgRadioRequest == true) ? 'fr' : 'en' %}

    {% if stream is defined and stream is not null and stream.language is defined and stream.language is not null %}
        {% if 'french' in stream.language or 'francais' in stream.language or 'français' in stream.language %}
            {% set canonical_locale = 'fr' %}
        {% elseif 'spanish' in stream.language or 'español' in stream.language %}
            {% set canonical_locale = 'es' %}
        {% elseif 'portuguese' in stream.language %}
            {% set canonical_locale = 'pt' %}
        {% elseif 'polish' in stream.language %}
            {% set canonical_locale = 'pl' %}
        {% elseif 'greek' in stream.language %}
            {% set canonical_locale = 'el' %}
        {% elseif 'arabic' in stream.language %}
            {% set canonical_locale = 'ar' %}
        {% elseif 'german' in stream.language %}
            {% set canonical_locale = 'de' %}
        {% elseif 'italian' in stream.language %}
            {% set canonical_locale = 'it' %}
        {% elseif 'romanian' in stream.language %}
            {% set canonical_locale = 'ro' %}
        {% elseif 'hungarian' in stream.language %}
            {% set canonical_locale = 'hu' %}
        {% elseif 'turskish' in stream.language %}
            {% set canonical_locale = 'tr' %}
        {% endif %}
    {% endif %}

    {% if 'www' in app.request.uri == false %}
        <link rel="canonical" hreflang="{{ canonical_locale }}" href="{{ absolute_url(path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': canonical_locale})|merge(app.request.query.all)))|replace({'https://': 'https://www.'})|default(app.request.uri) }}" />
    {%  else %}
        <link rel="canonical" hreflang="{{ canonical_locale }}" href="{{ absolute_url(path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': canonical_locale})|merge(app.request.query.all))) }}" />
    {% endif %}

    {% block canonical %}
        {% if canonical_locale is defined %}
            {% for locale in locales %}
                {% if canonical_locale != locale %}
                    {% if 'www' in app.request.uri == false %}
        <link rel="alternate" hreflang="{{ locale }}" href="{{ absolute_url(path(app.request.get('_route'), app.request.get('_route_params')|merge(app.request.query.all)|merge({'_locale': locale})))|replace({'https://': 'https://www.'}) }}" />
                    {%  else %}
        <link rel="alternate" hreflang="{{ locale }}" href="{{ absolute_url(path(app.request.get('_route'), app.request.get('_route_params')|merge(app.request.query.all)|merge({'_locale': locale}))) }}" />
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endblock %}

    <script type="text/javascript">
      const darkModeStartHour = {{ constant('App\\Twig\\DarkMode::DARK_MODE_START_HOUR') }};
      const darkModeEndHour = {{ constant('App\\Twig\\DarkMode::DARK_MODE_END_HOUR') }};

      const streamsProxy = '{{ streams_proxy }}';
      const streamsProxyKey = '{{ streams_proxy_key }}';
      const apiUrl = '{{ api_url }}';
      const cdnBaseUrl = '{{ cdn_base_url }}';
      const appEnv = '{{ app.environment }}';
      const isProgRadio = {% if isProgRadioRequest == true %}true{% else %}false{% endif%};
      const popupUrl = '{{ url('streams_one_popup_short', {'stream': '123'}) }}';
      {# const amazon_affiliate_id = '{{ amazon_affiliate_id }}'; #}

      {% block javascript_head %}
      // placeholder
      const scrollToCursor = function() { return true; };
      {% endblock %}
    </script>
</head>
<body class="d-flex flex-column h-100{% block bodyclasssupp %}{% endblock %}">

{% block body_container %}
{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
{#<script type="module" async src="{{ asset('js/bootstrap.bundle.min.js', 'dynamic') }}"></script>#}

<script>
  const sendGaEvent = (event, category, label, value) => {
    if (typeof gtag !== 'undefined') {
      gtag('event', event, {
        'event_category': category,
        'event_label': label,
        'value': value
      });
    }
  };

  const setCookie = (name, state) => {
      {# imported from vue app #}
    const COOKIE_PARAMS = {
      path: '/',
      'max-age': 31536000,
      expires: 'mage-age',
      secure: true,
      SameSite: 'Lax'
    };

    // delete ?
    if (state === undefined || state === null) {
      document.cookie = `${name}=;path=${COOKIE_PARAMS.path};SameSite=${COOKIE_PARAMS.SameSite};secure=true;expires=Thu, 01 Jan 1970 00:00:01 GMT`;
      return;
    }

    const opts = Object.keys(COOKIE_PARAMS).map(k => `;${k}=${COOKIE_PARAMS[k]}`).join('');
    document.cookie = `${name}=${state === true ? '1' : '0'}${opts}`;
  };
</script>

{% include('_partials/darkmode_script.html.twig') %}

{% block javascripts %}
{% endblock %}

{% if app.environment == 'prod' %}
    <!-- Google tag (gtag.js) -->
    <script defer src="https://www.googletagmanager.com/gtag/js?id={{ analytics }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ analytics }}');
    </script>
{% endif %}
</body>
</html>
