{% macro collections_menu(collections) %}
    <li class="nav-item dropdown d-none d-sm-block">
        <a class="nav-link dropdown-toggle pe-0" href="#" id="navbarCollectionsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarCollectionsDropdown">
            <li>
                <a class="dropdown-item spa-link" href="{{ path('app') }}schedule/all">
                    {{ 'menu.all'|trans }}
                </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            {% for collection in collections %}
                {% if collection.code_name == 'favorites' %}
                    <li><hr class="dropdown-divider"></li>
                {% endif %}
                <li>
                    <a class="dropdown-item spa-link" href="{{ path('app') }}schedule/{{ collection.code_name }}">
                        {{ collection["name_" ~ app.request.locale|upper] }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>
{% endmacro %}

{% macro collections_mobile(collections) %}
    <li data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" class="nav-item">
        <a class="nav-link ps-3 py-1 spa-link" href="{{ path('app') }}schedule/all">
            &rarr; {{ 'menu.all'|trans }}
        </a>
    </li>
    <li><hr class="dropdown-divider"></li>
    {% for collection in collections %}
        {% if collection.code_name == 'favorites' %}
            <li><hr class="dropdown-divider"></li>
        {% endif %}
        <li data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" class="nav-item">
            <a class="nav-link ps-3 py-1 spa-link" href="{{ path('app') }}schedule/{{ collection.code_name }}">
                &rarr; {{ collection.name_FR }}
            </a>
        </li>
    {% endfor %}
{% endmacro %}

{% macro streaming_menu() %}
    <ul class="dropdown-menu" aria-labelledby="navbarCollectionsDropdown">
        {% if app.request.locale == 'fr' %}
            <li>
                <a class="dropdown-item spa-link" href="{{ path('app') }}streaming/fr">{{ 'menu.favorites_menu.fr'|trans }}</a>
            </li>
            <li>
                <a class="dropdown-item spa-link" href="{{ path('app') }}streaming/be">{{ 'menu.favorites_menu.be'|trans }}</a>
            </li>
            <li>
                <a class="dropdown-item spa-link" href="{{ path('app') }}streaming/ch">{{ 'menu.favorites_menu.ch'|trans }}</a>
            </li>
            <li>
                <a class="dropdown-item spa-link" href="{{ path('app') }}streaming/lu">{{ 'menu.favorites_menu.lu'|trans }}</a>
            </li>
            <li>
                <a class="dropdown-item spa-link" href="{{ path('app') }}streaming/mc">{{ 'menu.favorites_menu.mc'|trans }}</a>
            </li>
        {% endif %}

        {% if app.request.locale == 'es' %}
            <li>
                <a class="dropdown-item spa-link" href="{{ path('app') }}streaming/es">{{ 'menu.favorites_menu.es'|trans }}</a>
            </li>
            <li>
                <a class="dropdown-item spa-link" href="{{ path('app') }}streaming/mx">{{ 'menu.favorites_menu.mx'|trans }}</a>
            </li>
            <li>
                <a class="dropdown-item spa-link" href="{{ path('app') }}streaming/co">{{ 'menu.favorites_menu.co'|trans }}</a>
            </li>
            <li>
                <a class="dropdown-item spa-link" href="{{ path('app') }}streaming/ar">{{ 'menu.favorites_menu.ar'|trans }}</a>
            </li>
            <li>
                <a class="dropdown-item spa-link" href="{{ path('app') }}streaming/pe">{{ 'menu.favorites_menu.pe'|trans }}</a>
            </li>
        {% endif %}

        {% if app.request.locale == 'en' %}
            <li>
                <a class="dropdown-item spa-link" href="{{ path('app') }}streaming/us">{{ 'menu.favorites_menu.us'|trans }}</a>
            </li>
            <li>
                <a class="dropdown-item spa-link" href="{{ path('app') }}streaming/ca">{{ 'menu.favorites_menu.ca'|trans }}</a>
            </li>
            <li>
                <a class="dropdown-item spa-link" href="{{ path('app') }}streaming/gb">{{ 'menu.favorites_menu.gb'|trans }}</a>
            </li>
            <li>
                <a class="dropdown-item spa-link" href="{{ path('app') }}streaming/au">{{ 'menu.favorites_menu.au'|trans }}</a>
            </li>
            <li>
                <a class="dropdown-item spa-link" href="{{ path('app') }}streaming/nz">{{ 'menu.favorites_menu.nz'|trans }}</a>
            </li>
            <li>
                <a class="dropdown-item spa-link" href="{{ path('app') }}streaming/ie">{{ 'menu.favorites_menu.ie'|trans }}</a>
            </li>
        {% endif %}

        {% if app.request.locale == 'de' %}
            <li>
                <a class="dropdown-item spa-link" href="{{ path('app') }}streaming/de">{{ 'menu.favorites_menu.de'|trans }}</a>
            </li>
            <li>
                <a class="dropdown-item spa-link" href="{{ path('app') }}streaming/at">{{ 'menu.favorites_menu.at'|trans }}</a>
            </li>
            <li>
                <a class="dropdown-item spa-link" href="{{ path('app') }}streaming/ch">{{ 'menu.favorites_menu.ch'|trans }}</a>
            </li>
        {% endif %}

        {% if app.request.locale == 'pt' %}
            <li>
                <a class="dropdown-item spa-link" href="{{ path('app') }}streaming/pt">{{ 'menu.favorites_menu.pt'|trans }}</a>
            </li>
            <li>
                <a class="dropdown-item spa-link" href="{{ path('app') }}streaming/br">{{ 'menu.favorites_menu.br'|trans }}</a>
            </li>
        {% endif %}

        {% if app.request.locale == 'it' %}
            <li>
                <a class="dropdown-item spa-link" href="{{ path('app') }}streaming/it">{{ 'menu.favorites_menu.it'|trans }}</a>
            </li>
            <li>
                <a class="dropdown-item spa-link" href="{{ path('app') }}streaming/ch">{{ 'menu.favorites_menu.ch'|trans }}</a>
            </li>
            <li>
                <a class="dropdown-item spa-link" href="{{ path('app') }}streaming/sm">{{ 'menu.favorites_menu.sm'|trans }}</a>
            </li>
            <li>
                <a class="dropdown-item spa-link" href="{{ path('app') }}streaming/va">{{ 'menu.favorites_menu.va'|trans }}</a>
            </li>
            <li>
                <a class="dropdown-item spa-link" href="{{ path('app') }}streaming/mt">{{ 'menu.favorites_menu.mt'|trans }}</a>
            </li>
            <li>
                <a class="dropdown-item spa-link" href="{{ path('app') }}streaming/mt">{{ 'menu.favorites_menu.mc'|trans }}</a>
            </li>
        {% endif %}

        {% if app.request.locale == 'el' %}
            <li>
                <a class="dropdown-item spa-link" href="{{ path('app') }}streaming/gr">{{ 'menu.favorites_menu.gr'|trans }}</a>
            </li>
        {% endif %}

        {% if app.request.locale == 'pl' %}
            <li>
                <a class="dropdown-item spa-link" href="{{ path('app') }}streaming/pl">{{ 'menu.favorites_menu.pl'|trans }}</a>
            </li>
        {% endif %}

        {% if app.request.locale == 'ro' %}
            <li>
                <a class="dropdown-item spa-link" href="{{ path('app') }}streaming/ro">{{ 'menu.favorites_menu.ro'|trans }}</a>
            </li>
        {% endif %}

        {% if app.request.locale == 'ar' %}
            <li>
                <a class="dropdown-item spa-link" href="{{ path('app') }}streaming/dz">{{ 'menu.favorites_menu.dz'|trans }}</a>
                <a class="dropdown-item spa-link" href="{{ path('app') }}streaming/ma">{{ 'menu.favorites_menu.ma'|trans }}</a>
                <a class="dropdown-item spa-link" href="{{ path('app') }}streaming/tn">{{ 'menu.favorites_menu.tn'|trans }}</a>
            </li>
        {% endif %}

        <li><hr class="dropdown-divider"></li>
        <li>
            <a class="dropdown-item spa-link" href="{{ path('app') }}streaming/all">{{ 'menu.favorites_menu.all'|trans }}</a>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li>
            <a class="dropdown-item spa-link" href="{{ path('app') }}streaming/favorites">{{ 'menu.favorites'|trans }}</a>
        </li>
    </ul>
{% endmacro %}

{% macro streaming_mobile() %}
    <li class="nav-item" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu">
        <a class="nav-link ps-3 py-1 spa-link" href="{{ path('app') }}streaming/fr">
            &rarr; {{ 'menu.favorites_menu.fr'|trans }}
        </a>
    </li>
    <li class="nav-item" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu">
        <a class="nav-link ps-3 py-1 spa-link" href="{{ path('app') }}streaming/all">
            &rarr; {{ 'menu.favorites_menu.all'|trans }}
        </a>
    </li>
    <li><hr class="dropdown-divider"></li>
    <li class="nav-item" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu">
        <a class="nav-link ps-3 py-1 spa-link" href="{{ path('app') }}streaming/favorites">
            &rarr; {{ 'menu.favorites'|trans }}
        </a>
    </li>
{% endmacro %}
