{% macro collections_menu(collections) %}
    <li class="nav-item dropdown d-none d-sm-block">
        <a class="nav-link dropdown-toggle pe-0" href="#" id="navbarCollectionsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarCollectionsDropdown">
            {% for collection in collections %}
                {% if collection.code_name == 'favorites' %}
                    <li><hr class="dropdown-divider"></li>
                {% endif %}
                <li>
                    {#                <a href="{{ path('app', {'c': collection.code_name}) }}" onclick="switchCollection(event, '{{ collection.code_name }}')">#}
                    {#                    {{ collection.name_FR }}#}
                    {#                </a>#}
                    <a class="dropdown-item" href="{{ absolute_url('/' ~ app.request.locale ~ '/#/schedule/' ~ collection.code_name) }}">
                        {{ collection.name_FR }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>
{% endmacro %}

{% macro collections_mobile(collections) %}
    {% for collection in collections %}
    <li data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" class="nav-item">
        <a class="nav-link ps-3 py-1" href="{{ absolute_url('/' ~ app.request.locale ~ '/#/schedule/' ~ collection.code_name) }}">
            &rarr; {{ collection.name_FR }}
        </a>
    </li>
    {% endfor %}
{% endmacro %}

{% macro streaming_mobile() %}
    <li class="nav-item" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu">
        <a class="nav-link ps-3 py-1" href="{{ absolute_url('/' ~ app.request.locale ~ '/#/streaming/fr') }}">
            &rarr; {{ 'menu.favorites_menu.fr'|trans }}
        </a>
    </li>
    <li class="nav-item" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu">
        <a class="nav-link ps-3 py-1 " href="{{ absolute_url('/' ~ app.request.locale ~ '/#/streaming/all') }}">
            &rarr; {{ 'menu.favorites_menu.all'|trans }}
        </a>
    </li>
    <li class="nav-item" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu">
        <a class="nav-link ps-3 py-1" href="{{ absolute_url('/' ~ app.request.locale ~ '/#/streaming/favorites') }}">
            &rarr; {{ 'menu.favorites'|trans }}
        </a>
    </li>
{% endmacro %}
